Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/

chore: dead-code sweep — delete what is provably unreferenced, keep what isn't (#351) (#395)
  AGENTS.md
  archive/AUTO_AUTHOR_GAP_ANALYSIS.md
  archive/KEYBOARD_NAVIGATION_REPORT.md
  archive/README.md
  archive/application-summary.md
  backend/app/db/database.py
  backend/draft_generation_test_summary.md
  backend/refactor_tests.ps1
  backend/run_tests.ps1
  backend/test_draft_generation_manual.md
  backend/tests/test_api/test_routes/test_email_verification.py
  backend/tests/test_api/test_routes/test_password_change.py
  backend/tests/test_api/test_routes/test_profile_picture.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/ChapterQuestionsEndToEnd.test.tsx
  frontend/src/components/chapters/TiptapDemo.tsx
  frontend/src/e2e/responsive.spec.ts
  frontend/src/lib/api/userClient.ts
  frontend/src/lib/testing/responsiveHelpers.ts
  frontend/src/lib/utils.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(backend): close nine latent fail-opens and robustness gaps
  .github/workflows/deploy-staging.yml
  .github/workflows/e2e-staging-tests.yml
  .github/workflows/tests.yml
  backend/app/api/dependencies.py
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/users.py
  backend/app/api/endpoints/webhooks.py
  backend/app/core/better_auth_session.py
  backend/app/core/config.py
  backend/app/services/ai_service.py
  backend/tests/test_api/test_dependencies.py
  backend/tests/test_core/test_better_auth_session.py
  backend/tests/test_core/test_hardening_352.py
  backend/tests/test_core/test_security.py
  backend/tests/test_services/test_ai_service_draft_generation.py
  frontend/src/app/api/auth/[...all]/route.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(backend): bound retry count and pagination depth; document the ordering limit
  backend/app/api/endpoints/users.py
  backend/app/api/endpoints/webhooks.py
  backend/app/core/config.py
  backend/tests/test_core/test_hardening_352.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(webhooks): enforce Stripe event ordering in the write, not in a read before it
  backend/app/api/endpoints/webhooks.py
  backend/app/db/user.py
  backend/tests/test_core/test_hardening_352.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(backend): close nine latent fail-opens and robustness gaps (#352) (#396)
  .github/workflows/deploy-staging.yml
  .github/workflows/e2e-staging-tests.yml
  .github/workflows/tests.yml
  backend/app/api/dependencies.py
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/users.py
  backend/app/api/endpoints/webhooks.py
  backend/app/core/better_auth_session.py
  backend/app/core/config.py
  backend/app/db/user.py
  backend/app/services/ai_service.py
  backend/tests/test_api/test_dependencies.py
  backend/tests/test_core/test_better_auth_session.py
  backend/tests/test_core/test_hardening_352.py
  backend/tests/test_core/test_security.py
  backend/tests/test_services/test_ai_service_draft_generation.py
  frontend/src/app/api/auth/[...all]/route.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(toc): drop the transaction wrappers so a concurrent edit returns 409 everywhere
  backend/app/db/toc_transactions.py
  backend/tests/test_db/test_toc_transactions.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(toc): make audit writes explicitly best-effort now the transaction is gone
  backend/app/db/toc_transactions.py
  backend/tests/test_db/test_toc_transactions.py
Due: backend-lint, backend-unit-tests, backend-coverage

build(deps): zod 4 with @hookform/resolvers 5 (coordinated, part of #385)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

build(deps): move the whole @tiptap family to v3 (closes #385)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(toc): drop the transaction wrappers so a concurrent edit returns 409 everywhere (#369) (#397)
  backend/app/db/toc_transactions.py
  backend/tests/test_db/test_toc_transactions.py
Due: backend-lint, backend-unit-tests, backend-coverage

build(deps): zod 4 with @hookform/resolvers 5 (coordinated) — part of #385 (#398)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(editor): disable StarterKit v3's trailingNode to keep saved content unchanged
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/jest.setup.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

Revert "fix(editor): disable StarterKit v3's trailingNode to keep saved content unchanged"
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/jest.setup.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

Revert "fix(editor): disable StarterKit v3's trailingNode to keep saved content unchanged" (#400)
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/jest.setup.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

build(deps): move the whole @tiptap family to v3 — closes #385 (#399)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/jest.setup.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(deps): patch two high npm advisories disclosed 2026-08-03
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(deps): patch two high npm advisories disclosed 2026-08-03 (#412)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(deps): patch js-yaml omap DoS advisory GHSA-5p4m-2wfm-xmqj
  frontend/package-lock.json
  frontend/package.json
  security-baseline.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(deps): patch js-yaml omap DoS advisory GHSA-5p4m-2wfm-xmqj (#425)
  frontend/package-lock.json
  frontend/package.json
  security-baseline.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

ci: pin prune-cache=true with setup-uv v9
  .github/workflows/e2e-staging-tests.yml
Due: none

fix(deps): apply backend bumps to uv.lock, not just the generated export
  backend/requirements.txt
  backend/uv.lock
  security-baseline.json
Due: backend-lint, backend-unit-tests, backend-coverage

fix(deps): apply backend bumps to uv.lock, not just the generated export (#426)
  backend/requirements.txt
  backend/uv.lock
  security-baseline.json
Due: backend-lint, backend-unit-tests, backend-coverage

chore(deps): stop Dependabot raising @types/node major bumps
  .github/dependabot.yml
Due: none

fix(deps): lift nanoid 3.3.11 -> 3.3.18 to clear two high advisories
  frontend/package-lock.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

chore(deps): pin @types/node majors and lift nanoid to 3.3.18 (#429)
  .github/dependabot.yml
  frontend/package-lock.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(ci): stop the password secret-scan pattern firing on identifiers
  scripts/check-secrets.sh
Due: none

fix(auth): upgrade better-auth 1.4.9 -> 1.6.26 and retype the cached instance
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/auth.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(ci): keep hyphenated password keys covered by the secret scanner
  scripts/check-secrets.sh
Due: none

chore(security): prune 11 resolved npm advisories from the audit baseline
  security-baseline.json
Due: none

fix(security): delete orphan frontend/scripts lockfile carrying 13 advisories
  frontend/scripts/package-lock.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

ci(security): fail when an npm lockfile sits outside the audited tree
  .github/workflows/tests.yml
Due: none

fix(auth): upgrade better-auth 1.4.9 → 1.6.26, clearing GHSA-p6v2-xcpg-h6xw (#443)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/auth.ts
  scripts/check-secrets.sh
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(ci): move every Node runtime off EOL versions onto 24 (Active LTS)
  .github/dependabot.yml
  .github/workflows/deploy-production.tbd
  .github/workflows/deploy-production.yml.disabled
  .github/workflows/deploy-staging.tbd
  .github/workflows/deploy-staging.yml
  .github/workflows/e2e-staging-tests.yml
  .github/workflows/test-suite.tbd
  .github/workflows/tests.yml
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(security): enable Dependabot alerts, delete orphan lockfile hiding a critical advisory, prune baseline (#444)
  .github/workflows/tests.yml
  frontend/scripts/package-lock.json
  security-baseline.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(backend): pin the clock for TestRateLimiting to kill a boundary flake
  backend/tests/test_api/test_dependencies.py
Due: backend-lint, backend-unit-tests, backend-coverage

ci(backend): fail when requirements.txt drifts from uv.lock
  .github/workflows/tests.yml
  backend/requirements.txt
Due: backend-lint, backend-unit-tests, backend-coverage

fix(ci): move every Node runtime off EOL versions onto 24 (Active LTS) (#445)
  .github/dependabot.yml
  .github/workflows/deploy-production.tbd
  .github/workflows/deploy-production.yml.disabled
  .github/workflows/deploy-staging.tbd
  .github/workflows/deploy-staging.yml
  .github/workflows/e2e-staging-tests.yml
  .github/workflows/test-suite.tbd
  .github/workflows/tests.yml
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(backend): pin the clock for TestRateLimiting to kill a boundary flake (#449)
  backend/tests/test_api/test_dependencies.py
Due: backend-lint, backend-unit-tests, backend-coverage

ci(backend): fail when requirements.txt drifts from uv.lock (#450)
  .github/workflows/tests.yml
  backend/requirements.txt
Due: backend-lint, backend-unit-tests, backend-coverage
