Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

frontend-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Checking
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-unit-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend && npm test -- --passWithNoTests --watchAll=false'
  language: system
  pass_filenames: false

frontend-coverage:
  name: Frontend Coverage Check (≥85%)
  entry: bash -c 'cd frontend && npm test -- --coverage --coverageThreshold="{\"global\":{\"lines\":85,\"statements\":85,\"branches\":75,\"functions\":85}}" --watchAll=false'
  language: system
  pass_filenames: false

frontend-e2e-tests:
  name: Frontend E2E Tests (Playwright)
  entry: bash -c 'cd frontend && BYPASS_AUTH=true npx playwright test'
  language: system
  pass_filenames: false

backend-lint:
  name: Backend Linting (ruff)
  entry: bash -c 'cd backend && uv run ruff check app/ tests/ || true'
  language: system
  pass_filenames: false

backend-unit-tests:
  name: Backend Unit Tests
  entry: bash -c 'cd backend && uv run pytest tests/'
  language: system
  pass_filenames: false
  require_serial: true

backend-coverage:
  name: Backend Coverage Check (≥85%)
  entry: bash -c 'cd backend && uv run pytest tests/ --cov=app --cov-fail-under=85'
  language: system
  pass_filenames: false
  require_serial: true

feat(billing): pin the billing portal to a cancel-at-period-end Configuration (#771)
  backend/app/api/endpoints/billing.py
  backend/tests/test_api/test_billing_portal.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(billing): Stripe subscription status gates the plan; only active/trialing grant Pro (#767) (#902)
  backend/app/api/endpoints/webhooks.py
  backend/app/core/entitlements.py
  backend/tests/test_api/test_stripe_webhook.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(billing): only the current subscription moves the plan; checkout refuses a second one (#768)
  backend/app/api/endpoints/billing.py
  backend/app/api/endpoints/webhooks.py
  backend/app/core/entitlements.py
  backend/app/models/user.py
  backend/tests/test_api/test_billing_checkout.py
  backend/tests/test_api/test_stripe_webhook_current_subscription.py
  backend/tests/test_core/test_hardening_352.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(toc): removing a chapter deletes its questions, responses and ratings (#755) (#905)
  backend/app/api/endpoints/chapters.py
  backend/app/db/questions.py
  backend/app/db/toc_transactions.py
  backend/tests/test_api/test_routes/test_toc_removal_cascade.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(errors): chapter question generation maps a provider-quota outage to 503 (#775)
  backend/app/utils/error_handlers.py
  backend/tests/test_error_handlers.py
Due: backend-lint, backend-unit-tests, backend-coverage

feat(deploy): gated production container deploy replaces the Clerk-era scaffold (#782)
  .github/DEPLOYMENT.md
  .github/workflows/deploy-production-containers.yml
  .github/workflows/deploy-production.tbd
  docker-compose.production.yml
  scripts/test_actions_are_sha_pinned.py
  scripts/test_deploy_production_workflow.py
Due: none

docs(changelog): note the chapter question-generation 503 mapping (#775)
  docs/CHANGELOG.md
Due: none

feat(billing): auto-renewal disclosure and recorded consent before checkout (#770) (#903)
  backend/.env.example
  backend/app/api/endpoints/billing.py
  backend/tests/test_api/test_billing_checkout.py
  docs/CHANGELOG.md
  frontend/src/app/terms/__tests__/page.test.tsx
  frontend/src/app/terms/page.tsx
  frontend/src/components/settings/BillingSettingsForm.tsx
  frontend/src/components/settings/__tests__/BillingSettingsForm.test.tsx
  frontend/src/hooks/__tests__/useBillingApi.test.ts
  frontend/src/hooks/useBillingApi.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs(changelog): record the current-subscription rule and checkout 409 (#768)
  docs/CHANGELOG.md
Due: none

fix(billing): a pre-#768 pro document counts as a live subscription (#768)
  backend/app/core/entitlements.py
  backend/tests/test_api/test_stripe_webhook_current_subscription.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs(changelog): production container deploy (#782)
  docs/CHANGELOG.md
Due: none

test(billing): send #770 renewal consent in the #768 checkout cases
  backend/tests/test_api/test_billing_checkout.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(billing): account deletion cancels the Stripe subscription first; Stripe failure keeps the account (#764) (#904)
  backend/app/api/endpoints/billing.py
  backend/app/api/endpoints/users.py
  backend/tests/test_api/test_routes/test_account_deletion_stripe.py
  docs/CHANGELOG.md
  frontend/src/__tests__/ProfilePageDelete.test.tsx
  frontend/src/app/profile/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(security): published BETTER_AUTH_SECRET replaced with a placeholder and refused at startup in deployed envs (#780) (#900)
  backend/app/core/config.py
  backend/tests/test_core/test_published_secret.py
  docs/CHANGELOG.md
  docs/better-auth-migration-guide.md
  frontend/src/instrumentation.ts
  frontend/src/lib/__tests__/auth-secret.test.ts
  frontend/src/lib/auth-secret.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(billing): account-deletion cancel applies the deleted event's effect (#768, #764)
  backend/app/api/endpoints/billing.py
  backend/tests/test_api/test_routes/test_account_deletion_stripe.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): frontend container gets an explicit env allowlist instead of every backend secret (#781) (#901)
  .github/workflows/deploy-staging-containers.yml
  docker-compose.yml
  docs/CHANGELOG.md
  docs/STAGING-DEPLOYMENT.md
  scripts/test_frontend_env_allowlist.py
Due: none

test(frontend): support-address guard fails closed when git grep errors (#773)
  frontend/src/__tests__/SupportAddressGate.test.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(auth): production session cookies are host-only on an apex host, so they never reach the staging box (#778) (#897)
  .github/DEPLOYMENT.md
  docs/CHANGELOG.md
  docs/production-readiness-gaps.md
  docs/session-management.md
  frontend/src/lib/__tests__/auth-cookies.test.ts
  frontend/src/lib/auth-cookies.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(billing): deletion cancel stamps the watermark so a late event can't re-grant pro (#768)
  backend/app/api/endpoints/billing.py
  backend/tests/test_api/test_routes/test_account_deletion_stripe.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(billing): Stripe webhook records an event as processed only after applying it (#769)
  backend/app/api/endpoints/webhooks.py
  backend/app/db/stripe_events.py
  backend/tests/test_api/test_stripe_webhook.py
  backend/tests/test_api/test_stripe_webhook_current_subscription.py
  backend/tests/test_api/test_stripe_webhook_delivery.py
  backend/tests/test_core/test_hardening_352.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(frontend): one support-address constant on autoauthor.app, never the parked autoauthor.com (#773) (#896)
  AUTO_AUTHOR_USER_MANUAL.md
  docs/CHANGELOG.md
  docs/troubleshooting-book-metadata.md
  frontend/src/__tests__/SupportAddressGate.test.ts
  frontend/src/__tests__/VerifyTwoFactorPage.test.tsx
  frontend/src/app/auth/verify-2fa/page.tsx
  frontend/src/app/dashboard/help/__tests__/page.test.tsx
  frontend/src/app/dashboard/help/page.tsx
  frontend/src/app/privacy/__tests__/page.test.tsx
  frontend/src/app/privacy/page.tsx
  frontend/src/app/terms/page.tsx
  frontend/src/lib/constants/contact.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(ci): smoke test and rotation runbook set ENVIRONMENT (#777)
  .github/workflows/build-images.yml
  docs/DATABASE_CONNECTION_STANDARD.md
  scripts/test_compose_environment_required.py
Due: none

test(e2e): staging helper names quota/upgrade dead ends and reads ErrorResponse errors (#775)
  frontend/tests/e2e/staging/fixtures/journey.helpers.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(billing): serialise the portal Configuration cold start (#771)
  backend/app/api/endpoints/billing.py
  backend/tests/test_api/test_billing_portal.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(billing): signed webhook fixtures stamp created from a counter, not the clock (#769)
  backend/tests/test_api/test_stripe_webhook.py
  backend/tests/test_api/test_stripe_webhook_current_subscription.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): ENVIRONMENT fails closed: compose requires it, the backend refuses unknown values (#777) (#898)
  .github/workflows/build-images.yml
  .github/workflows/deploy-staging-containers.yml
  .github/workflows/sync-staging-env.yml
  .github/workflows/tests.yml
  CLAUDE.md
  backend/.env.example
  backend/app/core/config.py
  backend/tests/conftest.py
  backend/tests/test_core/test_environment_777.py
  backend/tests/test_core/test_security.py
  docker-compose.yml
  docs/CHANGELOG.md
  docs/DATABASE_CONNECTION_STANDARD.md
  docs/STAGING-DEPLOYMENT.md
  scripts/test_compose_environment_required.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(billing): only an applied Stripe event records its marker; stale ones re-check (#769)
  backend/app/api/endpoints/webhooks.py
  backend/tests/test_api/test_stripe_webhook_delivery.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(billing): webhook ignores non-current subscriptions; checkout refuses a second live subscription (#768) (#910)
  backend/app/api/endpoints/billing.py
  backend/app/api/endpoints/webhooks.py
  backend/app/core/entitlements.py
  backend/app/models/user.py
  backend/tests/test_api/test_billing_checkout.py
  backend/tests/test_api/test_routes/test_account_deletion_stripe.py
  backend/tests/test_api/test_stripe_webhook_current_subscription.py
  backend/tests/test_core/test_hardening_352.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

test(e2e): log the AI cause code alongside the wrapper error_code (#775)
  frontend/tests/e2e/staging/fixtures/journey.helpers.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(ai): OpenAI insufficient_quota is a non-retryable 503; staging E2E logs each AI response (#775) (#908)
  backend/app/services/ai_errors.py
  backend/app/services/ai_service.py
  backend/app/utils/error_handlers.py
  backend/tests/test_error_handlers.py
  backend/tests/test_services/test_provider_quota.py
  docs/CHANGELOG.md
  frontend/tests/e2e/staging/fixtures/journey.helpers.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(billing): pin a Stripe billing portal Configuration with cancel-at-period-end (#771) (#909)
  backend/app/api/endpoints/billing.py
  backend/tests/test_api/test_billing_portal.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(billing): Stripe webhook records its idempotency marker only after the plan change is written (#769) (#913)
  backend/app/api/endpoints/webhooks.py
  backend/app/db/stripe_events.py
  backend/tests/test_api/test_stripe_webhook.py
  backend/tests/test_api/test_stripe_webhook_current_subscription.py
  backend/tests/test_api/test_stripe_webhook_delivery.py
  backend/tests/test_core/test_hardening_352.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs(lessons): Phase 0 launch-blocker run (2026-10-02)
  tasks/lessons.md
Due: none

feat(ci): scheduled staging E2E failures open or update one alert issue, closed on recovery (#776) (#895)
  .github/workflows/e2e-staging-tests.yml
  docs/CHANGELOG.md
  scripts/ci-alert-issue.sh
  scripts/test_ci_alert_issue.py
Due: none

docs(lessons): Phase 0 launch-blocker run (2026-10-02) (#914)
  tasks/lessons.md
Due: none

feat(ci): run staging E2E after each staging deploy, not every 6h (#916)
  .github/workflows/e2e-staging-tests.yml
  .github/workflows/staging-health.yml
  CLAUDE.md
  docs/CHANGELOG.md
  frontend/tests/e2e/staging/README.md
  frontend/tests/e2e/staging/complete-user-journey.spec.ts
  frontend/tests/e2e/staging/edge-cases.spec.ts
  frontend/tests/e2e/staging/fixtures/journey.helpers.ts
  frontend/tests/e2e/staging/regressions.spec.ts
  scripts/staging_health_probe.py
  scripts/test_ci_alert_issue.py
  scripts/test_staging_triggers.py
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(ci): staging E2E runs after each staging deploy instead of every 6h; AI tests don't retry (#916) (#918)
  .github/workflows/e2e-staging-tests.yml
  .github/workflows/staging-health.yml
  CLAUDE.md
  docs/CHANGELOG.md
  frontend/tests/e2e/staging/README.md
  frontend/tests/e2e/staging/complete-user-journey.spec.ts
  frontend/tests/e2e/staging/edge-cases.spec.ts
  frontend/tests/e2e/staging/fixtures/journey.helpers.ts
  frontend/tests/e2e/staging/regressions.spec.ts
  scripts/staging_health_probe.py
  scripts/test_ci_alert_issue.py
  scripts/test_staging_triggers.py
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(ai): configurable AI provider, per-flow models and output caps (#917)
  .github/workflows/deploy-staging-containers.yml
  backend/.env.example
  backend/app/core/config.py
  backend/app/services/ai_errors.py
  backend/app/services/ai_service.py
  backend/tests/fixtures/ai_provider_outputs/nemotron-3-nano-30b/analysis.txt
  backend/tests/fixtures/ai_provider_outputs/nemotron-3-nano-30b/chapter_questions.txt
  backend/tests/fixtures/ai_provider_outputs/nemotron-3-nano-30b/clarifying_questions.txt
  backend/tests/fixtures/ai_provider_outputs/nemotron-3-nano-30b/toc.txt
  backend/tests/test_services/test_ai_provider_config.py
  backend/tests/test_services/test_ai_provider_fixtures.py
  docs/STAGING-DEPLOYMENT.md
  scripts/test_frontend_env_allowlist.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(ai): never send the OpenAI key to another AI_BASE_URL; tighten list parsing (#917)
  backend/.env.example
  backend/ENV_VAR_CHANGELOG.md
  backend/app/api/endpoints/router.py
  backend/app/core/config.py
  backend/app/services/ai_service.py
  backend/tests/test_main.py
  backend/tests/test_openai_key_resolution.py
  backend/tests/test_services/test_ai_provider_config.py
  backend/tests/test_services/test_ai_provider_fixtures.py
  docs/CHANGELOG.md
  docs/STAGING-DEPLOYMENT.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(ai): backend boots without AI_API_KEY; OPENAI_BASE_URL can't reroute the key (#917)
  backend/.env.example
  backend/app/services/ai_service.py
  backend/tests/test_services/test_ai_provider_config.py
  docs/CHANGELOG.md
  docs/STAGING-DEPLOYMENT.md
Due: backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/
