Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/

fix(editor): key ChapterEditor per chapter and ignore superseded loads (#756) (#867)
  docs/CHANGELOG.md
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/TabContent.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.chapterSwitch.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(toc): Edit TOC sends expected_version and shows a reload prompt on 409 (#750)
  frontend/src/app/dashboard/books/[bookId]/__tests__/edit-toc.status.test.tsx
  frontend/src/app/dashboard/books/[bookId]/edit-toc/page.tsx
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(changelog): Edit TOC expected_version (#750)
  docs/CHANGELOG.md
Due: none

fix(frontend): no draft after offline complete; fresh QuestionDisplay per question (#761)
  frontend/src/components/chapters/questions/QuestionContainer.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionContainer.test.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionDisplay.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(toc): unique, server-minted chapter ids so one autosave edits one chapter (#754)
  backend/app/api/endpoints/books.py
  backend/app/db/toc_transactions.py
  backend/tests/test_api/test_routes/test_toc_unique_chapter_ids.py
  backend/tests/test_db/test_toc_preserves_chapter_fields.py
  backend/tests/test_db/test_toc_transactions.py
  frontend/src/app/dashboard/books/[bookId]/__tests__/edit-toc.status.test.tsx
  frontend/src/app/dashboard/books/[bookId]/edit-toc/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(toc): clear the conflict flag when a later save fails for another reason (#750)
  frontend/src/app/dashboard/books/[bookId]/__tests__/edit-toc.status.test.tsx
  frontend/src/app/dashboard/books/[bookId]/edit-toc/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(questions): save responses and ratings as one atomic upsert (#762)
  backend/app/db/questions.py
  backend/tests/test_batch_question_responses.py
  backend/tests/test_question_save_atomicity.py
Due: backend-lint, backend-unit-tests, backend-coverage

feat(chapters): optional atomic expected_last_modified precondition on content PATCH (#759) (#868)
  backend/app/api/endpoints/books.py
  backend/app/db/book.py
  backend/app/schemas/book.py
  backend/tests/test_api/test_routes/test_chapter_content_precondition.py
  backend/tests/test_db/test_lost_update_guard.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(editor): stop the chapter editor dropping or overwriting edits (#757)
  frontend/src/__tests__/RichTextEditor.test.tsx
  frontend/src/__tests__/bookClient.test.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.chapterSwitch.test.tsx
  frontend/src/components/chapters/chapterContentSave.ts
  frontend/src/jest.setup.ts
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(changelog): #761 review follow-ups
  docs/CHANGELOG.md
Due: none

fix(editor): hide restore and editing tools while a chapter failed to load (#757)
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.chapterSwitch.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(toc): Edit TOC sends expected_version and handles 409 with reload (#750) (#870)
  docs/CHANGELOG.md
  frontend/src/app/dashboard/books/[bookId]/__tests__/edit-toc.status.test.tsx
  frontend/src/app/dashboard/books/[bookId]/edit-toc/page.tsx
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(changelog): unique server-minted chapter ids (#754)
  backend/app/api/endpoints/books.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs(changelog): atomic question saves and capped edit_history (#762)
  docs/CHANGELOG.md
Due: none

fix(editor): flush only after an in-flight save lands (#757)
  docs/CHANGELOG.md
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.chapterSwitch.test.tsx
  frontend/src/components/chapters/chapterContentSave.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(questions): autosave only on changed text; never downgrade a completed answer (#761) (#869)
  docs/CHANGELOG.md
  frontend/src/components/chapters/questions/QuestionContainer.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionContainer.test.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionDisplay.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(changelog): record the #757 test and mutation counts
  docs/CHANGELOG.md
Due: none

fix(questions): atomic upserts for response/rating saves; cap edit_history at 50 (#762) (#872)
  backend/app/db/questions.py
  backend/tests/test_batch_question_responses.py
  backend/tests/test_question_save_atomicity.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(users): better-auth owns the email; PATCH /users/me can no longer squat one (#765)
  backend/app/api/endpoints/users.py
  backend/app/core/security.py
  backend/app/db/user.py
  backend/app/schemas/user.py
  backend/tests/test_api/test_routes/test_users_coverage.py
  backend/tests/test_core/test_email_ownership.py
  backend/tests/test_core/test_security.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(editor): flush pending edits on unmount, save edits made during in-flight saves, read-only on failed load (#757) (#874)
  docs/CHANGELOG.md
  frontend/src/__tests__/RichTextEditor.test.tsx
  frontend/src/__tests__/bookClient.test.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.chapterSwitch.test.tsx
  frontend/src/components/chapters/chapterContentSave.ts
  frontend/src/jest.setup.ts
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(editor): keep the chapter editor mounted across TOC refreshes and session refetches (#758)
  frontend/src/app/dashboard/books/[bookId]/__tests__/page.loading.test.tsx
  frontend/src/app/dashboard/books/[bookId]/__tests__/page.sessionIdentity.test.tsx
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/components/chapters/__tests__/ChapterTabs.backgroundRefresh.test.tsx
  frontend/src/hooks/useChapterTabs.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(toc): duplicate-id 400 no longer echoes the id (#754)
  backend/app/db/toc_transactions.py
  backend/tests/test_api/test_routes/test_toc_unique_chapter_ids.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(users): key the auto-create conflict on the winner; audit the mirror (#765)
  backend/app/core/security.py
  backend/tests/test_core/test_email_ownership.py
  backend/tests/test_core/test_security.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs(changelog): background TOC refresh and session refetch keep the editor (#758)
  docs/CHANGELOG.md
Due: none

feat(billing): per-plan AI quotas so Pro buys something (#766)
  backend/app/api/dependencies.py
  backend/app/api/endpoints/billing.py
  backend/app/core/config.py
  backend/app/core/entitlements.py
  backend/tests/conftest.py
  backend/tests/test_api/test_ai_usage_quota.py
  backend/tests/test_api/test_billing_checkout.py
  backend/tests/test_api/test_e2e_exempt.py
  docs/CHANGELOG.md
  frontend/src/__tests__/SettingsPageBilling.test.tsx
  frontend/src/components/settings/BillingSettingsForm.tsx
  frontend/src/components/settings/__tests__/BillingSettingsForm.test.tsx
  frontend/src/components/toc/ErrorDisplay.tsx
  frontend/src/components/toc/TocGenerationWizard.tsx
  frontend/src/components/toc/__tests__/TocGenerationWizardEntitlement.test.tsx
  frontend/src/hooks/useBillingApi.ts
  frontend/src/lib/api/__tests__/aiErrorHandler.test.ts
  frontend/src/lib/api/aiErrorHandler.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(ci): baseline GHSA-vfj7-8cjw-p6xm (braces), which has no patched release
  security-baseline.json
Due: none

fix(auth): lock out deleted accounts and revoke their better-auth identity (#763)
  backend/app/core/security.py
  backend/app/db/user.py
  backend/app/schemas/user.py
  backend/tests/test_api/test_routes/test_account_deletion_real_session.py
  frontend/src/__tests__/ProfilePageDelete.test.tsx
  frontend/src/app/profile/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(billing): restricted plans get the 402 upgrade panel, not a quota 429 (#766)
  backend/app/api/dependencies.py
  backend/tests/test_api/test_ai_usage_quota.py
  docs/CHANGELOG.md
  frontend/src/lib/api/aiErrorHandler.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(ci): baseline braces GHSA-vfj7-8cjw-p6xm, no patched release (#878)
  security-baseline.json
Due: none

docs(changelog): describe the rewritten 500 test accurately (#765)
  docs/CHANGELOG.md
Due: none

fix(security): allow microphone for own origin in Permissions-Policy (#772)
  docs/CHANGELOG.md
  frontend/next.config.ts
  frontend/src/__tests__/nextConfigHeaders.test.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(billing): pin the quota-cap message prefix the client keys on (#766)
  backend/tests/test_api/test_ai_usage_quota.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(editor): keep the chapter editor mounted across background TOC refreshes and session refetches (#758) (#876)
  docs/CHANGELOG.md
  frontend/src/app/dashboard/books/[bookId]/__tests__/page.loading.test.tsx
  frontend/src/app/dashboard/books/[bookId]/__tests__/page.sessionIdentity.test.tsx
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/components/chapters/__tests__/ChapterTabs.backgroundRefresh.test.tsx
  frontend/src/hooks/useChapterTabs.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(changelog): deleted-account lockout and identity purge (#763)
  docs/CHANGELOG.md
Due: none

fix(editor): send the chapter save token and ask reload-or-overwrite on 409 (#760)
  frontend/src/__tests__/RichTextEditor.test.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.conflict.test.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.localStorage.test.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.saveStatus.test.tsx
  frontend/src/components/chapters/chapterContentSave.ts
  frontend/src/lib/api/__tests__/bookClient.test.ts
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(auth): revoke the better-auth identity even without an app record (#763)
  backend/app/db/user.py
  backend/tests/test_api/test_routes/test_account_deletion_real_session.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(toc): raise TOC token budget to 6000; non-retryable AI_RESPONSE_TRUNCATED on finish_reason=length (#774)
  backend/app/services/ai_service.py
  backend/tests/test_services/test_ai_service.py
  backend/tests/test_services/test_toc_token_budget.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(frontend): allow the microphone for the app's own origin (#772) (#880)
  docs/CHANGELOG.md
  frontend/next.config.ts
  frontend/src/__tests__/nextConfigHeaders.test.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(changelog): record #760 editor save-conflict handling
  docs/CHANGELOG.md
Due: none

docs(changelog): TOC token budget and truncation handling (#774)
  docs/CHANGELOG.md
Due: none
