Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/

fix(billing): honor PLAN_ENFORCEMENT_ENABLED in the quota gate; report disabled windows as unlimited (#766)
  backend/app/api/dependencies.py
  backend/app/api/endpoints/billing.py
  backend/tests/test_api/test_ai_usage_quota.py
  backend/tests/test_api/test_billing_checkout.py
  frontend/src/components/settings/BillingSettingsForm.tsx
  frontend/src/components/settings/__tests__/BillingSettingsForm.test.tsx
  frontend/src/hooks/useBillingApi.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(users): email is better-auth's, not PATCHable; a stale email holder can't lock a user out (#765) (#879)
  backend/app/api/endpoints/users.py
  backend/app/core/security.py
  backend/app/db/user.py
  backend/app/schemas/user.py
  backend/tests/test_api/test_routes/test_users_coverage.py
  backend/tests/test_core/test_email_ownership.py
  backend/tests/test_core/test_security.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

feat(ci): open/update/close one issue on scheduled staging E2E failure (#776)
  .github/workflows/e2e-staging-tests.yml
  docs/CHANGELOG.md
  scripts/ci-alert-issue.sh
  scripts/test_ci_alert_issue.py
Due: none

fix(toc): run TOC generation on gpt-4o so the 6000-token budget fits the context window (#774)
  backend/app/services/ai_service.py
  backend/tests/test_services/test_toc_token_budget.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(contact): point support/privacy/2FA-recovery address at autoauthor.app (#773)
  AUTO_AUTHOR_USER_MANUAL.md
  docs/CHANGELOG.md
  docs/troubleshooting-book-metadata.md
  frontend/src/__tests__/SupportAddressGate.test.ts
  frontend/src/__tests__/VerifyTwoFactorPage.test.tsx
  frontend/src/app/auth/verify-2fa/page.tsx
  frontend/src/app/dashboard/help/__tests__/page.test.tsx
  frontend/src/app/dashboard/help/page.tsx
  frontend/src/app/privacy/__tests__/page.test.tsx
  frontend/src/app/privacy/page.tsx
  frontend/src/app/terms/page.tsx
  frontend/src/lib/constants/contact.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(auth): never widen the session cookie to an apex, so production cookies can't reach staging (#778)
  .github/DEPLOYMENT.md
  docs/session-management.md
  frontend/src/lib/__tests__/auth-cookies.test.ts
  frontend/src/lib/auth-cookies.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(config): require an explicit, known ENVIRONMENT; drop the compose default (#777)
  .github/workflows/deploy-staging-containers.yml
  .github/workflows/sync-staging-env.yml
  .github/workflows/tests.yml
  backend/.env.example
  backend/app/core/config.py
  backend/tests/conftest.py
  backend/tests/test_core/test_environment_777.py
  backend/tests/test_core/test_security.py
  docker-compose.yml
  docs/CHANGELOG.md
  docs/STAGING-DEPLOYMENT.md
  scripts/test_compose_environment_required.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): reject the published BETTER_AUTH_SECRET on deployed environments (#780)
  backend/app/core/config.py
  backend/tests/test_core/test_published_secret.py
  docs/better-auth-migration-guide.md
  frontend/src/instrumentation.ts
  frontend/src/lib/__tests__/auth-secret.test.ts
  frontend/src/lib/auth-secret.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(editor): keep text dropped on Reload, scope a conflict to its chapter (#760)
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.conflict.test.tsx
  frontend/src/components/chapters/chapterContentSave.ts
  frontend/src/lib/api/__tests__/bookClient.test.ts
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(changelog): record #760 review follow-ups
  docs/CHANGELOG.md
Due: none

feat(billing): per-plan AI quotas so Pro buys something (#766) (#882)
  backend/app/api/dependencies.py
  backend/app/api/endpoints/billing.py
  backend/app/core/config.py
  backend/app/core/entitlements.py
  backend/tests/conftest.py
  backend/tests/test_api/test_ai_usage_quota.py
  backend/tests/test_api/test_billing_checkout.py
  backend/tests/test_api/test_e2e_exempt.py
  docs/CHANGELOG.md
  frontend/src/__tests__/SettingsPageBilling.test.tsx
  frontend/src/components/settings/BillingSettingsForm.tsx
  frontend/src/components/settings/__tests__/BillingSettingsForm.test.tsx
  frontend/src/components/toc/ErrorDisplay.tsx
  frontend/src/components/toc/TocGenerationWizard.tsx
  frontend/src/components/toc/__tests__/TocGenerationWizardEntitlement.test.tsx
  frontend/src/hooks/useBillingApi.ts
  frontend/src/lib/api/__tests__/aiErrorHandler.test.ts
  frontend/src/lib/api/aiErrorHandler.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs: production cookie topology after the apex guard; changelog (#778)
  docs/CHANGELOG.md
  docs/production-readiness-gaps.md
Due: none

docs: note ENVIRONMENT is required by the backend (#777)
  CLAUDE.md
Due: none

fix(billing): Stripe subscription status decides the plan, not just the price (#767)
  backend/app/api/endpoints/webhooks.py
  backend/app/core/entitlements.py
  backend/tests/test_api/test_stripe_webhook.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(ci): build one frontend image per environment, no staging fallbacks (#779)
  .github/workflows/build-images.yml
  .github/workflows/deploy-staging-containers.yml
  docker-compose.build.yml
  docker-compose.staging.yml
  docs/STAGING-DEPLOYMENT.md
  frontend/Dockerfile
  scripts/test_frontend_image_per_environment.py
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(security): hide secret input in settings validation errors; changelog (#780)
  backend/app/core/config.py
  backend/tests/test_core/test_published_secret.py
  docs/CHANGELOG.md
  frontend/src/lib/__tests__/auth-secret.test.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

test(compose): accept any allowed ENVIRONMENT in the workflow guard; note exports for manual compose logs (#777)
  docs/STAGING-DEPLOYMENT.md
  scripts/test_compose_environment_required.py
Due: none

fix(toc): unique, server-minted chapter ids so one autosave edits one chapter (#754) (#877)
  backend/app/api/endpoints/books.py
  backend/app/db/toc_transactions.py
  backend/tests/test_api/test_routes/test_toc_unique_chapter_ids.py
  backend/tests/test_db/test_toc_preserves_chapter_fields.py
  backend/tests/test_db/test_toc_transactions.py
  docs/CHANGELOG.md
  frontend/src/app/dashboard/books/[bookId]/__tests__/edit-toc.status.test.tsx
  frontend/src/app/dashboard/books/[bookId]/edit-toc/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs(changelog): one frontend image per environment (#779)
  docs/CHANGELOG.md
Due: none

feat(billing): disclose auto-renewal and record consent before checkout (#770)
  backend/app/api/endpoints/billing.py
  backend/tests/test_api/test_billing_checkout.py
  docs/CHANGELOG.md
  frontend/src/app/terms/__tests__/page.test.tsx
  frontend/src/app/terms/page.tsx
  frontend/src/components/settings/BillingSettingsForm.tsx
  frontend/src/components/settings/__tests__/BillingSettingsForm.test.tsx
  frontend/src/hooks/__tests__/useBillingApi.test.ts
  frontend/src/hooks/useBillingApi.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs(changelog): Stripe subscription status decides the plan (#767)
  docs/CHANGELOG.md
Due: none

fix(toc): removing a chapter deletes its questions, responses and ratings (#755)
  backend/app/api/endpoints/chapters.py
  backend/app/db/questions.py
  backend/app/db/toc_transactions.py
  backend/tests/test_api/test_routes/test_toc_removal_cascade.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(billing): unset-pro-price test seeds pro so the drop to free is asserted (#767)
  backend/tests/test_api/test_stripe_webhook.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(auth): deleted accounts are locked out: 401 for inactive users, sessions purged, client signs out (#763) (#881)
  backend/app/core/security.py
  backend/app/db/user.py
  backend/app/schemas/user.py
  backend/tests/test_api/test_routes/test_account_deletion_real_session.py
  docs/CHANGELOG.md
  frontend/src/__tests__/ProfilePageDelete.test.tsx
  frontend/src/app/profile/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(frontend): import the secret check dynamically so the edge bundle skips node:crypto (#780)
  frontend/src/instrumentation.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(deploy): frontend container gets an env allowlist, not the backend's .env (#781)
  .github/workflows/deploy-staging-containers.yml
  docker-compose.yml
  docs/STAGING-DEPLOYMENT.md
  scripts/test_frontend_env_allowlist.py
Due: none

docs(changelog): #781 frontend env allowlist; one-line leak report in deploy check
  .github/workflows/deploy-staging-containers.yml
  docs/CHANGELOG.md
Due: none

test(billing): declined consent must refuse even with the current hash (#770)
  backend/tests/test_api/test_billing_checkout.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(toc): count orphaned answers directly so a partial cascade fails (#755)
  backend/tests/test_api/test_routes/test_toc_removal_cascade.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(deploy): address #781 review: never forward NEXT_PUBLIC_BYPASS_AUTH, second scan sentinel
  docker-compose.yml
  scripts/test_frontend_env_allowlist.py
Due: none

fix(editor): never drop text Reload cannot back up; keep dropped text apart (#760)
  docs/CHANGELOG.md
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.conflict.test.tsx
  frontend/src/components/chapters/chapterContentSave.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(ai): TOC generation gets a 6000-token budget on gpt-4o; truncation is a distinct non-retryable error (#774) (#888)
  backend/app/services/ai_service.py
  backend/tests/test_services/test_ai_service.py
  backend/tests/test_services/test_toc_token_budget.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

feat(billing): tie the subscription to its renewal consent record (#770)
  backend/app/api/endpoints/billing.py
  backend/tests/test_api/test_billing_checkout.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(billing): cancel the Stripe subscription before deleting an account (#764)
  backend/app/api/endpoints/billing.py
  backend/app/api/endpoints/users.py
  backend/tests/test_api/test_routes/test_account_deletion_stripe.py
  docs/CHANGELOG.md
  frontend/src/__tests__/ProfilePageDelete.test.tsx
  frontend/src/app/profile/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

test(e2e-staging): log the wizard's AI responses and name the step it stopped on (#775)
  frontend/tests/e2e/staging/fixtures/journey.helpers.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(editor): don't claim a backup on conflict when storage refused it (#760)
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.conflict.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(changelog): chapter removal cascades its questions, responses and ratings (#755)
  docs/CHANGELOG.md
Due: none

fix(billing): retry a failed terms load; document the Stripe ToS-URL prerequisite (#770)
  backend/.env.example
  docs/CHANGELOG.md
  frontend/src/components/settings/BillingSettingsForm.tsx
  frontend/src/components/settings/__tests__/BillingSettingsForm.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(editor): send expected_last_modified on every save; reload-or-overwrite on 409 (#760) (#884)
  docs/CHANGELOG.md
  frontend/src/__tests__/RichTextEditor.test.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.conflict.test.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.localStorage.test.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.saveStatus.test.tsx
  frontend/src/components/chapters/chapterContentSave.ts
  frontend/src/lib/api/__tests__/bookClient.test.ts
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(ai): OpenAI insufficient_quota is a 503 outage, not a retryable rate limit (#775)
  backend/app/services/ai_errors.py
  backend/app/services/ai_service.py
  backend/tests/test_services/test_provider_quota.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage
