Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

frontend-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Checking
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-unit-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend && npm test -- --passWithNoTests --watchAll=false'
  language: system
  pass_filenames: false

frontend-coverage:
  name: Frontend Coverage Check (≥85%)
  entry: bash -c 'cd frontend && npm test -- --coverage --coverageThreshold="{\"global\":{\"lines\":85,\"statements\":85,\"branches\":75,\"functions\":85}}" --watchAll=false'
  language: system
  pass_filenames: false

frontend-e2e-tests:
  name: Frontend E2E Tests (Playwright)
  entry: bash -c 'cd frontend && BYPASS_AUTH=true npx playwright test'
  language: system
  pass_filenames: false

backend-lint:
  name: Backend Linting (ruff)
  entry: bash -c 'cd backend && uv run ruff check app/ tests/ || true'
  language: system
  pass_filenames: false

backend-unit-tests:
  name: Backend Unit Tests
  entry: bash -c 'cd backend && uv run pytest tests/'
  language: system
  pass_filenames: false
  require_serial: true

backend-coverage:
  name: Backend Coverage Check (≥85%)
  entry: bash -c 'cd backend && uv run pytest tests/ --cov=app --cov-fail-under=85'
  language: system
  pass_filenames: false
  require_serial: true

feat(ai): cap per-user AI generation with daily/monthly quota (#173) (#219)
  CLAUDE.md
  backend/app/api/dependencies.py
  backend/app/api/endpoints/books.py
  backend/app/core/config.py
  backend/app/db/database.py
  backend/app/db/usage.py
  backend/tests/conftest.py
  backend/tests/test_api/test_ai_usage_quota.py
  plans/173-ai-usage-quota.md
Due: backend-lint, backend-unit-tests, backend-coverage

feat(entitlement): plan-based AI entitlement gate for beta (#174)
  backend/.env.example
  backend/app/api/dependencies.py
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/users.py
  backend/app/core/config.py
  backend/app/core/entitlements.py
  backend/app/core/security.py
  backend/app/models/user.py
  backend/app/schemas/errors.py
  backend/app/schemas/user.py
  backend/app/utils/error_handlers.py
  backend/tests/conftest.py
  backend/tests/test_api/test_entitlement_gate.py
  backend/tests/test_core/test_entitlements.py
  docs/adr/2026-07-04-beta-entitlement-model.md
  frontend/src/components/errors/ErrorNotification.tsx
  frontend/src/components/errors/__tests__/ErrorNotification.test.tsx
  frontend/src/hooks/useProfileApi.ts
  frontend/src/lib/api/__tests__/aiErrorHandler.test.ts
  frontend/src/lib/api/aiErrorHandler.ts
  frontend/src/lib/errors/types.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(entitlement): classify 402 for AI callers via attached statusCode
  frontend/src/lib/api/__tests__/aiErrorHandler.test.ts
  frontend/src/lib/api/aiErrorHandler.ts
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: record #174 entitlement gate in CLAUDE.md changelog
  CLAUDE.md
Due: none

feat(entitlement): plan-based AI entitlement gate for beta (#174) (#224)
  CLAUDE.md
  backend/.env.example
  backend/app/api/dependencies.py
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/users.py
  backend/app/core/config.py
  backend/app/core/entitlements.py
  backend/app/core/security.py
  backend/app/models/user.py
  backend/app/schemas/errors.py
  backend/app/schemas/user.py
  backend/app/utils/error_handlers.py
  backend/tests/conftest.py
  backend/tests/test_api/test_entitlement_gate.py
  backend/tests/test_core/test_entitlements.py
  docs/adr/2026-07-04-beta-entitlement-model.md
  frontend/src/components/errors/ErrorNotification.tsx
  frontend/src/components/errors/__tests__/ErrorNotification.test.tsx
  frontend/src/hooks/useProfileApi.ts
  frontend/src/lib/api/__tests__/aiErrorHandler.test.ts
  frontend/src/lib/api/aiErrorHandler.ts
  frontend/src/lib/api/bookClient.ts
  frontend/src/lib/errors/types.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(ai): offload OpenAI calls off the FastAPI event loop (#175)
  CLAUDE.md
  backend/app/services/ai_service.py
  backend/tests/test_services/test_ai_service_event_loop.py
  ecosystem.config.template.js
Due: backend-lint, backend-unit-tests, backend-coverage

fix(ai): offload OpenAI calls off the FastAPI event loop (#175) (#225)
  CLAUDE.md
  backend/app/services/ai_service.py
  backend/tests/test_services/test_ai_service_event_loop.py
  ecosystem.config.template.js
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): fire production fail-safes on ENVIRONMENT marker (#176)
  backend/app/core/config.py
  backend/app/main.py
  backend/tests/test_core/test_security.py
  backend/tests/test_main.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: changelog entry for #176 production fail-safe fix
  CLAUDE.md
Due: none

fix(security): fire production fail-safes on ENVIRONMENT marker (#176) (#226)
  CLAUDE.md
  backend/app/core/config.py
  backend/app/main.py
  backend/tests/test_core/test_security.py
  backend/tests/test_main.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(books): version-safe TOC/summary writes to stop lost updates (#177)
  backend/app/api/endpoints/books.py
  backend/app/db/book.py
  backend/app/db/database.py
  backend/tests/test_api/test_routes/test_books_toc_coverage.py
  backend/tests/test_db/test_lost_update_guard.py
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(books): 404 on summary write no-match; fix test docstring (#177 review)
  backend/app/api/endpoints/books.py
  backend/tests/test_db/test_lost_update_guard.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: record #177 lost-update fix in CLAUDE.md
  CLAUDE.md
Due: none

fix(books): version-safe TOC/summary writes to stop lost updates (#177) (#227)
  CLAUDE.md
  backend/app/api/endpoints/books.py
  backend/app/db/book.py
  backend/app/db/database.py
  backend/tests/test_api/test_routes/test_books_toc_coverage.py
  backend/tests/test_db/test_lost_update_guard.py
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(users): unique index + idempotent create to stop duplicate user records (#178)
  backend/app/api/endpoints/users.py
  backend/app/db/user.py
  backend/app/main.py
  backend/tests/test_api/test_routes/test_users_coverage.py
  backend/tests/test_db/test_user_unique_index.py
Due: backend-lint, backend-unit-tests, backend-coverage

refactor(users): make create_user a pure-insert primitive; per-caller race policy (#178)
  backend/app/core/security.py
  backend/app/db/user.py
  backend/tests/test_core/test_security.py
  backend/tests/test_db/test_user_unique_index.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(users): unique index + idempotent create to stop duplicate user records (#178) (#228)
  backend/app/api/endpoints/users.py
  backend/app/core/security.py
  backend/app/db/user.py
  backend/app/main.py
  backend/tests/test_api/test_routes/test_users_coverage.py
  backend/tests/test_core/test_security.py
  backend/tests/test_db/test_user_unique_index.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(users): cascade account deletion; delete_user_books queries owner_id (#179)
  backend/app/api/endpoints/users.py
  backend/app/db/book.py
  backend/app/db/database.py
  backend/app/db/user.py
  backend/tests/test_api/test_routes/test_account_deletion.py
  backend/tests/test_db/test_cascade_delete_atomic.py
  backend/tests/test_db/test_user.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(users): cover /users/{auth_id} cascade failure; full child assertions (#179 review r2)
  backend/app/db/book.py
  backend/tests/test_api/test_routes/test_account_deletion.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: sync account-deletion behavior with #179 cascade
  CLAUDE.md
  docs/api-profile-endpoints.md
Due: none

fix(users): cascade account deletion; delete_user_books queries owner_id (#179) (#229)
  CLAUDE.md
  backend/app/api/endpoints/users.py
  backend/app/db/book.py
  backend/app/db/database.py
  backend/app/db/user.py
  backend/tests/test_api/test_routes/test_account_deletion.py
  backend/tests/test_db/test_cascade_delete_atomic.py
  backend/tests/test_db/test_user.py
  docs/api-profile-endpoints.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): per-user shared-store rate limiting; pin uvicorn proxy headers (#180)
  backend/app/api/dependencies.py
  backend/app/api/endpoints/books.py
  backend/tests/test_api/test_dependencies.py
  ecosystem.config.template.js
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): review round — client None-guard, DI wiring test, fail-closed pin, deterministic window test (#180)
  backend/app/api/dependencies.py
  backend/tests/test_api/test_dependencies.py
Due: backend-lint, backend-unit-tests, backend-coverage

chore(tests): drop dead time import left by clock-patch rewrite (#180)
  backend/tests/test_api/test_dependencies.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: CLAUDE.md entry + plan closeout for #180
  CLAUDE.md
  tasks/todo.md
Due: none

fix(security): per-user shared-store rate limiting; pin uvicorn proxy headers (#180) (#230)
  CLAUDE.md
  backend/app/api/dependencies.py
  backend/app/api/endpoints/books.py
  backend/tests/test_api/test_dependencies.py
  ecosystem.config.template.js
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(ai): size draft max_tokens to target_length; fail loudly on truncation (#181)
  backend/app/api/endpoints/books.py
  backend/app/services/ai_service.py
  backend/tests/test_api/test_routes/test_books_draft_style_coverage.py
  backend/tests/test_services/test_ai_service_draft_generation.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: demo + CLAUDE.md entry for #181 draft truncation fix
  CLAUDE.md
  docs/demos/2026-07-05-issue-181-draft-truncation.md
Due: none

fix(ai): size draft max_tokens to target_length; fail loudly on truncation (#181) (#231)
  CLAUDE.md
  backend/app/api/endpoints/books.py
  backend/app/services/ai_service.py
  backend/tests/test_api/test_routes/test_books_draft_style_coverage.py
  backend/tests/test_services/test_ai_service_draft_generation.py
  docs/demos/2026-07-05-issue-181-draft-truncation.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(ai): surface question-generation AI failures as structured errors; tag template fallbacks (#182)
  backend/app/schemas/book.py
  backend/app/services/ai_service.py
  backend/app/services/question_generation_service.py
  backend/tests/test_api/test_question_regeneration.py
  backend/tests/test_api/test_questions_integration.py
  backend/tests/test_api/test_routes/test_books_chapter_questions_coverage.py
  backend/tests/test_debug_chapter_questions.py
  backend/tests/test_debug_questions.py
  backend/tests/test_services/test_ai_service_core.py
  backend/tests/test_services/test_question_generation_service.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs(demo): #182 demo — structured errors on AI outage, tagged template fallbacks
  docs/demos/2026-07-06-issue-182-question-generation-errors.md
Due: none

docs: CLAUDE.md Recent Changes entry for #182
  CLAUDE.md
Due: none

[P1.2] Surface AI question-generation failures as structured errors; tag template fallbacks (#182) (#233)
  CLAUDE.md
  backend/app/schemas/book.py
  backend/app/services/ai_service.py
  backend/app/services/question_generation_service.py
  backend/tests/test_api/test_question_regeneration.py
  backend/tests/test_api/test_questions_integration.py
  backend/tests/test_api/test_routes/test_books_chapter_questions_coverage.py
  backend/tests/test_debug_chapter_questions.py
  backend/tests/test_debug_questions.py
  backend/tests/test_services/test_ai_service_core.py
  backend/tests/test_services/test_question_generation_service.py
  docs/demos/2026-07-06-issue-182-question-generation-errors.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(db): create book owner_id + access-log TTL indexes at startup (#183)
  backend/app/db/indexing_strategy.py
  backend/app/main.py
  backend/tests/test_startup_indexes.py
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

review: defensively drop stale text index; lifespan test asserts real indexes
  backend/app/db/indexing_strategy.py
  backend/tests/test_startup_indexes.py
Due: backend-lint, backend-unit-tests, backend-coverage

review: log startup index failure, public get_database(), pin partial filter
  backend/app/db/base.py
  backend/app/main.py
  backend/tests/test_startup_indexes.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: demo for #183 — startup index creation + live TTL expiry evidence
  docs/demos/2026-07-06-issue-183-startup-indexes.md
Due: none

docs: CLAUDE.md entry for #183; check off todo
  CLAUDE.md
  tasks/todo.md
Due: none

fix(db): create book owner_id + access-log TTL indexes at startup (#183) (#235)
  CLAUDE.md
  backend/app/db/base.py
  backend/app/db/indexing_strategy.py
  backend/app/main.py
  backend/tests/test_startup_indexes.py
  docs/demos/2026-07-06-issue-183-startup-indexes.md
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): validate sign-in ?redirect against open redirect (#184)
  frontend/src/__tests__/SignInPage.test.tsx
  frontend/src/app/auth/sign-in/page.tsx
  frontend/src/lib/__tests__/security.test.ts
  frontend/src/lib/security.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/
