Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

frontend-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Checking
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-unit-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend && npm test -- --passWithNoTests --watchAll=false'
  language: system
  pass_filenames: false

frontend-coverage:
  name: Frontend Coverage Check (≥85%)
  entry: bash -c 'cd frontend && npm test -- --coverage --coverageThreshold="{\"global\":{\"lines\":85,\"statements\":85,\"branches\":75,\"functions\":85}}" --watchAll=false'
  language: system
  pass_filenames: false

frontend-e2e-tests:
  name: Frontend E2E Tests (Playwright)
  entry: bash -c 'cd frontend && BYPASS_AUTH=true npx playwright test'
  language: system
  pass_filenames: false

backend-lint:
  name: Backend Linting (ruff)
  entry: bash -c 'cd backend && uv run ruff check app/ tests/ || true'
  language: system
  pass_filenames: false

backend-unit-tests:
  name: Backend Unit Tests
  entry: bash -c 'cd backend && uv run pytest tests/'
  language: system
  pass_filenames: false
  require_serial: true

backend-coverage:
  name: Backend Coverage Check (≥85%)
  entry: bash -c 'cd backend && uv run pytest tests/ --cov=app --cov-fail-under=85'
  language: system
  pass_filenames: false
  require_serial: true

docs(demo): mark AC3 partial — the PR run skips the GHCR push path
  docs/demos/2026-09-06-issue-518-pin-actions-to-shas.md
Due: none

fix(security): pin every GitHub Action to an immutable commit SHA (#594)
  .github/workflows/build-images.yml
  .github/workflows/deploy-staging-containers.yml
  .github/workflows/e2e-staging-tests.yml
  .github/workflows/glm-review.yml
  .github/workflows/tests.yml
  docs/CHANGELOG.md
  docs/demos/2026-09-06-issue-518-pin-actions-to-shas.md
  docs/references/quality-standards.md
  scripts/test_actions_are_sha_pinned.py
Due: none

docs(lessons): record the .yaml guard bypass from #518
  tasks/lessons.md
Due: none

docs(lessons): record the .yaml guard bypass from #518 (#595)
  tasks/lessons.md
Due: none

fix(security): scrub the operator's own network from tracked docs
  docs/CHANGELOG.md
  docs/INCIDENT-2025-10-19-firewall-lockout.md
  docs/demos/2026-09-06-issue-554-scrub-operator-network.md
  docs/fixes/2025-11-22-clerk-webhook-nginx-fix.md
  docs/references/quality-standards.md
  scripts/test_no_operator_network_identifiers.py
Due: none

fix(security): stop the evidence doc reintroducing what it scrubs
  docs/demos/2026-09-06-issue-554-scrub-operator-network.md
  scripts/test_no_operator_network_identifiers.py
Due: none

fix(security): scrub the operator's own network from tracked docs (#596)
  docs/CHANGELOG.md
  docs/INCIDENT-2025-10-19-firewall-lockout.md
  docs/demos/2026-09-06-issue-554-scrub-operator-network.md
  docs/fixes/2025-11-22-clerk-webhook-nginx-fix.md
  docs/references/quality-standards.md
  scripts/test_no_operator_network_identifiers.py
Due: none

docs(lessons): record the three re-leaks from #554
  tasks/lessons.md
Due: none

docs(lessons): record the three re-leaks from #554 (#597)
  tasks/lessons.md
Due: none

fix(e2e): sign in once per worker so staging E2E stops tripping the auth rate limit (#551)
  frontend/src/__tests__/StagingE2eFlakyGate.test.ts
  frontend/tests/e2e/staging/README.md
  frontend/tests/e2e/staging/fixtures/auth.fixture.ts
  frontend/tests/e2e/staging/playwright.config.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(e2e): keep the staging session token out of public CI artifacts (#551)
  frontend/src/__tests__/StagingE2eFlakyGate.test.ts
  frontend/tests/e2e/staging/README.md
  frontend/tests/e2e/staging/fixtures/auth.fixture.ts
  frontend/tests/e2e/staging/playwright.config.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(changelog): record the #551 sign-in rate limit finding
  docs/CHANGELOG.md
Due: none

fix(e2e): clamp staging workers to 1-2 and anchor the config guards (#551)
  frontend/src/__tests__/StagingE2eFlakyGate.test.ts
  frontend/tests/e2e/staging/README.md
  frontend/tests/e2e/staging/playwright.config.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(e2e): sign in once per worker so staging E2E stops tripping the auth rate limit (#598)
  docs/CHANGELOG.md
  frontend/src/__tests__/StagingE2eFlakyGate.test.ts
  frontend/tests/e2e/staging/README.md
  frontend/tests/e2e/staging/fixtures/auth.fixture.ts
  frontend/tests/e2e/staging/playwright.config.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(lessons): record the #551 rate-limit misdiagnosis and the vacuous typecheck
  tasks/lessons.md
Due: none

docs(lessons): record the #551 rate-limit misdiagnosis and the vacuous typecheck (#600)
  tasks/lessons.md
Due: none

fix(security): stop publishing staging credentials in public CI artifacts (#599)
  .github/workflows/e2e-staging-tests.yml
  archive/TODO.md
  backend/app/populate_db_test_data.py
  docs/demos/2026-08-27-issue-550-better-auth-1.7-staging-verification.md
  frontend/src/__tests__/StagingE2eFlakyGate.test.ts
  frontend/tests/e2e/staging/README.md
  frontend/tests/e2e/staging/playwright.config.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(security): stop publishing the test account email, and make the debugging story true (#599)
  .github/workflows/e2e-staging-tests.yml
  frontend/src/__tests__/StagingE2eFlakyGate.test.ts
  frontend/tests/e2e/staging/README.md
  frontend/tests/e2e/staging/fixtures/auth.fixture.ts
  frontend/tests/e2e/staging/playwright.config.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(e2e): document and enforce quoting for staging credentials (#558)
  docs/CHANGELOG.md
  frontend/tests/e2e/staging/.env.test.example
  frontend/tests/e2e/staging/README.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(security): remove the hardcoded seed password and real name from the public repo (#599)
  backend/app/populate_db_test_data.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(ci): skip bot PRs in GLM Review, and re-pin off the July callee
  .github/workflows/glm-review.yml
Due: none

docs(e2e): describe the dotenv quoting trap instead of demonstrating it (#599)
  frontend/tests/e2e/staging/.env.test.example
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(security): stop publishing staging credentials in public CI artifacts (#601)
  .github/workflows/e2e-staging-tests.yml
  archive/TODO.md
  backend/app/populate_db_test_data.py
  docs/CHANGELOG.md
  docs/demos/2026-08-27-issue-550-better-auth-1.7-staging-verification.md
  frontend/src/__tests__/StagingE2eFlakyGate.test.ts
  frontend/tests/e2e/staging/.env.test.example
  frontend/tests/e2e/staging/README.md
  frontend/tests/e2e/staging/fixtures/auth.fixture.ts
  frontend/tests/e2e/staging/playwright.config.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs(lessons): record the scanner trips from #601 (four of them)
  tasks/lessons.md
Due: none

docs(lessons): record the scanner trips from #601 (#606)
  tasks/lessons.md
Due: none

fix(ci): also gate on sender.type, and record the fix in the changelog (#519, #547)
  .github/workflows/glm-review.yml
  docs/CHANGELOG.md
Due: none

fix(ci): skip bot PRs in GLM Review, and re-pin off the July callee (#605)
  .github/workflows/glm-review.yml
  docs/CHANGELOG.md
Due: none

fix(auth): resolve the client IP so sign-in rate limits bucket per client (#602)
  docs/STAGING-DEPLOYMENT.md
  frontend/jest.config.cjs
  frontend/src/lib/__tests__/auth-ip.test.ts
  frontend/src/lib/auth-ip.ts
  frontend/src/lib/auth.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: record the #602 evidence and the nginx X-Real-IP dependency
  docs/CHANGELOG.md
  docs/demos/2026-09-07-issue-602-signin-rate-limit-per-client.md
  tasks/lessons.md
Due: none

fix(auth): bucket sign-in rate limits per client, not globally (#602) (#608)
  docs/CHANGELOG.md
  docs/STAGING-DEPLOYMENT.md
  docs/demos/2026-09-07-issue-602-signin-rate-limit-per-client.md
  frontend/jest.config.cjs
  frontend/src/lib/__tests__/auth-ip.test.ts
  frontend/src/lib/auth-ip.ts
  frontend/src/lib/auth.ts
  tasks/lessons.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(dashboard): page through the book list instead of dumping 100 cards
  backend/app/api/endpoints/books.py
  backend/tests/test_api/test_routes/test_books_crud_coverage.py
  frontend/src/app/dashboard/__tests__/page.pagination.test.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/lib/api/__tests__/bookClient.test.ts
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

test(dashboard): cover the pager surviving an in-flight page change
  frontend/src/app/dashboard/__tests__/page.pagination.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(dashboard): address cross-family review findings on the pager
  backend/app/api/endpoints/books.py
  frontend/src/app/dashboard/__tests__/page.pagination.test.tsx
  frontend/src/app/dashboard/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

test(dashboard): close the mutation gaps in the pager's concurrency tests
  frontend/src/app/dashboard/__tests__/page.pagination.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(dashboard): close three defects from the post-PR review pass
  frontend/src/app/dashboard/__tests__/page.pagination.test.tsx
  frontend/src/app/dashboard/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(dashboard): make the rollback and 404-clamp assertions deterministic
  frontend/src/app/dashboard/__tests__/page.pagination.test.tsx
  frontend/src/app/dashboard/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(changelog): record the #493 dashboard pagination work
  docs/CHANGELOG.md
Due: none

docs(lessons): a mutation check is only as good as its revert
  tasks/lessons.md
Due: none

fix(dashboard): close two failure-path defects from the CI review bot
  frontend/src/app/dashboard/__tests__/page.pagination.test.tsx
  frontend/src/app/dashboard/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(dashboard): page through the book list instead of dumping 100 cards (#609)
  backend/app/api/endpoints/books.py
  backend/tests/test_api/test_routes/test_books_crud_coverage.py
  docs/CHANGELOG.md
  frontend/src/app/dashboard/__tests__/page.pagination.test.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/lib/api/__tests__/bookClient.test.ts
  frontend/src/lib/api/bookClient.ts
  tasks/lessons.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/
