Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

frontend-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Checking
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-unit-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend && npm test -- --passWithNoTests --watchAll=false'
  language: system
  pass_filenames: false

frontend-coverage:
  name: Frontend Coverage Check (≥85%)
  entry: bash -c 'cd frontend && npm test -- --coverage --coverageThreshold="{\"global\":{\"lines\":85,\"statements\":85,\"branches\":75,\"functions\":85}}" --watchAll=false'
  language: system
  pass_filenames: false

frontend-e2e-tests:
  name: Frontend E2E Tests (Playwright)
  entry: bash -c 'cd frontend && BYPASS_AUTH=true npx playwright test'
  language: system
  pass_filenames: false

backend-lint:
  name: Backend Linting (ruff)
  entry: bash -c 'cd backend && uv run ruff check app/ tests/ || true'
  language: system
  pass_filenames: false

backend-unit-tests:
  name: Backend Unit Tests
  entry: bash -c 'cd backend && uv run pytest tests/'
  language: system
  pass_filenames: false
  require_serial: true

backend-coverage:
  name: Backend Coverage Check (≥85%)
  entry: bash -c 'cd backend && uv run pytest tests/ --cov=app --cov-fail-under=85'
  language: system
  pass_filenames: false
  require_serial: true

fix(dev): stop next dev generating an untracked frontend/CLAUDE.md (#611)
  docs/CHANGELOG.md
  frontend/.gitignore
  frontend/next.config.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(dev): stop next dev generating an untracked frontend/CLAUDE.md (#611) (#659)
  docs/CHANGELOG.md
  frontend/.gitignore
  frontend/next.config.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(a11y): keep the selected-tab accent through twMerge, and fix its dark half (#640)
  docs/CHANGELOG.md
  frontend/src/__tests__/theme/tab-state-surface-contrast.test.ts
  frontend/src/components/chapters/ChapterTab.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(a11y): keep the selected-tab accent through twMerge, and fix its dark half (#640) (#662)
  docs/CHANGELOG.md
  frontend/src/__tests__/theme/tab-state-surface-contrast.test.ts
  frontend/src/components/chapters/ChapterTab.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(docs): fail on a duplicated changelog date heading (#661)
  docs/CHANGELOG.md
  scripts/test_changelog_headings.py
Due: none

test(docs): fail on a duplicated changelog date heading (#661) (#666)
  docs/CHANGELOG.md
  scripts/test_changelog_headings.py
Due: none

fix(dashboard): a failed refetch is not an empty library (#612)
  docs/CHANGELOG.md
  frontend/src/app/dashboard/__tests__/page.pagination.test.tsx
  frontend/src/app/dashboard/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(dashboard): a failed refetch is not an empty library (#612) (#663)
  docs/CHANGELOG.md
  frontend/src/app/dashboard/__tests__/page.pagination.test.tsx
  frontend/src/app/dashboard/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(ci): fail on any Playwright spec no config can run (#613)
  .github/workflows/tests.yml
  docs/CHANGELOG.md
  frontend/package.json
  frontend/scripts/check-spec-coverage.mjs
  frontend/unrun-spec-baseline.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(ci): fail on any Playwright spec no config can run (#613) (#664)
  .github/workflows/tests.yml
  docs/CHANGELOG.md
  frontend/package.json
  frontend/scripts/check-spec-coverage.mjs
  frontend/unrun-spec-baseline.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(security): enforce the show-password invariant, redact the Locust report (#604)
  backend/tests/load/staging_smoke.py
  docs/CHANGELOG.md
  frontend/src/__tests__/StagingPasswordVisibilityGate.test.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(security): enforce the show-password invariant, redact the Locust report (#604) (#665)
  backend/tests/load/staging_smoke.py
  docs/CHANGELOG.md
  frontend/src/__tests__/StagingPasswordVisibilityGate.test.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

chore(claude): quartermaster workspace config — live-rules, seeded permissions
  .claude/live-rules/manifest.json
  .claude/live-rules/rules/reuse-first.md
  .claude/live-rules/rules/self-improvement.md
  .claude/live-rules/rules/static-guard-invariants.md
  .claude/live-rules/rules/verified-reverts.md
  .claude/settings.json
Due: none

chore(claude): quartermaster workspace config — live-rules, seeded permissions (#668)
  .claude/live-rules/manifest.json
  .claude/live-rules/rules/reuse-first.md
  .claude/live-rules/rules/self-improvement.md
  .claude/live-rules/rules/static-guard-invariants.md
  .claude/live-rules/rules/verified-reverts.md
  .claude/settings.json
Due: none

docs: add the reset --hard lesson from this session
  tasks/lessons.md
Due: none

docs: four lessons from the 2026-09-12 batch
  tasks/lessons.md
Due: none

docs: four lessons from the 2026-09-12 batch (#667)
  tasks/lessons.md
Due: none

fix(lint): react-hooks/immutability back to error (#584)
  docs/CHANGELOG.md
  frontend/eslint.config.mjs
  frontend/src/components/chapters/questions/QuestionContainer.tsx
  frontend/src/components/export/ExportOptionsModal.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(lint): react-hooks/immutability back to error (#584) (#669)
  docs/CHANGELOG.md
  frontend/eslint.config.mjs
  frontend/src/components/chapters/questions/QuestionContainer.tsx
  frontend/src/components/export/ExportOptionsModal.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(lint): derive the three genuine set-state-in-effect cases (#584)
  docs/CHANGELOG.md
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/hooks/use-media-query.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(docs): repair a changelog conflict I pushed with markers still in it
  docs/CHANGELOG.md
Due: none

fix(lint): browser-capability checks via useSyncExternalStore (#584)
  docs/CHANGELOG.md
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
  frontend/src/components/chapters/VoiceTextInput.tsx
  frontend/src/lib/voice/useSpeechRecognitionSupported.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(lint): derive the three genuine set-state-in-effect cases (#584) (#671)
  docs/CHANGELOG.md
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
  frontend/src/components/chapters/VoiceTextInput.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/hooks/use-media-query.ts
  frontend/src/lib/voice/useSpeechRecognitionSupported.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(chapters): remove TabBar's dead test-environment branch (#672)
  docs/CHANGELOG.md
  frontend/src/components/chapters/TabBar.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(lessons): a probe settles dead-code vs no-coverage in one test run (#672)
  tasks/lessons.md
Due: none

fix(chapters): remove TabBar's dead test-environment branch (#672) (#673)
  docs/CHANGELOG.md
  frontend/src/components/chapters/TabBar.tsx
  tasks/lessons.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(lint): react-hooks/refs back to error (#584)
  docs/CHANGELOG.md
  frontend/eslint.config.mjs
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/BookCreationWizard.tsx
  frontend/src/hooks/useSwipeGesture.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(lint): react-hooks/refs back to error (#584) (#670)
  docs/CHANGELOG.md
  frontend/eslint.config.mjs
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/BookCreationWizard.tsx
  frontend/src/hooks/useSwipeGesture.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(lint): three more set-state-in-effect sites, one hiding a staleness bug (#584)
  docs/CHANGELOG.md
  frontend/src/components/loading/LoadingStateManager.tsx
  frontend/src/components/loading/__tests__/LoadingStateManager.test.tsx
  frontend/src/hooks/__tests__/useUserPreferences.test.tsx
  frontend/src/hooks/useUserPreferences.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(lint): three more set-state-in-effect sites, one hiding a staleness bug (#584) (#674)
  docs/CHANGELOG.md
  frontend/src/components/loading/LoadingStateManager.tsx
  frontend/src/components/loading/__tests__/LoadingStateManager.test.tsx
  frontend/src/hooks/__tests__/useUserPreferences.test.tsx
  frontend/src/hooks/useUserPreferences.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(ci): drop NUL pair keys and rebaseline after #670 (#675)
  frontend/react-hooks-baseline.json
  frontend/scripts/react-hooks-gate.mjs
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(ci): ledger the react-hooks backlog so it can only shrink (#675)
  .github/workflows/tests.yml
  docs/CHANGELOG.md
  docs/references/quality-standards.md
  frontend/package.json
  frontend/react-hooks-baseline.json
  frontend/scripts/react-hooks-gate.mjs
  tasks/lessons.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

chore(ci): rebaseline the react-hooks ledger after #674 (#675)
  docs/CHANGELOG.md
  frontend/react-hooks-baseline.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(ci): ledger the react-hooks backlog so it can only shrink (#675) (#676)
  .github/workflows/tests.yml
  docs/CHANGELOG.md
  docs/references/quality-standards.md
  frontend/package.json
  frontend/react-hooks-baseline.json
  frontend/scripts/react-hooks-gate.mjs
  tasks/lessons.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(lint): ExportProgressModal's elapsed reset moves into cleanup (#584)
  docs/CHANGELOG.md
  frontend/react-hooks-baseline.json
  frontend/src/components/export/ExportProgressModal.tsx
  frontend/src/components/export/__tests__/ExportProgressModal.elapsed.test.tsx
  tasks/lessons.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(lint): ExportProgressModal's elapsed reset moves into cleanup (#584) (#677)
  docs/CHANGELOG.md
  frontend/react-hooks-baseline.json
  frontend/src/components/export/ExportProgressModal.tsx
  frontend/src/components/export/__tests__/ExportProgressModal.elapsed.test.tsx
  tasks/lessons.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(git): union-merge the changelog so parallel PRs stop conflicting (#661)
  .gitattributes
  docs/CHANGELOG.md
  scripts/test_changelog_merge.py
Due: none

fix(git): union-merge the changelog so parallel PRs stop conflicting (#661) (#678)
  .gitattributes
  docs/CHANGELOG.md
  scripts/test_changelog_merge.py
Due: none

docs(589): nwsapi's :modal recurses into itself under jsdom — root cause
  claudedocs/nwsapi-2.2.26-modal-recursion.md
  docs/CHANGELOG.md
Due: none

docs(589): nwsapi's :modal recurses into itself under jsdom — root cause (#679)
  claudedocs/nwsapi-2.2.26-modal-recursion.md
  docs/CHANGELOG.md
Due: none

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/
