Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/

fix(security): nonce-based CSP — drop unsafe-inline/unsafe-eval and dead Clerk origins (#190) (#273)
  CLAUDE.md
  docs/demos/2026-07-10-issue-190-nonce-csp.md
  docs/demos/68f3c4e6-2026-07-11.png
  docs/demos/bf7f6de6-2026-07-11.png
  frontend/next.config.ts
  frontend/src/__tests__/middleware.test.ts
  frontend/src/app/layout.tsx
  frontend/src/lib/__tests__/csp.test.ts
  frontend/src/lib/csp.ts
  frontend/src/middleware.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(security): PUT /users/{auth_id} sanitizes string fields like PATCH /users/me (#265)
  backend/app/api/endpoints/users.py
  backend/tests/test_api/test_routes/test_users_coverage.py
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs: demo + todo for #265 PUT sanitize parity
  docs/demos/2026-07-10-issue-265-put-sanitize.md
  tasks/todo.md
Due: none

docs: CLAUDE.md changelog for #265
  CLAUDE.md
Due: none

fix(security): PUT /users/{auth_id} sanitizes string fields like PATCH /users/me (#265) (#274)
  CLAUDE.md
  backend/app/api/endpoints/users.py
  backend/tests/test_api/test_routes/test_users_coverage.py
  docs/demos/2026-07-10-issue-265-put-sanitize.md
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs: close out #265 todo
  tasks/todo.md
Due: none

fix(tests): validate OpenAI kwargs via autospec + surface unparseable clarifying questions (#202)
  backend/app/services/ai_service.py
  backend/tests/test_services/openai_autospec.py
  backend/tests/test_services/test_ai_service.py
  backend/tests/test_services/test_ai_service_style_transformation.py
  backend/tests/test_services/test_openai_request_shape.py
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs: demo + changelog for #202 AI observability (showboat verify green)
  CLAUDE.md
  docs/demos/2026-07-11-issue-202-ai-observability.md
  tasks/todo.md
Due: none

fix(tests): validate OpenAI kwargs via autospec + surface unparseable clarifying questions (#202) (#275)
  CLAUDE.md
  backend/app/services/ai_service.py
  backend/tests/test_services/openai_autospec.py
  backend/tests/test_services/test_ai_service.py
  backend/tests/test_services/test_ai_service_style_transformation.py
  backend/tests/test_services/test_openai_request_shape.py
  docs/demos/2026-07-11-issue-202-ai-observability.md
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs: close out #202 todo
  tasks/todo.md
Due: none

fix(toc): wire clarifying-questions auto-save to real persistence (#203)
  frontend/src/components/toc/ClarifyingQuestions.tsx
  frontend/src/components/toc/__tests__/ClarifyingQuestions.test.tsx
  frontend/src/lib/api/bookClient.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(toc): invalidate in-flight auto-save on every edit (review round 1)
  frontend/src/components/toc/ClarifyingQuestions.tsx
  frontend/src/components/toc/__tests__/ClarifyingQuestions.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(toc): hydrate saved answers by question text, not position (review round 2)
  frontend/src/components/toc/ClarifyingQuestions.tsx
  frontend/src/components/toc/__tests__/ClarifyingQuestions.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(toc): persist clearing the last answer (review round 3)
  frontend/src/components/toc/ClarifyingQuestions.tsx
  frontend/src/components/toc/__tests__/ClarifyingQuestions.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(toc): submit persist mirrors auto-save semantics (review round 4)
  frontend/src/components/toc/ClarifyingQuestions.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: demo + changelog for #203 auto-save persistence (PR #277)
  CLAUDE.md
  docs/demos/0f08d679-2026-07-12.png
  docs/demos/2026-07-11-issue-203-toc-autosave-persist.md
  docs/demos/3e8a7fd2-2026-07-12.png
  docs/demos/4c0976ca-2026-07-12.png
  docs/demos/a416fb71-2026-07-12.png
  tasks/todo.md
Due: none

[P2.11] fix(toc): wire clarifying-questions auto-save to real persistence (#203) (#277)
  CLAUDE.md
  docs/demos/0f08d679-2026-07-12.png
  docs/demos/2026-07-11-issue-203-toc-autosave-persist.md
  docs/demos/3e8a7fd2-2026-07-12.png
  docs/demos/4c0976ca-2026-07-12.png
  docs/demos/a416fb71-2026-07-12.png
  frontend/src/components/toc/ClarifyingQuestions.tsx
  frontend/src/components/toc/__tests__/ClarifyingQuestions.test.tsx
  frontend/src/lib/api/bookClient.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(chapters): remove mock /chapters route serving fabricated questions (#193)
  frontend/src/app/dashboard/books/[bookId]/chapters/page.tsx
  frontend/src/e2e/complete-authoring-journey.spec.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(demo): showboat demo for #193 — mock route 404s, real Q&A flow intact
  docs/demos/2026-07-12-issue-193-remove-mock-chapters.md
  docs/demos/issue193-branch-404.png
  docs/demos/issue193-branch-real-questions-tab.png
  docs/demos/issue193-main-fake-questions.png
Due: none

docs: close out #193 todo + changelog entry
  CLAUDE.md
  tasks/todo.md
Due: none

[P2.1] fix: remove mock /chapters route serving fabricated questions (#193) (#278)
  CLAUDE.md
  docs/demos/2026-07-12-issue-193-remove-mock-chapters.md
  docs/demos/issue193-branch-404.png
  docs/demos/issue193-branch-real-questions-tab.png
  docs/demos/issue193-main-fake-questions.png
  frontend/src/app/dashboard/books/[bookId]/chapters/page.tsx
  frontend/src/e2e/complete-authoring-journey.spec.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(export): wire EPUB/Markdown into the legacy export page (#194)
  frontend/src/app/dashboard/books/[bookId]/export/__tests__/page.test.tsx
  frontend/src/app/dashboard/books/[bookId]/export/page.tsx
  frontend/src/lib/loading/__tests__/timeEstimator.test.ts
  frontend/src/lib/loading/timeEstimator.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(export): align format-name mocks with real backend labels (#194)
  frontend/src/app/dashboard/books/[bookId]/export/__tests__/page.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(export): pin that multiFile does not leak into EPUB exports (#194)
  frontend/src/app/dashboard/books/[bookId]/export/__tests__/page.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(demo): issue #194 legacy export EPUB/Markdown differential demo
  docs/demos/2026-07-12-issue-194-legacy-export-epub-markdown.md
  docs/demos/issue194-branch-epub-complete.png
  docs/demos/issue194-branch-md-options.png
  docs/demos/issue194-main-epub-toast.png
  docs/demos/issue194-main-formats.png
Due: none

docs: changelog + todo close-out for #194
  CLAUDE.md
  tasks/todo.md
Due: none

ci(deploy): serialize staging deploys + retry first-contact upload
  .github/workflows/deploy-staging.yml
Due: none

[P2.2] fix(export): wire EPUB/Markdown into the legacy export page (#194) (#279)
  .github/workflows/deploy-staging.yml
  CLAUDE.md
  docs/demos/2026-07-12-issue-194-legacy-export-epub-markdown.md
  docs/demos/issue194-branch-epub-complete.png
  docs/demos/issue194-branch-md-options.png
  docs/demos/issue194-main-epub-toast.png
  docs/demos/issue194-main-formats.png
  frontend/src/app/dashboard/books/[bookId]/export/__tests__/page.test.tsx
  frontend/src/app/dashboard/books/[bookId]/export/page.tsx
  frontend/src/lib/loading/__tests__/timeEstimator.test.ts
  frontend/src/lib/loading/timeEstimator.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: close out #194 todo
  tasks/todo.md
Due: none

fix(settings): gate notification toggles as disabled "coming soon" (#195)
  frontend/src/__tests__/SettingsPageSave.test.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/components/settings/NotificationSettingsForm.tsx
  frontend/src/e2e/settings.spec.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(demo): showboat demo for #195 notifications coming-soon gate
  docs/demos/035b1a81-2026-07-13.png
  docs/demos/0581d4ce-2026-07-13.png
  docs/demos/2026-07-12-issue-195-notifications-coming-soon.md
  docs/demos/da3a3d7d-2026-07-13.png
  docs/demos/issue195-branch-gated.png
  docs/demos/issue195-main-interactive.png
  docs/demos/issue195-main-toggled-saved.png
Due: none

docs: changelog entry + todo close-out for #195
  CLAUDE.md
  tasks/todo.md
Due: none

[P2.3] fix(settings): gate notification toggles as disabled "coming soon" (#195) (#281)
  CLAUDE.md
  docs/demos/035b1a81-2026-07-13.png
  docs/demos/0581d4ce-2026-07-13.png
  docs/demos/2026-07-12-issue-195-notifications-coming-soon.md
  docs/demos/da3a3d7d-2026-07-13.png
  docs/demos/issue195-branch-gated.png
  docs/demos/issue195-main-interactive.png
  docs/demos/issue195-main-toggled-saved.png
  frontend/src/__tests__/SettingsPageSave.test.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/components/settings/NotificationSettingsForm.tsx
  frontend/src/e2e/settings.spec.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: remove dead 'Session Management' subsystem (#196)
  CLAUDE.md
  backend/app/api/endpoints/router.py
  backend/app/api/endpoints/sessions.py
  backend/app/api/middleware/__init__.py
  backend/app/api/middleware/session_middleware.py
  backend/app/db/base.py
  backend/app/db/database.py
  backend/app/db/session.py
  backend/app/main.py
  backend/app/models/session.py
  backend/app/services/session_service.py
  backend/tests/conftest.py
  backend/tests/test_api/test_routes/test_sessions.py
  backend/tests/test_api/test_routes/test_sessions_removed.py
  backend/tests/test_api/test_session_middleware.py
  backend/tests/test_db/test_session_db.py
  backend/tests/test_services/test_session_service.py
  backend/tests/test_services/test_session_service_edge.py
  docs/SESSION_MANAGEMENT.md
  docs/better-auth-migration-guide.md
  docs/production-readiness-gaps.md
  frontend/src/__tests__/useSession.test.tsx
  frontend/src/components/session/SessionWarning.tsx
  frontend/src/hooks/useSession.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs: annotate 2025-11-01 session changelog entry as removed in #196
  CLAUDE.md
Due: none

docs: demo + changelog entry for #196 removal
  CLAUDE.md
  docs/demos/2026-07-12-issue-196-remove-dead-sessions.md
  tasks/todo.md
Due: none

[P2.4] fix: remove dead 'Session Management' subsystem (#196) (#282)
  CLAUDE.md
  backend/app/api/endpoints/router.py
  backend/app/api/endpoints/sessions.py
  backend/app/api/middleware/__init__.py
  backend/app/api/middleware/session_middleware.py
  backend/app/db/base.py
  backend/app/db/database.py
  backend/app/db/session.py
  backend/app/main.py
  backend/app/models/session.py
  backend/app/services/session_service.py
  backend/tests/conftest.py
  backend/tests/test_api/test_routes/test_sessions.py
  backend/tests/test_api/test_routes/test_sessions_removed.py
  backend/tests/test_api/test_session_middleware.py
  backend/tests/test_db/test_session_db.py
  backend/tests/test_services/test_session_service.py
  backend/tests/test_services/test_session_service_edge.py
  docs/SESSION_MANAGEMENT.md
  docs/better-auth-migration-guide.md
  docs/demos/2026-07-12-issue-196-remove-dead-sessions.md
  docs/production-readiness-gaps.md
  frontend/src/__tests__/useSession.test.tsx
  frontend/src/components/session/SessionWarning.tsx
  frontend/src/hooks/useSession.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(questions): suppress auto-save after failed save so the error persists (#197)
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionDisplay.enhanced.test.tsx
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: demo + changelog for #197 auto-save error persistence
  CLAUDE.md
  docs/demos/197-branch-error-persists.png
  docs/demos/197-main-error-shown.png
  docs/demos/197-main-error-wiped.png
  docs/demos/2026-07-12-issue-197-autosave-error-persist.md
  tasks/todo.md
Due: none

[P2.5] fix(questions): suppress auto-save after failed save so the error persists (#197) (#283)
  CLAUDE.md
  docs/demos/197-branch-error-persists.png
  docs/demos/197-main-error-shown.png
  docs/demos/197-main-error-wiped.png
  docs/demos/2026-07-12-issue-197-autosave-error-persist.md
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionDisplay.enhanced.test.tsx
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests
