Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/

test(auth): drive sign-in tests through the real better-auth mock; add no-push-on-error case
  frontend/src/__tests__/SignInPage.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(demo): issue #184 open-redirect fix — live main-vs-branch sign-in
  docs/demos/184-branch-dashboard.png
  docs/demos/184-main-offsite.png
  docs/demos/2026-07-07-issue-184-open-redirect.md
Due: none

docs: changelog entry for #184 open-redirect sign-in fix
  CLAUDE.md
Due: none

fix(security): validate sign-in ?redirect against open redirect (#184) (#236)
  CLAUDE.md
  docs/demos/184-branch-dashboard.png
  docs/demos/184-main-offsite.png
  docs/demos/2026-07-07-issue-184-open-redirect.md
  frontend/src/__tests__/SignInPage.test.tsx
  frontend/src/app/auth/sign-in/page.tsx
  frontend/src/lib/__tests__/security.test.ts
  frontend/src/lib/security.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(security): guard /profile route against unauthenticated access (#185)
  frontend/src/__tests__/ProfilePage.test.tsx
  frontend/src/__tests__/middleware.test.ts
  frontend/src/app/profile/page.tsx
  frontend/src/jest.setup.ts
  frontend/src/middleware.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

review(#185): re-indent ProtectedRoute-wrapped JSX; assert delete-account UI hidden
  frontend/src/__tests__/ProfilePage.test.tsx
  frontend/src/app/profile/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

review(#185): cover production __Secure- session cookie in middleware test
  frontend/src/__tests__/middleware.test.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(#185): demo — /profile auth guard, main vs branch live servers
  docs/demos/0fdb5aba-2026-07-07.png
  docs/demos/2026-07-07-issue-185-profile-auth-guard.md
  docs/demos/68e740a8-2026-07-07.png
Due: none

docs(#185): add CLAUDE.md changelog entry
  CLAUDE.md
Due: none

fix(security): guard /profile route against unauthenticated access (#185) (#238)
  CLAUDE.md
  docs/demos/0fdb5aba-2026-07-07.png
  docs/demos/2026-07-07-issue-185-profile-auth-guard.md
  docs/demos/68e740a8-2026-07-07.png
  frontend/src/__tests__/ProfilePage.test.tsx
  frontend/src/__tests__/middleware.test.ts
  frontend/src/app/profile/page.tsx
  frontend/src/jest.setup.ts
  frontend/src/middleware.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(security): remove unauthenticated POST /users/ enumeration oracle (#186)
  backend/app/api/endpoints/users.py
  backend/app/db/user.py
  backend/tests/test_api/test_routes/test_users_coverage.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: add issue #186 demo (removal of unauth user-creation oracle)
  docs/demos/2026-07-08-issue-186-remove-unauth-user-creation.md
Due: none

docs: record issue #186 in CLAUDE.md changelog
  CLAUDE.md
Due: none

fix(security): remove unauthenticated POST /users/ enumeration oracle (#186) (#240)
  CLAUDE.md
  backend/app/api/endpoints/users.py
  backend/app/db/user.py
  backend/tests/test_api/test_routes/test_users_coverage.py
  docs/demos/2026-07-08-issue-186-remove-unauth-user-creation.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(questions): validate ownership/existence in batch response save (#187)
  backend/app/api/endpoints/books.py
  backend/app/db/questions.py
  backend/tests/test_api/test_routes/test_books_draft_style_coverage.py
  backend/tests/test_batch_question_responses.py
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

test(questions): add route-level cross-user rejection test + demo doc (#187)
  backend/tests/test_api/test_routes/test_books_draft_style_coverage.py
  docs/demos/2026-07-08-issue-187-batch-response-validation.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs: sync CLAUDE.md + todo.md for #187; align rejection text (CodeRabbit)
  CLAUDE.md
  tasks/todo.md
Due: none

fix(questions): validate ownership/existence in batch response save (#187) (#241)
  CLAUDE.md
  backend/app/api/endpoints/books.py
  backend/app/db/questions.py
  backend/tests/test_api/test_routes/test_books_draft_style_coverage.py
  backend/tests/test_batch_question_responses.py
  docs/demos/2026-07-08-issue-187-batch-response-validation.md
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

feat(billing): Stripe subscription webhook with raw-body HMAC verify (#220)
  backend/.env.example
  backend/ENV_VAR_CHANGELOG.md
  backend/app/api/endpoints/webhooks.py
  backend/app/core/config.py
  backend/app/core/entitlements.py
  backend/app/db/stripe_events.py
  backend/app/db/user.py
  backend/app/models/user.py
  backend/app/schemas/user.py
  backend/pyproject.toml
  backend/requirements.in
  backend/requirements.txt
  backend/tests/test_api/test_stripe_webhook.py
  backend/tests/test_core/test_entitlements.py
  backend/uv.lock
Due: backend-lint, backend-unit-tests, backend-coverage

fix(billing): audit-trail plan changes, clear dead sub id, full-app raw-body test (#220)
  backend/app/api/endpoints/webhooks.py
  backend/tests/test_api/test_stripe_webhook.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(billing): release replay marker for unmatched users, scan all sub items (#220)
  backend/app/api/endpoints/webhooks.py
  backend/app/core/config.py
  backend/tests/test_api/test_stripe_webhook.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs(demo): issue #220 Stripe webhook demo — real HMAC, real Mongo, all ACs evidenced
  docs/demos/2026-07-09-issue-220-stripe-webhook.md
Due: none

docs: CLAUDE.md changelog entry for #220
  CLAUDE.md
Due: none

feat(billing): Stripe subscription webhook with raw-body HMAC verify (#220) (#243)
  CLAUDE.md
  backend/.env.example
  backend/ENV_VAR_CHANGELOG.md
  backend/app/api/endpoints/webhooks.py
  backend/app/core/config.py
  backend/app/core/entitlements.py
  backend/app/db/stripe_events.py
  backend/app/db/user.py
  backend/app/models/user.py
  backend/app/schemas/user.py
  backend/pyproject.toml
  backend/requirements.in
  backend/requirements.txt
  backend/tests/test_api/test_stripe_webhook.py
  backend/tests/test_core/test_entitlements.py
  backend/uv.lock
  docs/demos/2026-07-09-issue-220-stripe-webhook.md
Due: backend-lint, backend-unit-tests, backend-coverage

feat(billing): Stripe checkout endpoint + settings Billing tab (#221)
  backend/.env.example
  backend/ENV_VAR_CHANGELOG.md
  backend/app/api/endpoints/billing.py
  backend/app/api/endpoints/router.py
  backend/app/core/config.py
  backend/tests/test_api/test_billing_checkout.py
  frontend/src/__tests__/SettingsPageBilling.test.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/components/settings/BillingSettingsForm.tsx
  frontend/src/components/settings/__tests__/BillingSettingsForm.test.tsx
  frontend/src/hooks/__tests__/useBillingApi.test.ts
  frontend/src/hooks/useBillingApi.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

test(billing): pin Customer.create failure sanitization (opencode review)
  backend/tests/test_api/test_billing_checkout.py
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(billing): post-PR review minors — success toast variant, test hygiene, intent comment
  backend/app/api/endpoints/billing.py
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/components/settings/__tests__/BillingSettingsForm.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(users): surface stripe linkage in /users/me + demo (#221)
  backend/app/api/endpoints/users.py
  backend/tests/test_api/test_billing_checkout.py
  docs/demos/1d32f96e-2026-07-09.png
  docs/demos/2026-07-09-issue-221-stripe-checkout.md
  docs/demos/b372e4ca-2026-07-09.png
  docs/demos/bfe13564-2026-07-09.png
Due: backend-lint, backend-unit-tests, backend-coverage

docs: sync CLAUDE.md changelog + todo for #221
  CLAUDE.md
  tasks/todo.md
Due: none

feat(billing): Stripe checkout flow for plan upgrade (#221) (#245)
  CLAUDE.md
  backend/.env.example
  backend/ENV_VAR_CHANGELOG.md
  backend/app/api/endpoints/billing.py
  backend/app/api/endpoints/router.py
  backend/app/api/endpoints/users.py
  backend/app/core/config.py
  backend/tests/test_api/test_billing_checkout.py
  docs/demos/1d32f96e-2026-07-09.png
  docs/demos/2026-07-09-issue-221-stripe-checkout.md
  docs/demos/b372e4ca-2026-07-09.png
  docs/demos/bfe13564-2026-07-09.png
  frontend/src/__tests__/SettingsPageBilling.test.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/components/settings/BillingSettingsForm.tsx
  frontend/src/components/settings/__tests__/BillingSettingsForm.test.tsx
  frontend/src/hooks/__tests__/useBillingApi.test.ts
  frontend/src/hooks/useBillingApi.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

feat(billing): billing settings UI — Stripe portal + tab deep-link (#222)
  backend/app/api/endpoints/billing.py
  backend/tests/test_api/test_billing_portal.py
  frontend/src/__tests__/SettingsPageBilling.test.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/components/errors/ErrorNotification.tsx
  frontend/src/components/errors/__tests__/ErrorNotification.test.tsx
  frontend/src/components/settings/BillingSettingsForm.tsx
  frontend/src/components/settings/__tests__/BillingSettingsForm.test.tsx
  frontend/src/hooks/__tests__/useBillingApi.test.ts
  frontend/src/hooks/useBillingApi.ts
  frontend/src/hooks/useProfileApi.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(billing): honest lapsed-user copy + post-PR review nits, demo (#222)
  backend/tests/test_api/test_billing_portal.py
  docs/demos/2026-07-09-issue-222-billing-portal.md
  docs/demos/issue222-billing-tab-pro.png
  docs/demos/issue222-deeplink-free.png
  docs/demos/issue222-draft-402-inline.png
  docs/demos/issue222-portal-roundtrip.png
  docs/demos/issue222-restricted-both-buttons.png
  frontend/src/components/settings/BillingSettingsForm.tsx
  frontend/src/components/settings/__tests__/BillingSettingsForm.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs: changelog + todo sync for #222
  CLAUDE.md
  tasks/todo.md
Due: none

style(billing): suppress StripeError from sanitized 502 traceback chain (from None)
  backend/app/api/endpoints/billing.py
Due: backend-lint, backend-unit-tests, backend-coverage

feat(billing): billing settings UI — Stripe portal + tab deep-link (#222) (#246)
  CLAUDE.md
  backend/app/api/endpoints/billing.py
  backend/tests/test_api/test_billing_portal.py
  docs/demos/2026-07-09-issue-222-billing-portal.md
  docs/demos/issue222-billing-tab-pro.png
  docs/demos/issue222-deeplink-free.png
  docs/demos/issue222-draft-402-inline.png
  docs/demos/issue222-portal-roundtrip.png
  docs/demos/issue222-restricted-both-buttons.png
  frontend/src/__tests__/SettingsPageBilling.test.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/components/errors/ErrorNotification.tsx
  frontend/src/components/errors/__tests__/ErrorNotification.test.tsx
  frontend/src/components/settings/BillingSettingsForm.tsx
  frontend/src/components/settings/__tests__/BillingSettingsForm.test.tsx
  frontend/src/hooks/__tests__/useBillingApi.test.ts
  frontend/src/hooks/useBillingApi.ts
  frontend/src/hooks/useProfileApi.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(entitlements): route 402s to the Upgrade CTA in wizard + draft dialogs (#247)
  frontend/src/__tests__/ChapterQuestionsEndToEnd.test.tsx
  frontend/src/__tests__/DraftGenerationButton.test.tsx
  frontend/src/__tests__/DraftGenerator.test.tsx
  frontend/src/__tests__/bookClient.test.tsx
  frontend/src/components/chapters/DraftGenerator.tsx
  frontend/src/components/chapters/questions/DraftGenerationButton.tsx
  frontend/src/components/toc/ErrorDisplay.tsx
  frontend/src/components/toc/TocGenerationWizard.tsx
  frontend/src/components/toc/__tests__/TocGenerationWizardEntitlement.test.tsx
  frontend/src/lib/api/__tests__/bookClient.test.ts
  frontend/src/lib/api/bookClient.ts
  frontend/src/types/toc.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

refactor(entitlements): review fixes — delete dead draftClient, drop dead errorStatusCode in accept-toc catch
  frontend/src/__tests__/ChapterQuestionsEndToEnd.test.tsx
  frontend/src/components/toc/TocGenerationWizard.tsx
  frontend/src/lib/api/draftClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(demo): #247 demo — wizard Upgrade panel, billing deep link, draft toast with no raw JSON
  docs/demos/2026-07-09-issue-247-entitlement-402-cta.md
  docs/demos/88e00566-2026-07-10.png
  docs/demos/9e0d4b4d-2026-07-10.png
  docs/demos/9f9ea5a8-2026-07-10.png
  docs/demos/issue247-billing-after-upgrade-click.png
  docs/demos/issue247-draft-402-upgrade-toast.png
  docs/demos/issue247-wizard-upgrade-panel.png
Due: none

docs: sync CLAUDE.md changelog + lessons for #247
  CLAUDE.md
  tasks/lessons.md
Due: none

fix(entitlements): route 402s to the Upgrade CTA in wizard + draft dialogs (#247) (#248)
  CLAUDE.md
  docs/demos/2026-07-09-issue-247-entitlement-402-cta.md
  docs/demos/88e00566-2026-07-10.png
  docs/demos/9e0d4b4d-2026-07-10.png
  docs/demos/9f9ea5a8-2026-07-10.png
  docs/demos/issue247-billing-after-upgrade-click.png
  docs/demos/issue247-draft-402-upgrade-toast.png
  docs/demos/issue247-wizard-upgrade-panel.png
  frontend/src/__tests__/ChapterQuestionsEndToEnd.test.tsx
  frontend/src/__tests__/DraftGenerationButton.test.tsx
  frontend/src/__tests__/DraftGenerator.test.tsx
  frontend/src/__tests__/bookClient.test.tsx
  frontend/src/components/chapters/DraftGenerator.tsx
  frontend/src/components/chapters/questions/DraftGenerationButton.tsx
  frontend/src/components/toc/ErrorDisplay.tsx
  frontend/src/components/toc/TocGenerationWizard.tsx
  frontend/src/components/toc/__tests__/TocGenerationWizardEntitlement.test.tsx
  frontend/src/lib/api/__tests__/bookClient.test.ts
  frontend/src/lib/api/bookClient.ts
  frontend/src/lib/api/draftClient.ts
  frontend/src/types/toc.ts
  tasks/lessons.md
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests
