Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

frontend-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Checking
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-unit-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend && npm test -- --passWithNoTests --watchAll=false'
  language: system
  pass_filenames: false

frontend-coverage:
  name: Frontend Coverage Check (≥85%)
  entry: bash -c 'cd frontend && npm test -- --coverage --coverageThreshold="{\"global\":{\"lines\":85,\"statements\":85,\"branches\":75,\"functions\":85}}" --watchAll=false'
  language: system
  pass_filenames: false

frontend-e2e-tests:
  name: Frontend E2E Tests (Playwright)
  entry: bash -c 'cd frontend && BYPASS_AUTH=true npx playwright test'
  language: system
  pass_filenames: false

backend-lint:
  name: Backend Linting (ruff)
  entry: bash -c 'cd backend && uv run ruff check app/ tests/ || true'
  language: system
  pass_filenames: false

backend-unit-tests:
  name: Backend Unit Tests
  entry: bash -c 'cd backend && uv run pytest tests/'
  language: system
  pass_filenames: false
  require_serial: true

backend-coverage:
  name: Backend Coverage Check (≥85%)
  entry: bash -c 'cd backend && uv run pytest tests/ --cov=app --cov-fail-under=85'
  language: system
  pass_filenames: false
  require_serial: true

fix(2fa): require save acknowledgment before dismissing regenerated codes (#217)
  frontend/src/components/settings/TwoFactorSetup.tsx
  frontend/src/components/settings/__tests__/SecuritySettings.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(2fa): enforce acknowledgment in the verify submit handler (#217)
  frontend/src/components/settings/TwoFactorSetup.tsx
  frontend/src/components/settings/__tests__/SecuritySettings.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

chore: untrack orphaned demo screenshots swept in by a broad git add
  docs/demos/30fa4b21-2026-07-14.png
  docs/demos/4670aaf0-2026-07-13.png
  docs/demos/70c9ca20-2026-07-13.png
  docs/demos/a9e5b84b-2026-07-13.png
  docs/demos/dash.png
  docs/demos/dialog-prefilled.png
  docs/demos/us194-strips.png
Due: none

fix(2fa): single-flight guard on the password submit handler (#217)
  frontend/src/components/settings/TwoFactorSetup.tsx
  frontend/src/components/settings/__tests__/SecuritySettings.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: changelog entry for #217 2FA backup-code regeneration + recovery
  CLAUDE.md
Due: none

[P2.17] fix(summary): gate on the real readiness threshold, drop contradictory copy (#218)
  frontend/src/app/dashboard/books/[bookId]/summary/__tests__/page.test.tsx
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
  frontend/src/components/toc/NotReadyMessage.tsx
  frontend/src/components/toc/__tests__/NotReadyMessage.test.tsx
  frontend/src/lib/api/bookClient.ts
  frontend/src/lib/constants/__tests__/summary-readiness.test.ts
  frontend/src/lib/constants/summary-readiness.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(summary): split words on Python's whitespace set, not JS /\s/ (#218)
  frontend/src/lib/constants/__tests__/summary-readiness.test.ts
  frontend/src/lib/constants/summary-readiness.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(summary): count characters as code points, matching Python len() (#218)
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
  frontend/src/lib/constants/__tests__/summary-readiness.test.ts
  frontend/src/lib/constants/summary-readiness.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(demo): #218 summary readiness gate — main-vs-branch differential
  docs/demos/2026-07-14-issue-218-branch-blocked.png
  docs/demos/2026-07-14-issue-218-main-contradiction.png
  docs/demos/2026-07-14-issue-218-main-deadend.png
  docs/demos/2026-07-14-issue-218-main-emoji-152.png
  docs/demos/2026-07-14-issue-218-summary-readiness-gate.md
Due: none

docs: CLAUDE.md changelog entry for #218 (PR #294)
  CLAUDE.md
Due: none

[P2.17] fix(summary): gate on the real readiness threshold, drop contradictory word/char copy (#218) (#294)
  CLAUDE.md
  docs/demos/2026-07-14-issue-218-branch-blocked.png
  docs/demos/2026-07-14-issue-218-main-contradiction.png
  docs/demos/2026-07-14-issue-218-main-deadend.png
  docs/demos/2026-07-14-issue-218-main-emoji-152.png
  docs/demos/2026-07-14-issue-218-summary-readiness-gate.md
  frontend/src/app/dashboard/books/[bookId]/summary/__tests__/page.test.tsx
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
  frontend/src/components/toc/NotReadyMessage.tsx
  frontend/src/components/toc/__tests__/NotReadyMessage.test.tsx
  frontend/src/lib/api/bookClient.ts
  frontend/src/lib/constants/__tests__/summary-readiness.test.ts
  frontend/src/lib/constants/summary-readiness.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(questions): collapse repeated question_id within one batch save (#242)
  backend/app/db/questions.py
  backend/tests/test_batch_question_responses.py
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(questions): return batch results in request order + pin repeat edges (#242)
  backend/app/db/questions.py
  backend/tests/test_batch_question_responses.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs(demo): #242 batch duplicate question_id — real servers, both index states
  docs/demos/2026-07-14-issue-242-batch-duplicate-question-id.md
Due: none

docs: CLAUDE.md changelog entry for #242 (PR #296)
  CLAUDE.md
  tasks/todo.md
Due: none

[P2.18] fix(questions): collapse repeated question_id within one batch response save (#242) (#296)
  CLAUDE.md
  backend/app/db/questions.py
  backend/tests/test_batch_question_responses.py
  docs/demos/2026-07-14-issue-242-batch-duplicate-question-id.md
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(questions): generate-then-swap bulk regeneration to avoid empty-chapter window (#234)
  backend/app/db/database.py
  backend/app/db/questions.py
  backend/app/services/question_generation_service.py
  backend/tests/test_db/test_question_regeneration_swap.py
  backend/tests/test_services/test_question_generation_service.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: demo for generate-then-swap question regeneration (#234)
  docs/demos/2026-07-16-issue-234-generate-then-swap.md
Due: none

docs: CLAUDE.md changelog entry for #234 (PR #297)
  CLAUDE.md
Due: none

[P2.19] fix(questions): generate-then-swap bulk regeneration to avoid empty-chapter window (#234) (#297)
  CLAUDE.md
  backend/app/db/database.py
  backend/app/db/questions.py
  backend/app/services/question_generation_service.py
  backend/tests/test_db/test_question_regeneration_swap.py
  backend/tests/test_services/test_question_generation_service.py
  docs/demos/2026-07-16-issue-234-generate-then-swap.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(ai): draft generation on gpt-4o so the 5,000-word UI option is serviceable (#232)
  backend/app/services/ai_service.py
  backend/tests/test_services/test_ai_service_draft_generation.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: demo + CLAUDE.md changelog for draft output ceiling (#232)
  CLAUDE.md
  docs/demos/2026-07-16-issue-232-draft-output-ceiling.md
Due: none

fix(ai): draft generation on gpt-4o so the 5,000-word UI option is serviceable (#232) (#298)
  CLAUDE.md
  backend/app/services/ai_service.py
  backend/tests/test_services/test_ai_service_draft_generation.py
  docs/demos/2026-07-16-issue-232-draft-output-ceiling.md
Due: backend-lint, backend-unit-tests, backend-coverage

security(ci): block fork PRs from the ZHIPU_API_KEY review job (#270)
  .github/workflows/glm-review.yml
Due: none

docs(demo): #270 fork-guard truth table + mutation evidence
  docs/demos/2026-07-17-issue-270-glm-review-fork-guard.md
Due: none

docs(claude): changelog entry for #270 fork-guard
  CLAUDE.md
Due: none

security(ci): block fork PRs from the ZHIPU_API_KEY review job (#270) (#306)
  .github/workflows/glm-review.yml
  CLAUDE.md
  docs/demos/2026-07-17-issue-270-glm-review-fork-guard.md
Due: none

feat(middleware): require E2E_ALLOW_BYPASS for auth bypass in all environments (#272)
  frontend/src/__tests__/middleware.test.ts
  frontend/src/middleware.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

ci(e2e): pin E2E_ALLOW_BYPASS=1 in the CI E2E job env (#272)
  .github/workflows/tests.yml
Due: none

docs: document E2E_ALLOW_BYPASS requirement for auth bypass (#272)
  CLAUDE.md
  README.md
  frontend/.env.example
  frontend/docs/E2E_TEST_STATUS.md
  frontend/tests/e2e/E2E_TEST_STATUS.md
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test: tighten bypass pins from cross-family review (#272)
  README.md
  docs/GITHUB_SECRETS_SETUP.md
  frontend/src/__tests__/middleware.test.ts
  frontend/tests/e2e/E2E_TEST_STATUS.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: update stale changelog line for the both-required bypass rule (#272)
  README.md
Due: none

docs: add showboat demo verifying #272 acceptance criteria
  docs/demos/2026-07-18-issue-272-e2e-allow-bypass-all-envs.md
Due: none

docs: sync documentation with code changes (#272)
  CLAUDE.md
  tasks/todo.md
Due: none

feat: require E2E_ALLOW_BYPASS for auth bypass in all environments (#272)
  .github/workflows/tests.yml
  CLAUDE.md
  README.md
  docs/GITHUB_SECRETS_SETUP.md
  docs/demos/2026-07-18-issue-272-e2e-allow-bypass-all-envs.md
  frontend/.env.example
  frontend/docs/E2E_TEST_STATUS.md
  frontend/src/__tests__/middleware.test.ts
  frontend/src/middleware.ts
  frontend/tests/e2e/E2E_TEST_STATUS.md
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(config): require E2E_ALLOW_BYPASS for backend BYPASS_AUTH outside production (#307)
  backend/app/core/config.py
  backend/tests/test_core/test_security.py
  backend/tests/test_main.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: document the backend E2E_ALLOW_BYPASS requirement (#307)
  CLAUDE.md
  README.md
  backend/.env.example
  backend/ENV_VAR_CHANGELOG.md
  frontend/tests/e2e/E2E_TEST_STATUS.md
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

ci(e2e): set E2E_ALLOW_BYPASS=1 on the backend-start step (#307)
  .github/workflows/tests.yml
Due: none

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/
