Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, backend-lint

frontend-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Checking
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

backend-lint:
  name: Backend Linting (ruff)
  entry: bash -c 'cd backend && uv run ruff check app/ tests/ || true'
  language: system
  pass_filenames: false

fix: update package-lock.json to match package.json
  frontend/package-lock.json
Due: frontend-lint, frontend-typecheck

fix: resolve GitHub Actions failures (package-lock sync, env vars, permissions)
  .github/workflows/sync-docs.yml
  backend/app/core/config.py
  frontend/package-lock.json
Due: frontend-lint, frontend-typecheck, backend-lint

fix: add write permissions to sync-docs workflow
  .github/workflows/sync-docs.yml
Due: none

feat: enforce TDD with pre-commit hooks for tests and coverage
  .pre-commit-config.yaml
  CLAUDE.md
Due: none

fix: resolve all critical test blockers (frontend TS, backend imports, E2E deps)
  backend/app/api/middleware/__init__.py
  backend/app/api/request_validation.py
  backend/app/main.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/session/SessionWarning.tsx
  frontend/src/middleware.ts
Due: frontend-lint, frontend-typecheck, backend-lint

fix: remove sync-docs GitHub Actions workflow (beads DB is gitignored)
  .github/workflows/sync-docs.yml
  CLAUDE.md
  CURRENT_SPRINT.md
  docs/AUTOMATION_SETUP.md
  scripts/export-current-sprint.sh
Due: none

feat: integrate secret detection into pre-commit hooks
  .pre-commit-config.yaml
  CURRENT_SPRINT.md
  IMPLEMENTATION_PLAN.md
  scripts/check-secrets.sh
Due: none

docs: update AUTOMATION_SETUP.md with secret detection details
  docs/AUTOMATION_SETUP.md
Due: none

refactor: replace hardcoded sprints with priority/status organization
  IMPLEMENTATION_PLAN.md
  scripts/export-implementation-plan.sh
Due: none

fix: correct Clerk auth.protect() usage in middleware
  frontend/src/middleware.ts
Due: frontend-lint, frontend-typecheck

docs: categorize 19 backend test failures into tracked issues
  CURRENT_SPRINT.md
  IMPLEMENTATION_PLAN.md
  docs/BACKEND_TEST_FAILURE_ANALYSIS.md
Due: none

fix(auth): ensure security tests properly validate token verification
  .gitignore
  CURRENT_SPRINT.md
  IMPLEMENTATION_PLAN.md
  backend/tests/test_api/test_routes/test_users.py
Due: backend-lint

fix: revert unauthorized .gitignore changes and commit bd tracker data
  .beads/issues.jsonl
  .gitignore
Due: none

docs: ratify project constitution v1.0.0
  .specify/memory/constitution.md
Due: none

fix(hooks): remove problematic detect-private-key hook
  .pre-commit-config.yaml
Due: none

fix: resolve bd database migration and disable auto-export hooks
  .bd-migration-note.txt
  .pre-commit-config.yaml
  CURRENT_SPRINT.md
  IMPLEMENTATION_PLAN.md
Due: none

docs: add comprehensive AI agent handoff documentation
  AGENT_HANDOFF.md
Due: none

fix(tests): resolve auth token test failures in bookClient and Dashboard
  frontend/src/__tests__/bookClient.test.tsx
  frontend/src/__tests__/pages/DashboardBookDelete.test.tsx
Due: frontend-lint, frontend-typecheck

docs: update AGENT_HANDOFF with completed auth token test fixes
  AGENT_HANDOFF.md
Due: none

fix(ui): resolve BookCard date formatting timezone issue
  frontend/src/components/BookCard.tsx
Due: frontend-lint, frontend-typecheck

docs: comprehensive handoff documentation for next agent
  AGENT_HANDOFF.md
Due: none

docs(tests): update frontend test status to 99.6% pass rate
  CLAUDE.md
Due: none

Add dependency on frontend and backend tests for E2E
  .github/workflows/tests.yml
Due: none

fix(tests): resolve MongoDB Atlas SSL connection failures
  .beads/beads.db-shm
  .beads/daemon.lock
  .beads/daemon.log
  .beads/daemon.pid
  .beads/issues.jsonl
  .beads/metadata.json
  CLAUDE.md
  backend/.coverage
  backend/app/db/base.py
  backend/app/db/session.py
  backend/tests/conftest.py
  backend/tests/test_services/test_session_service.py
  frontend/test-results/.playwright-artifacts-0/2b8d2fbb6f4408e0c2ccab84dd3bef26.webm
  frontend/test-results/.playwright-artifacts-15/557cd626283a47b28d445f0a78886d43.webm
  frontend/test-results/.playwright-artifacts-17/4e064d76bba9e233e0853fa459c8c902.webm
  frontend/test-results/.playwright-artifacts-17/956f499a3877b0e4511f5754a50460e2.png
  frontend/test-results/.playwright-artifacts-25/8d553a18296042c8ed51ca4b706631df.webm
  frontend/test-results/.playwright-artifacts-27/0662e5ffd33554d132270803f6f045f4.png
  frontend/test-results/.playwright-artifacts-27/2861c6d5733dd40761c8342c325d919a.webm
  frontend/test-results/.playwright-artifacts-28/389ea5b1a30a051770c48ec02e5ce0ab.png
  frontend/test-results/.playwright-artifacts-28/6e4e674db28ff03ff4fd4c69ffaaff4d.webm
  frontend/test-results/.playwright-artifacts-3/cba0207edabedf4760d1ede17de4fdd0.png
  frontend/test-results/.playwright-artifacts-3/e022e679b127267b827343bea9d78ea0.webm
  frontend/test-results/.playwright-artifacts-30/3793fa454a64f82030123ece56911238.png
  frontend/test-results/.playwright-artifacts-30/d4f22a6a67ab75081923ce7aaa04e0f1.webm
  frontend/test-results/.playwright-artifacts-31/d31b72381d231ca100fe8036c4eb1bbd.webm
  frontend/test-results/.playwright-artifacts-32/0f27812ba88ddd729c9b5ffb1de1a5c6.png
  frontend/test-results/.playwright-artifacts-32/b4cde93ac0bacdad1de829b0a4667ba8.webm
  frontend/test-results/.playwright-artifacts-33/1ca9bd9836fb817dda0ddb3f4ae73794.png
  frontend/test-results/.playwright-artifacts-33/ae70d41f5033cdb4f79a3ca5678c0a7a.webm
  frontend/test-results/.playwright-artifacts-35/652ff4548d61ba6fe070b4b0718edd14.webm
  frontend/test-results/.playwright-artifacts-36/5d68eab66eccefbe37661a90f8bfacbe.webm
  frontend/test-results/.playwright-artifacts-36/7e98dd86981c3dad95221839120931f7.png
  frontend/test-results/.playwright-artifacts-37/aa78eb6bb7d867af75237ec323cbaba3.png
  frontend/test-results/.playwright-artifacts-37/ff21df60f98b52a3bc9eb92203526966.webm
  frontend/test-results/.playwright-artifacts-38/bd915f37719b0f98aabd4ee3019f25b7.webm
  frontend/test-results/.playwright-artifacts-38/c372548688010d93444115147c943698.png
  frontend/test-results/01-homepage.png
  frontend/test-results/02-dashboard.png
Due: frontend-lint, frontend-typecheck, backend-lint

feat(e2e): Complete comprehensive E2E test suite with 85%+ coverage
  CLAUDE.md
  frontend/tests/e2e/deployment/01-preflight.spec.ts
  frontend/tests/e2e/deployment/README.md
Due: frontend-lint, frontend-typecheck

fix(e2e): Add BYPASS_AUTH support and environment configuration
  .beads/beads.db-shm
  .beads/daemon.log
  .beads/issues.jsonl
  frontend/playwright-report/data/14623b3b308ef620f0f77f6fa809209bc9ecb08b.webm
  frontend/playwright-report/data/4ceac6a3d80658537b0d86f91b8595b3cb5854a1.png
  frontend/playwright-report/data/4eb563bae1db5f323534e2cf5b80a5dc704a730c.webm
  frontend/playwright-report/data/683f044bc03be5abeb061e18ca2a6684d3ea4b63.webm
  frontend/playwright-report/data/7a33d5db6370b6de345e990751aa1f1da65ad675.png
  frontend/playwright-report/data/7a51a8e9193ca7422f44a7ea988c9a45874b2968.webm
  frontend/playwright-report/data/8238198ce411ce076077f26c5e7e5cbddeca294f.png
  frontend/playwright-report/data/8afcd9f6b6b94ed19162c2cd3d0f8962025aae0d.png
  frontend/playwright-report/data/b78eefb167a39b352e424585efd1aaa6ef8c8e50.webm
  frontend/playwright-report/data/c7e6d3810e3ef7e73448d8e89aae502e8fcb9e97.md
  frontend/playwright-report/index.html
  frontend/test-results/.playwright-artifacts-0/2b8d2fbb6f4408e0c2ccab84dd3bef26.webm
  frontend/test-results/.playwright-artifacts-15/557cd626283a47b28d445f0a78886d43.webm
  frontend/test-results/.playwright-artifacts-17/4e064d76bba9e233e0853fa459c8c902.webm
  frontend/test-results/.playwright-artifacts-17/956f499a3877b0e4511f5754a50460e2.png
  frontend/test-results/.playwright-artifacts-25/8d553a18296042c8ed51ca4b706631df.webm
  frontend/test-results/.playwright-artifacts-27/2861c6d5733dd40761c8342c325d919a.webm
  frontend/test-results/.playwright-artifacts-28/389ea5b1a30a051770c48ec02e5ce0ab.png
  frontend/test-results/.playwright-artifacts-28/6e4e674db28ff03ff4fd4c69ffaaff4d.webm
  frontend/test-results/.playwright-artifacts-3/cba0207edabedf4760d1ede17de4fdd0.png
  frontend/test-results/.playwright-artifacts-3/e022e679b127267b827343bea9d78ea0.webm
  frontend/test-results/.playwright-artifacts-30/d4f22a6a67ab75081923ce7aaa04e0f1.webm
  frontend/test-results/.playwright-artifacts-31/d31b72381d231ca100fe8036c4eb1bbd.webm
  frontend/test-results/.playwright-artifacts-32/0f27812ba88ddd729c9b5ffb1de1a5c6.png
  frontend/test-results/.playwright-artifacts-32/b4cde93ac0bacdad1de829b0a4667ba8.webm
  frontend/test-results/.playwright-artifacts-33/1ca9bd9836fb817dda0ddb3f4ae73794.png
  frontend/test-results/.playwright-artifacts-33/ae70d41f5033cdb4f79a3ca5678c0a7a.webm
  frontend/test-results/.playwright-artifacts-35/652ff4548d61ba6fe070b4b0718edd14.webm
  frontend/test-results/.playwright-artifacts-36/5d68eab66eccefbe37661a90f8bfacbe.webm
  frontend/test-results/.playwright-artifacts-36/7e98dd86981c3dad95221839120931f7.png
  frontend/test-results/.playwright-artifacts-37/aa78eb6bb7d867af75237ec323cbaba3.png
  frontend/test-results/.playwright-artifacts-37/ff21df60f98b52a3bc9eb92203526966.webm
  frontend/test-results/.playwright-artifacts-38/bd915f37719b0f98aabd4ee3019f25b7.webm
  frontend/test-results/.playwright-artifacts-38/c372548688010d93444115147c943698.png
  frontend/test-results/01-homepage.png
  frontend/test-results/02-dashboard.png
Due: frontend-lint, frontend-typecheck

docs(e2e): Add comprehensive E2E test suite status report
  frontend/tests/e2e/E2E_TEST_STATUS.md
Due: frontend-lint, frontend-typecheck

docs: Add comprehensive Auto-Author project overview specification
  specs/001-project-overview-spec/checklists/requirements.md
  specs/001-project-overview-spec/spec.md
Due: none

fix: resolve auth status codes, iOS detection, and test flakiness
  .beads/.gitignore
  .beads/beads.db-shm
  .beads/config.yaml
  .beads/daemon.lock
  .beads/daemon.log
  .beads/daemon.pid
  .beads/issues.jsonl
  .gitattributes
  CURRENT_SPRINT.md
  IMPLEMENTATION_PLAN.md
  archive/AGENT_HANDOFF.md
  archive/CONSOLIDATION_SUMMARY.md
  archive/DOCUMENTATION_MANAGEMENT_SUMMARY.md
  backend/app/services/session_service.py
  backend/tests/test_api/test_book_cover_upload.py
  backend/tests/test_api/test_export_endpoints.py
  backend/tests/test_api/test_routes/test_account_deletion.py
  backend/tests/test_services/test_session_service.py
  frontend/test-results/.last-run.json
Due: frontend-lint, frontend-typecheck, backend-lint

test(security): Add comprehensive security test suite for auth & dependencies
  .beads/issues.jsonl
  backend/tests/test_api/test_dependencies.py
  backend/tests/test_core/test_security.py
Due: backend-lint

fix: PM2 deployment issues and grep pattern handling
  .github/workflows/deploy-production.yml.disabled
  .github/workflows/deploy-staging.tbd
  docs/PM2-DEPLOYMENT-FIXES.md
  ecosystem.config.js
  scripts/deploy-fixed.sh
  scripts/deploy.sh
Due: none

fix: upgrade @axe-core/react from 4.10.2 to 4.11.0
  frontend/package.json
Due: frontend-lint, frontend-typecheck

fix: upgrade zod from 3.25.64 to 3.25.76
  frontend/package.json
Due: frontend-lint, frontend-typecheck

fix: upgrade @radix-ui/react-toast from 1.2.14 to 1.2.15
  frontend/package.json
Due: frontend-lint, frontend-typecheck

fix: upgrade @radix-ui/react-dropdown-menu from 2.1.15 to 2.1.16
  frontend/package.json
Due: frontend-lint, frontend-typecheck

fix: upgrade @radix-ui/react-select from 2.2.5 to 2.2.6
  frontend/package.json
Due: frontend-lint, frontend-typecheck

fix: upgrade @axe-core/react from 4.10.2 to 4.11.0 (#20)
  frontend/package.json
Due: frontend-lint, frontend-typecheck

fix: upgrade @radix-ui/react-toast from 1.2.14 to 1.2.15 (#22)
  frontend/package.json
Due: frontend-lint, frontend-typecheck

fix: upgrade @radix-ui/react-dropdown-menu from 2.1.15 to 2.1.16 (#23)
  frontend/package.json
Due: frontend-lint, frontend-typecheck

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  backend-lint: any of: ^backend/
