Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

frontend-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Checking
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-unit-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend && npm test -- --passWithNoTests --watchAll=false'
  language: system
  pass_filenames: false

frontend-coverage:
  name: Frontend Coverage Check (≥85%)
  entry: bash -c 'cd frontend && npm test -- --coverage --coverageThreshold="{\"global\":{\"lines\":85,\"statements\":85,\"branches\":75,\"functions\":85}}" --watchAll=false'
  language: system
  pass_filenames: false

frontend-e2e-tests:
  name: Frontend E2E Tests (Playwright)
  entry: bash -c 'cd frontend && BYPASS_AUTH=true npx playwright test'
  language: system
  pass_filenames: false

backend-lint:
  name: Backend Linting (ruff)
  entry: bash -c 'cd backend && uv run ruff check app/ tests/ || true'
  language: system
  pass_filenames: false

backend-unit-tests:
  name: Backend Unit Tests
  entry: bash -c 'cd backend && uv run pytest tests/'
  language: system
  pass_filenames: false
  require_serial: true

backend-coverage:
  name: Backend Coverage Check (≥85%)
  entry: bash -c 'cd backend && uv run pytest tests/ --cov=app --cov-fail-under=85'
  language: system
  pass_filenames: false
  require_serial: true

docs: log error/success feedback unification (#46)
  CLAUDE.md
Due: none

feat(ui): surface error/success feedback and unify toasts (#46) (#115)
  CLAUDE.md
  frontend/src/__tests__/ChapterTabs.test.tsx
  frontend/src/__tests__/DraftGenerator.test.tsx
  frontend/src/__tests__/NewBookPage.test.tsx
  frontend/src/__tests__/QuestionResponseVerification.test.tsx
  frontend/src/__tests__/SettingsPageSave.test.tsx
  frontend/src/__tests__/pages/DashboardBookDelete.test.tsx
  frontend/src/app/dashboard/books/[bookId]/export/page.tsx
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/app/dashboard/new-book/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/BookCreationWizard.tsx
  frontend/src/components/books/__tests__/BookCreationWizard.test.tsx
  frontend/src/components/chapters/ChapterTabs.tsx
  frontend/src/components/chapters/DraftGenerator.tsx
  frontend/src/components/chapters/questions/DraftGenerationButton.tsx
  frontend/src/components/chapters/questions/QuestionContainer.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/export/ExportOptionsModal.tsx
  frontend/src/lib/toast.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(security): cover auth/session error branches to 100% (#116)
  backend/tests/test_core/test_security.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(security): cover auth/session error branches to 100% (#116) (#119)
  backend/tests/test_core/test_security.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs(coverage): refresh backend coverage report with real numbers (#117)
  backend/TEST_COVERAGE_REPORT.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs(coverage): refresh backend coverage report with real numbers (#117) (#127)
  backend/TEST_COVERAGE_REPORT.md
Due: backend-lint, backend-unit-tests, backend-coverage

feat(ai): align draft generation with documented styles + fix loading bug (#55)
  CLAUDE.md
  frontend/src/__tests__/DraftGenerator.test.tsx
  frontend/src/components/chapters/DraftGenerator.tsx
  frontend/src/components/chapters/questions/DraftGenerationButton.tsx
  frontend/src/e2e/draft-generation.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(ai): align draft generation with documented styles + fix loading bug (#55) (#128)
  CLAUDE.md
  frontend/src/__tests__/DraftGenerator.test.tsx
  frontend/src/components/chapters/DraftGenerator.tsx
  frontend/src/components/chapters/questions/DraftGenerationButton.tsx
  frontend/src/e2e/draft-generation.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(ai): writing style transformation with before/after preview and revert (#58)
  AUTO_AUTHOR_USER_MANUAL.md
  CLAUDE.md
  backend/app/api/endpoints/books.py
  backend/app/services/ai_service.py
  backend/app/services/style_templates.py
  backend/tests/test_api/test_style_transformation.py
  backend/tests/test_services/test_ai_service_style_transformation.py
  backend/tests/test_services/test_style_templates.py
  frontend/src/__tests__/StyleTransformer.test.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/StyleTransformer.tsx
  frontend/src/e2e/style-transformation.spec.ts
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(ai): reject truncated style rewrites and fix revert dirty-state (#58)
  backend/app/services/ai_service.py
  backend/tests/test_services/test_ai_service_style_transformation.py
  frontend/src/components/chapters/ChapterEditor.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

feat(ai): writing style transformation with preview + revert (#58) (#129)
  AUTO_AUTHOR_USER_MANUAL.md
  CLAUDE.md
  backend/app/api/endpoints/books.py
  backend/app/services/ai_service.py
  backend/app/services/style_templates.py
  backend/tests/test_api/test_style_transformation.py
  backend/tests/test_services/test_ai_service_style_transformation.py
  backend/tests/test_services/test_style_templates.py
  frontend/src/__tests__/StyleTransformer.test.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/StyleTransformer.tsx
  frontend/src/e2e/style-transformation.spec.ts
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs: correct README to reflect better-auth (not Clerk)
  README.md
Due: none

docs: correct README to reflect better-auth (not Clerk) (#130)
  README.md
Due: none

test(api): cover transcription endpoints; drop dead cover-upload duplicate
  backend/app/api/endpoints/book_cover_upload.py
  backend/tests/test_api/test_book_cover_upload.py
  backend/tests/test_api/test_transcription.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: refresh coverage notes for transcription/cover-upload (#93)
  CLAUDE.md
Due: none

test(api): cover transcription endpoints; remove dead cover-upload duplicate (#93) (#131)
  CLAUDE.md
  backend/app/api/endpoints/book_cover_upload.py
  backend/tests/test_api/test_book_cover_upload.py
  backend/tests/test_api/test_transcription.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(test): deterministic TabStatePersistence + frontend coverage to 85% (#68)
  CLAUDE.md
  frontend/src/__tests__/TabStatePersistence.test.tsx
  frontend/src/components/chapters/__tests__/ChapterTabs.test.tsx
  frontend/src/components/chapters/__tests__/MobileChapterTabs.test.tsx
  frontend/src/components/chapters/__tests__/TabBar.test.tsx
  frontend/src/components/chapters/__tests__/TabContextMenu.test.tsx
  frontend/src/components/chapters/__tests__/TabOverflowMenu.test.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionContainer.test.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionDisplay.test.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionGenerator.test.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionNavigation.test.tsx
  frontend/src/components/errors/ErrorNotification.tsx
  frontend/src/components/errors/__tests__/ErrorNotification.test.tsx
  frontend/src/components/toc/ClarifyingQuestions.tsx
  frontend/src/components/toc/__tests__/ClarifyingQuestions.test.tsx
  frontend/src/components/ui/__tests__/dropdown-menu.test.tsx
  frontend/src/components/ui/__tests__/sheet.test.tsx
  frontend/src/hooks/__tests__/usePerformanceTracking.test.ts
  frontend/src/hooks/__tests__/useTocSync.test.ts
  frontend/src/lib/__tests__/security.test.ts
  frontend/src/lib/__tests__/toast.test.ts
  frontend/src/lib/api/__tests__/bookClient.test.ts
  frontend/src/lib/errors/classifier.test.ts
  frontend/src/lib/errors/handler.test.ts
  frontend/src/lib/errors/index.test.ts
  frontend/src/lib/errors/utils.test.ts
  frontend/src/lib/loading/__tests__/timeEstimator.test.ts
  frontend/src/lib/performance/__tests__/budgets.test.ts
  frontend/src/lib/performance/__tests__/metrics.test.ts
  frontend/src/lib/security.ts
  frontend/src/lib/utils/__tests__/toc-to-tabs-converter.test.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(test): deterministic TabStatePersistence + frontend coverage to 85% (#68) (#132)
  CLAUDE.md
  frontend/src/__tests__/TabStatePersistence.test.tsx
  frontend/src/components/chapters/__tests__/ChapterTabs.test.tsx
  frontend/src/components/chapters/__tests__/MobileChapterTabs.test.tsx
  frontend/src/components/chapters/__tests__/TabBar.test.tsx
  frontend/src/components/chapters/__tests__/TabContextMenu.test.tsx
  frontend/src/components/chapters/__tests__/TabOverflowMenu.test.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionContainer.test.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionDisplay.test.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionGenerator.test.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionNavigation.test.tsx
  frontend/src/components/errors/ErrorNotification.tsx
  frontend/src/components/errors/__tests__/ErrorNotification.test.tsx
  frontend/src/components/toc/ClarifyingQuestions.tsx
  frontend/src/components/toc/__tests__/ClarifyingQuestions.test.tsx
  frontend/src/components/ui/__tests__/dropdown-menu.test.tsx
  frontend/src/components/ui/__tests__/sheet.test.tsx
  frontend/src/hooks/__tests__/usePerformanceTracking.test.ts
  frontend/src/hooks/__tests__/useTocSync.test.ts
  frontend/src/lib/__tests__/security.test.ts
  frontend/src/lib/__tests__/toast.test.ts
  frontend/src/lib/api/__tests__/bookClient.test.ts
  frontend/src/lib/errors/classifier.test.ts
  frontend/src/lib/errors/handler.test.ts
  frontend/src/lib/errors/index.test.ts
  frontend/src/lib/errors/utils.test.ts
  frontend/src/lib/loading/__tests__/timeEstimator.test.ts
  frontend/src/lib/performance/__tests__/budgets.test.ts
  frontend/src/lib/performance/__tests__/metrics.test.ts
  frontend/src/lib/security.ts
  frontend/src/lib/utils/__tests__/toc-to-tabs-converter.test.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(e2e): wire chapter Q&A into editor + harden staging journey (#105)
  backend/app/api/endpoints/books.py
  backend/tests/test_api/test_ai_error_responses.py
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.questionsToggle.test.tsx
  frontend/tests/e2e/staging/complete-user-journey.spec.ts
  frontend/tests/e2e/staging/fixtures/journey.helpers.ts
  frontend/tests/e2e/staging/regressions.spec.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(ai): read canonical OPENAI_API_KEY (staging key mismatch)
  .github/workflows/deploy-staging.yml
  backend/app/core/config.py
  backend/app/services/ai_service.py
  backend/tests/test_openai_key_resolution.py
Due: backend-lint, backend-unit-tests, backend-coverage

Harden full staging E2E journey + wire chapter Q&A (#105) (#134)
  .github/workflows/deploy-staging.yml
  backend/app/api/endpoints/books.py
  backend/app/core/config.py
  backend/app/services/ai_service.py
  backend/tests/test_api/test_ai_error_responses.py
  backend/tests/test_openai_key_resolution.py
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.questionsToggle.test.tsx
  frontend/tests/e2e/staging/complete-user-journey.spec.ts
  frontend/tests/e2e/staging/fixtures/journey.helpers.ts
  frontend/tests/e2e/staging/regressions.spec.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(toc): generate-toc must read question responses from request body (#105)
  backend/app/api/endpoints/books.py
  backend/tests/test_api/test_routes/test_toc_generation.py
  frontend/tests/e2e/staging/complete-user-journey.spec.ts
  frontend/tests/e2e/staging/fixtures/journey.helpers.ts
  frontend/tests/e2e/staging/regressions.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(toc): generate-toc must read question responses from request body (#105) (#135)
  backend/app/api/endpoints/books.py
  backend/tests/test_api/test_routes/test_toc_generation.py
  frontend/tests/e2e/staging/complete-user-journey.spec.ts
  frontend/tests/e2e/staging/fixtures/journey.helpers.ts
  frontend/tests/e2e/staging/regressions.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs: record #105 staging-journey hardening + Q&A wiring
  CLAUDE.md
  tasks/todo.md
Due: none

docs: record #105 staging-journey hardening + Q&A wiring (#136)
  CLAUDE.md
  tasks/todo.md
Due: none

chore(backend): remove dead service code + omit seed script from coverage (#120)
  CLAUDE.md
  backend/.coveragerc
  backend/app/services/chapter_cache_service.py
  backend/app/services/chapter_error_handler.py
  backend/app/services/chapter_soft_delete_service.py
  backend/app/services/content_analysis_service.py
  backend/app/services/genre_question_templates.py
  backend/app/services/historical_data_service.py
  backend/app/services/question_feedback_service.py
  backend/app/services/question_quality_service.py
  backend/app/services/user_level_adaptation.py
  backend/archived_tests/test_chapter_tabs_api.py
  backend/quick_validate.py
  backend/simple_validate.py
  backend/tests/test_chapter_tabs_api.py
  backend/validate_chapter_tabs.py
  docs/ai-caching-and-error-handling.md
  docs/developer-guide-question-system.md
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

chore(backend): remove dead service code + omit seed script from coverage (#120) (#137)
  CLAUDE.md
  backend/.coveragerc
  backend/app/services/chapter_cache_service.py
  backend/app/services/chapter_error_handler.py
  backend/app/services/chapter_soft_delete_service.py
  backend/app/services/content_analysis_service.py
  backend/app/services/genre_question_templates.py
  backend/app/services/historical_data_service.py
  backend/app/services/question_feedback_service.py
  backend/app/services/question_quality_service.py
  backend/app/services/user_level_adaptation.py
  backend/archived_tests/test_chapter_tabs_api.py
  backend/quick_validate.py
  backend/simple_validate.py
  backend/tests/test_chapter_tabs_api.py
  backend/validate_chapter_tabs.py
  docs/ai-caching-and-error-handling.md
  docs/developer-guide-question-system.md
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

test(books): cover books.py endpoints 41% -> 89% + fix 6 real bugs (#121)
  backend/app/api/endpoints/books.py
  backend/tests/conftest.py
  backend/tests/test_api/test_routes/test_books_chapter_content_coverage.py
  backend/tests/test_api/test_routes/test_books_chapter_questions_coverage.py
  backend/tests/test_api/test_routes/test_books_chapters_crud_coverage.py
  backend/tests/test_api/test_routes/test_books_crud_coverage.py
  backend/tests/test_api/test_routes/test_books_draft_style_coverage.py
  backend/tests/test_api/test_routes/test_books_pretoc_coverage.py
  backend/tests/test_api/test_routes/test_books_toc_coverage.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: record #121 books.py coverage + 6 bug fixes in CLAUDE.md
  CLAUDE.md
Due: none

fix(books): scope chapter analytics to the requested chapter
  backend/app/api/endpoints/books.py
  backend/tests/test_api/test_routes/test_books_chapter_content_coverage.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(books): cover books.py endpoints 41% → 89% + fix 6 real bugs (#121) (#138)
  CLAUDE.md
  backend/app/api/endpoints/books.py
  backend/tests/conftest.py
  backend/tests/test_api/test_routes/test_books_chapter_content_coverage.py
  backend/tests/test_api/test_routes/test_books_chapter_questions_coverage.py
  backend/tests/test_api/test_routes/test_books_chapters_crud_coverage.py
  backend/tests/test_api/test_routes/test_books_crud_coverage.py
  backend/tests/test_api/test_routes/test_books_draft_style_coverage.py
  backend/tests/test_api/test_routes/test_books_pretoc_coverage.py
  backend/tests/test_api/test_routes/test_books_toc_coverage.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(db): cover toc_transactions.py 70% → 93% + drop ghost validation script (#122)
  backend/tests/test_db/test_toc_transactions.py
  backend/tests/test_toc_transactions.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(db): cover toc_transactions.py 70% → 93% + drop ghost validation script (#122) (#139)
  backend/tests/test_db/test_toc_transactions.py
  backend/tests/test_toc_transactions.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(auth): cover better_auth_session/dependencies/session_middleware to 100% (#123)
  backend/tests/conftest.py
  backend/tests/test_api/test_dependencies.py
  backend/tests/test_api/test_session_middleware.py
  backend/tests/test_core/test_better_auth_session.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(auth): address codex review — non-tautological middleware tests, fixture for real limiter (#123)
  backend/tests/conftest.py
  backend/tests/test_api/test_dependencies.py
  backend/tests/test_api/test_session_middleware.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(auth): cover auth/session validation cluster to 100% (#123) (#140)
  backend/tests/conftest.py
  backend/tests/test_api/test_dependencies.py
  backend/tests/test_api/test_session_middleware.py
  backend/tests/test_core/test_better_auth_session.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(sessions): cover session API + db/user cluster to >=85% (#124)
  backend/tests/test_api/test_routes/test_sessions.py
  backend/tests/test_db/test_session_db.py
  backend/tests/test_db/test_user.py
  backend/tests/test_services/test_session_service_edge.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(sessions): cover session API + db/user cluster to >=85% (#124) (#141)
  backend/tests/test_api/test_routes/test_sessions.py
  backend/tests/test_db/test_session_db.py
  backend/tests/test_db/test_user.py
  backend/tests/test_services/test_session_service_edge.py
Due: backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/
