Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

frontend-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Checking
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-unit-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend && npm test -- --passWithNoTests --watchAll=false'
  language: system
  pass_filenames: false

frontend-coverage:
  name: Frontend Coverage Check (≥85%)
  entry: bash -c 'cd frontend && npm test -- --coverage --coverageThreshold="{\"global\":{\"lines\":85,\"statements\":85,\"branches\":75,\"functions\":85}}" --watchAll=false'
  language: system
  pass_filenames: false

frontend-e2e-tests:
  name: Frontend E2E Tests (Playwright)
  entry: bash -c 'cd frontend && BYPASS_AUTH=true npx playwright test'
  language: system
  pass_filenames: false

backend-lint:
  name: Backend Linting (ruff)
  entry: bash -c 'cd backend && uv run ruff check app/ tests/ || true'
  language: system
  pass_filenames: false

backend-unit-tests:
  name: Backend Unit Tests
  entry: bash -c 'cd backend && uv run pytest tests/'
  language: system
  pass_filenames: false
  require_serial: true

backend-coverage:
  name: Backend Coverage Check (≥85%)
  entry: bash -c 'cd backend && uv run pytest tests/ --cov=app --cov-fail-under=85'
  language: system
  pass_filenames: false
  require_serial: true

fix(security): scrub live staging identifiers from tracked docs (#544)
  .github/DEPLOYMENT.md
  docs/BACKEND_TEST_FAILURE_ANALYSIS.md
  docs/STAGING_VERIFICATION_RESULTS.md
  docs/demos/2026-07-10-issue-189-loopback-bind.md
  scripts/test_no_staging_identifiers.py
  tasks/lessons.md
Due: none

docs(deps): record the better-auth 1.7 staging verification (#550)
  docs/CHANGELOG.md
  docs/demos/2026-08-27-issue-550-better-auth-1.7-staging-verification.md
Due: none

docs(deps): record the better-auth 1.7 staging verification (#550) (#557)
  docs/CHANGELOG.md
  docs/demos/2026-08-27-issue-550-better-auth-1.7-staging-verification.md
Due: none

fix(auth): backfill better-auth 1.7 account identity for pre-1.7 rows (#556)
  backend/app/scripts/migration_account_issuer.py
  backend/tests/test_db/test_migration_account_issuer.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(deps): keep better-auth out of the grouped frontend-prod PR (#556)
  .github/dependabot.yml
  backend/tests/test_db/test_migration_account_issuer.py
  docs/STAGING-DEPLOYMENT.md
  scripts/test_dependabot_config.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(auth): forgot-password posts to a route better-auth 1.7 removed (#556)
  backend/app/scripts/migration_account_issuer.py
  frontend/src/__mocks__/better-auth-react.ts
  frontend/src/__tests__/ForgotPassword.test.tsx
  frontend/src/app/auth/forgot-password/page.tsx
  frontend/src/app/auth/reset-password/page.tsx
  frontend/src/jest.setup.ts
  frontend/src/lib/auth-client.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs(auth): record the #556 backfill demo and changelog entry
  docs/CHANGELOG.md
  docs/demos/2026-08-27-issue-556-better-auth-account-issuer-backfill.md
Due: none

fix(auth): match account.userId by value, not by BSON type (#556)
  backend/app/scripts/migration_account_issuer.py
  backend/tests/test_db/test_migration_account_issuer.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(auth): read the backfill's connection from the container env (#556)
  backend/app/scripts/migration_account_issuer.py
  backend/tests/test_db/test_migration_account_issuer.py
  docs/STAGING-DEPLOYMENT.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs: record the two post-review fixes in the #556 demo
  docs/demos/2026-08-27-issue-556-better-auth-account-issuer-backfill.md
Due: none

fix(auth): make the #556 pre-deploy gate actually runnable (#556)
  backend/app/scripts/migration_account_issuer.py
  backend/tests/test_db/test_migration_account_issuer.py
  docs/STAGING-DEPLOYMENT.md
  docs/demos/2026-08-27-issue-556-better-auth-account-issuer-backfill.md
Due: backend-lint, backend-unit-tests, backend-coverage

test: use a reserved TLD, not a mongodb.net placeholder (#556)
  backend/tests/test_db/test_migration_account_issuer.py
Due: backend-lint, backend-unit-tests, backend-coverage

[#556] fix(auth): backfill better-auth 1.7 account identity; fix forgot-password 404 (#559)
  .github/dependabot.yml
  backend/app/scripts/migration_account_issuer.py
  backend/tests/test_db/test_migration_account_issuer.py
  docs/CHANGELOG.md
  docs/STAGING-DEPLOYMENT.md
  docs/demos/2026-08-27-issue-556-better-auth-account-issuer-backfill.md
  frontend/src/__mocks__/better-auth-react.ts
  frontend/src/__tests__/ForgotPassword.test.tsx
  frontend/src/app/auth/forgot-password/page.tsx
  frontend/src/app/auth/reset-password/page.tsx
  frontend/src/jest.setup.ts
  frontend/src/lib/auth-client.ts
  scripts/test_dependabot_config.py
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs(tasks): plan for #555 dependabot dev-group majors
  tasks/lessons.md
Due: none

fix(deps): stop the frontend-dev group swallowing majors (#555)
  .github/dependabot.yml
  scripts/test_dependabot_config.py
Due: none

docs(deps): use the measured #548 counts in the group comment
  .github/dependabot.yml
Due: none

fix(deps): keep shipping build tools out of the dev group's majors (#555)
  .github/dependabot.yml
  scripts/test_dependabot_config.py
Due: none

docs(demo): outcome evidence for #555
  docs/demos/2026-08-27-issue-555-dev-group-majors.md
Due: none

docs: record the #555 grouping rule in quality-standards
  docs/references/quality-standards.md
Due: none

docs(changelog): record #555
  docs/CHANGELOG.md
Due: none

[#555] fix(deps): keep shipping build tools out of the dev group's majors (#566)
  .github/dependabot.yml
  docs/CHANGELOG.md
  docs/demos/2026-08-27-issue-555-dev-group-majors.md
  docs/references/quality-standards.md
  scripts/test_dependabot_config.py
  tasks/lessons.md
Due: none

fix(deps): patch browserslist to 4.28.8 alongside the fast-uri bump
  frontend/package-lock.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

[#576] fix(ci): retry npm audit when the registry returns a malformed body
  .github/workflows/tests.yml
Due: none

[#576] fix(ci): retry npm audit when the registry returns a malformed body (#577)
  .github/workflows/tests.yml
Due: none

docs(lessons): record the 2026-09-05 Dependabot sweep findings
  tasks/lessons.md
Due: none

docs(lessons): record the 2026-09-05 Dependabot sweep findings (#582)
  tasks/lessons.md
Due: none

fix(frontend): migrate to ESLint 9 + native flat config, cap ESLint 10
  .github/dependabot.yml
  docs/CHANGELOG.md
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(frontend): migrate to ESLint 9 + native flat config, cap ESLint 10 (#585)
  .github/dependabot.yml
  docs/CHANGELOG.md
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(frontend): pin nwsapi to 2.2.25, 2.2.26+ makes userEvent keypresses take 12s
  docs/CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(frontend): pin nwsapi to 2.2.25, 2.2.26+ makes userEvent keypresses take 12s (#590)
  docs/CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(lessons): record the nwsapi bisection and dep-fix verification patterns
  tasks/lessons.md
Due: none

docs(lessons): record the nwsapi bisection and dep-fix verification patterns (#591)
  tasks/lessons.md
Due: none

docs(deps): verify four post-#517 Dependabot sweeps; raise npm PR limit to 10
  .github/dependabot.yml
  docs/CHANGELOG.md
  docs/demos/2026-09-05-issue-539-dependabot-sweep-verification.md
  docs/references/quality-standards.md
Due: none

docs(deps): drop two stale "five slots" references
  .github/dependabot.yml
  docs/references/quality-standards.md
Due: none

docs(deps): verify four post-#517 Dependabot sweeps; raise npm PR limit to 10 (#592)
  .github/dependabot.yml
  docs/CHANGELOG.md
  docs/demos/2026-09-05-issue-539-dependabot-sweep-verification.md
  docs/references/quality-standards.md
Due: none

docs(lessons): record the #539 denominator error
  tasks/lessons.md
Due: none

docs(lessons): record the #539 denominator error (#593)
  tasks/lessons.md
Due: none

fix(security): pin every GitHub Action to an immutable commit SHA
  .github/workflows/build-images.yml
  .github/workflows/deploy-staging-containers.yml
  .github/workflows/e2e-staging-tests.yml
  .github/workflows/glm-review.yml
  .github/workflows/tests.yml
  docs/CHANGELOG.md
  docs/demos/2026-09-06-issue-518-pin-actions-to-shas.md
  docs/references/quality-standards.md
  scripts/test_actions_are_sha_pinned.py
Due: none

fix(security): scan .yaml workflows in the SHA-pin guard too
  docs/demos/2026-09-06-issue-518-pin-actions-to-shas.md
  docs/references/quality-standards.md
  scripts/test_actions_are_sha_pinned.py
Due: none

docs(demo): correct the mutation count after the .yaml fix
  docs/demos/2026-09-06-issue-518-pin-actions-to-shas.md
Due: none

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/
