Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

frontend-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Checking
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-unit-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend && npm test -- --passWithNoTests --watchAll=false'
  language: system
  pass_filenames: false

frontend-coverage:
  name: Frontend Coverage Check (≥85%)
  entry: bash -c 'cd frontend && npm test -- --coverage --coverageThreshold="{\"global\":{\"lines\":85,\"statements\":85,\"branches\":75,\"functions\":85}}" --watchAll=false'
  language: system
  pass_filenames: false

frontend-e2e-tests:
  name: Frontend E2E Tests (Playwright)
  entry: bash -c 'cd frontend && BYPASS_AUTH=true npx playwright test'
  language: system
  pass_filenames: false

backend-lint:
  name: Backend Linting (ruff)
  entry: bash -c 'cd backend && uv run ruff check app/ tests/ || true'
  language: system
  pass_filenames: false

backend-unit-tests:
  name: Backend Unit Tests
  entry: bash -c 'cd backend && uv run pytest tests/'
  language: system
  pass_filenames: false
  require_serial: true

backend-coverage:
  name: Backend Coverage Check (≥85%)
  entry: bash -c 'cd backend && uv run pytest tests/ --cov=app --cov-fail-under=85'
  language: system
  pass_filenames: false
  require_serial: true

fix(deps): make pyproject/uv.lock the single source of truth for backend deps
  backend/pyproject.toml
  backend/requirements.in
  backend/requirements.txt
  backend/uv.lock
Due: backend-lint, backend-unit-tests, backend-coverage

fix(deps): make pyproject/uv.lock the single source of truth for backend deps (#383)
  backend/pyproject.toml
  backend/requirements.in
  backend/requirements.txt
  backend/uv.lock
Due: backend-lint, backend-unit-tests, backend-coverage

docs(deploy): rewrite deployment guides to the real stack; drop Clerk-era scripts
  .beads/issues.jsonl
  .github/DEPLOYMENT.md
  DEPLOYMENT.md
  docs/AUTOMATION_SETUP.md
  docs/CI_CD_RECOVERY_QUICKSTART.md
  docs/MANUAL_DEPLOYMENT_QUICKSTART.md
  docs/deployment-pipeline-architecture.md
  scripts/check-secrets.sh
  scripts/deploy-fixed.sh
  scripts/deploy.sh
Due: none

docs(deploy): correct FRONTEND_URL fan-out count; note the deliberate _KEY omission
  .github/DEPLOYMENT.md
  scripts/check-secrets.sh
Due: none

docs(deploy): address review feedback — safer troubleshooting commands, archive dead runbooks
  .github/DEPLOYMENT.md
  DEPLOYMENT.md
  archive/deployment/CI_CD_RECOVERY_QUICKSTART.md
  archive/deployment/MANUAL_DEPLOYMENT_QUICKSTART.md
  docs/AUTOMATION_SETUP.md
  scripts/check-secrets.sh
Due: none

fix(voice): stop dropping a dictated segment when two finals land in one tick
  .beads/issues.jsonl
  frontend/src/__tests__/components/VoiceTextInput.test.tsx
  frontend/src/components/chapters/VoiceTextInput.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(deploy): correct the BETTER_AUTH_SECRET failure claim; close the guard's quote gap
  .github/DEPLOYMENT.md
  DEPLOYMENT.md
  scripts/check-secrets.sh
Due: none

fix(voice): stop dropping a dictated segment when two finals land in one tick (#387)
  .beads/issues.jsonl
  frontend/src/__tests__/components/VoiceTextInput.test.tsx
  frontend/src/components/chapters/VoiceTextInput.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(deploy): drop an incorrect character count for the CI default secret
  .github/DEPLOYMENT.md
Due: none

docs(deploy): rewrite deployment guides to the real stack; drop Clerk-era scripts (#343) (#386)
  .github/DEPLOYMENT.md
  DEPLOYMENT.md
  archive/deployment/CI_CD_RECOVERY_QUICKSTART.md
  archive/deployment/MANUAL_DEPLOYMENT_QUICKSTART.md
  docs/AUTOMATION_SETUP.md
  docs/deployment-pipeline-architecture.md
  scripts/check-secrets.sh
  scripts/deploy-fixed.sh
  scripts/deploy.sh
Due: none

perf(books): stop loading every chapter's HTML just to check ownership
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/chapters.py
  backend/app/api/endpoints/export.py
  backend/app/db/book.py
  backend/app/db/database.py
  backend/tests/test_api/test_ai_error_responses.py
  backend/tests/test_api/test_style_transformation.py
  backend/tests/test_db/test_n1_and_projection.py
Due: backend-lint, backend-unit-tests, backend-coverage

perf(books): stop loading every chapter's HTML just to check ownership (#388)
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/chapters.py
  backend/app/api/endpoints/export.py
  backend/app/db/book.py
  backend/app/db/database.py
  backend/tests/test_api/test_ai_error_responses.py
  backend/tests/test_api/test_style_transformation.py
  backend/tests/test_db/test_n1_and_projection.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(export): run exports on a dedicated bounded pool; stop claiming the timeout cancels them
  backend/app/core/config.py
  backend/app/main.py
  backend/app/services/export_service.py
  backend/tests/test_services/test_export_service.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs(export): be precise about which timeouts actually cancel
  backend/app/services/export_service.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(export): run exports on a dedicated bounded pool; stop claiming the timeout cancels them (#345) (#389)
  backend/app/core/config.py
  backend/app/main.py
  backend/app/services/export_service.py
  backend/tests/test_services/test_export_service.py
Due: backend-lint, backend-unit-tests, backend-coverage

perf(uploads): push PIL processing and cloud SDK calls off the event loop
  backend/app/services/cloud_storage_service.py
  backend/app/services/file_upload_service.py
  backend/tests/test_services/test_upload_async_offload.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(uploads): roll back the main cover image when the thumbnail upload fails
  backend/app/services/file_upload_service.py
  backend/tests/test_services/test_upload_async_offload.py
Due: backend-lint, backend-unit-tests, backend-coverage

perf(uploads): push PIL processing and cloud SDK calls off the event loop (#346) (#390)
  backend/app/services/cloud_storage_service.py
  backend/app/services/file_upload_service.py
  backend/tests/test_services/test_upload_async_offload.py
Due: backend-lint, backend-unit-tests, backend-coverage

perf(editor): memoize the toolbar, code-split TipTap, drop the unused react-query dep
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/RichTextEditor.test.tsx
  frontend/src/app/dashboard/books/[bookId]/chapters/[chapterId]/page.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/EditorToolbar.tsx
  frontend/src/components/chapters/LazyChapterEditor.tsx
  frontend/src/components/chapters/TabContent.tsx
  frontend/src/components/chapters/__tests__/EditorToolbar.test.tsx
  frontend/src/jest.setup.ts
  frontend/src/lib/react-query.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(editor): keep undo/redo enablement inside the subscription
  frontend/src/components/chapters/EditorToolbar.tsx
  frontend/src/components/chapters/__tests__/EditorToolbar.test.tsx
  frontend/src/jest.setup.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test: drop the vestigial QueryClientProvider from four question test suites
  frontend/src/__tests__/ChapterQuestionsEdgeCases.test.tsx
  frontend/src/__tests__/ChapterQuestionsEndToEnd.test.tsx
  frontend/src/__tests__/ChapterQuestionsMobileAccessibility.test.tsx
  frontend/src/__tests__/ChapterQuestionsPerformance.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

chore(editor): drop imports orphaned by the toolbar extraction
  frontend/src/components/chapters/ChapterEditor.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

perf(editor): memoize the toolbar, code-split TipTap, drop the unused react-query dep (#347) (#391)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/ChapterQuestionsEdgeCases.test.tsx
  frontend/src/__tests__/ChapterQuestionsEndToEnd.test.tsx
  frontend/src/__tests__/ChapterQuestionsMobileAccessibility.test.tsx
  frontend/src/__tests__/ChapterQuestionsPerformance.test.tsx
  frontend/src/__tests__/RichTextEditor.test.tsx
  frontend/src/app/dashboard/books/[bookId]/chapters/[chapterId]/page.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/EditorToolbar.tsx
  frontend/src/components/chapters/LazyChapterEditor.tsx
  frontend/src/components/chapters/TabContent.tsx
  frontend/src/components/chapters/__tests__/EditorToolbar.test.tsx
  frontend/src/jest.setup.ts
  frontend/src/lib/react-query.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(voice): release the mic on unmount, stop advertising unsupported dictation, humanize errors
  frontend/src/__tests__/components/VoiceTextInput.test.tsx
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
  frontend/src/components/chapters/VoiceTextInput.tsx
  frontend/src/components/chapters/__tests__/VoiceTextInputCleanup.test.tsx
  frontend/src/lib/voice/__tests__/speechRecognitionErrors.test.ts
  frontend/src/lib/voice/speechRecognitionErrors.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(voice): release the getUserMedia stream, not just recognition
  frontend/src/components/chapters/VoiceTextInput.tsx
  frontend/src/components/chapters/__tests__/VoiceTextInputCleanup.test.tsx
  frontend/src/lib/voice/speechRecognitionErrors.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(voice): release the mic stream on error and natural end, not just user stop
  frontend/src/components/chapters/VoiceTextInput.tsx
  frontend/src/components/chapters/__tests__/VoiceTextInputCleanup.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(voice): close the two async windows where a mic stream escapes tracking
  frontend/src/components/chapters/VoiceTextInput.tsx
  frontend/src/components/chapters/__tests__/VoiceTextInputCleanup.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(voice): clear the recognition handle on browser-driven ends
  frontend/src/components/chapters/VoiceTextInput.tsx
  frontend/src/components/chapters/__tests__/VoiceTextInputCleanup.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(voice): clear the handle when start() itself throws
  frontend/src/components/chapters/VoiceTextInput.tsx
  frontend/src/components/chapters/__tests__/VoiceTextInputCleanup.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(voice): reset the unmounted flag on mount so StrictMode does not latch it
  frontend/src/components/chapters/VoiceTextInput.tsx
  frontend/src/components/chapters/__tests__/VoiceTextInputCleanup.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(voice): release the mic on unmount, stop advertising unsupported dictation, humanize errors (#348) (#392)
  frontend/src/__tests__/components/VoiceTextInput.test.tsx
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
  frontend/src/components/chapters/VoiceTextInput.tsx
  frontend/src/components/chapters/__tests__/VoiceTextInputCleanup.test.tsx
  frontend/src/lib/voice/__tests__/speechRecognitionErrors.test.ts
  frontend/src/lib/voice/speechRecognitionErrors.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(a11y): label the question field, announce save status, fix dark-mode contrast
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
  frontend/src/components/BookCreationWizard.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/toc/ClarifyingQuestions.tsx
  frontend/src/components/toc/ErrorDisplay.tsx
  frontend/src/components/toc/TocGenerating.tsx
  frontend/src/components/toc/TocReview.tsx
  frontend/src/components/toc/TocSidebar.tsx
  frontend/src/components/toc/__tests__/ClarifyingQuestionsA11y.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(a11y): make the live regions persistent, and correct my heading claim
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/toc/ClarifyingQuestions.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(a11y): stop the polite region claiming success during a save failure
  frontend/src/components/toc/ClarifyingQuestions.tsx
  frontend/src/components/toc/__tests__/ClarifyingQuestionsA11y.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(a11y): announce autosave failures in the editor, and stop reporting stale success
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/__tests__/ChapterEditorSaveStatusA11y.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(a11y): label the question field, announce save status, fix dark-mode contrast (#349) (#393)
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
  frontend/src/components/BookCreationWizard.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/__tests__/ChapterEditorSaveStatusA11y.test.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/toc/ClarifyingQuestions.tsx
  frontend/src/components/toc/ErrorDisplay.tsx
  frontend/src/components/toc/TocGenerating.tsx
  frontend/src/components/toc/TocReview.tsx
  frontend/src/components/toc/TocSidebar.tsx
  frontend/src/components/toc/__tests__/ClarifyingQuestionsA11y.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(books): remove the vestigial page-level form that could auto-save on load
  frontend/src/app/dashboard/books/[bookId]/__tests__/page.noSpuriousSave.test.tsx
  frontend/src/app/dashboard/books/[bookId]/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(books): remove the vestigial page-level form that could auto-save on load (#394)
  frontend/src/app/dashboard/books/[bookId]/__tests__/page.noSpuriousSave.test.tsx
  frontend/src/app/dashboard/books/[bookId]/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

chore: dead-code sweep — delete what is provably unreferenced, keep what isn't
  AGENTS.md
  archive/AUTO_AUTHOR_GAP_ANALYSIS.md
  archive/KEYBOARD_NAVIGATION_REPORT.md
  archive/application-summary.md
  backend/app/db/database.py
  backend/draft_generation_test_summary.md
  backend/refactor_tests.ps1
  backend/run_tests.ps1
  backend/test_draft_generation_manual.md
  backend/tests/test_api/test_routes/test_email_verification.py
  backend/tests/test_api/test_routes/test_password_change.py
  backend/tests/test_api/test_routes/test_profile_picture.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/ChapterQuestionsEndToEnd.test.tsx
  frontend/src/components/chapters/TiptapDemo.tsx
  frontend/src/e2e/responsive.spec.ts
  frontend/src/lib/api/userClient.ts
  frontend/src/lib/testing/responsiveHelpers.ts
  frontend/src/lib/utils.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs(archive): register the three newly-archived reports in the archive index
  archive/README.md
Due: none

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/
