Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/

[#333] fix(health): /health verifies Mongo + required secrets so broken releases fail the deploy gate (P1.1)
  backend/app/api/endpoints/router.py
  backend/tests/test_main.py
Due: backend-lint, backend-unit-tests, backend-coverage

[#333] fix(health): bound the readiness ping (fail fast) + demo
  backend/app/api/endpoints/router.py
  backend/tests/test_main.py
  docs/demos/2026-07-23-issue-333-health-check-deps.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs(#333): record /health dependency-check fix in Recent Changes
  CLAUDE.md
Due: none

[P1.1] fix(health): /health verifies Mongo + required secrets so broken releases fail the deploy gate (#333) (#357)
  CLAUDE.md
  backend/app/api/endpoints/router.py
  backend/tests/test_main.py
  docs/demos/2026-07-23-issue-333-health-check-deps.md
Due: backend-lint, backend-unit-tests, backend-coverage

[P1.2] feat(observability): Sentry error tracking + 429 logging + real perf sink (#334)
  .github/workflows/deploy-staging.yml
  backend/.env.example
  backend/app/api/dependencies.py
  backend/app/core/config.py
  backend/app/main.py
  backend/pyproject.toml
  backend/tests/test_api/test_ai_usage_quota.py
  backend/tests/test_api/test_dependencies.py
  backend/tests/test_sentry_observability.py
  backend/uv.lock
  docs/plans/011-issue-334-error-tracking.md
  frontend/.env.example
  frontend/jest.config.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/sentry-nextjs.ts
  frontend/src/app/__tests__/error-boundaries.test.tsx
  frontend/src/app/error.tsx
  frontend/src/app/global-error.tsx
  frontend/src/instrumentation-client.ts
  frontend/src/instrumentation.ts
  frontend/src/lib/__tests__/csp.test.ts
  frontend/src/lib/csp.ts
  frontend/src/lib/performance/__tests__/metrics.test.ts
  frontend/src/lib/performance/metrics.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs(#334): add outcome-evidence demo
  docs/demos/2026-07-23-issue-334-error-tracking.md
Due: none

docs(#334): sync frontend README perf-sink + prod env for Sentry
  frontend/README.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

[P1.2] Error tracking (Sentry) + 429 logging + real perf sink (#334) (#358)
  .github/workflows/deploy-staging.yml
  backend/.env.example
  backend/app/api/dependencies.py
  backend/app/core/config.py
  backend/app/main.py
  backend/pyproject.toml
  backend/tests/test_api/test_ai_usage_quota.py
  backend/tests/test_api/test_dependencies.py
  backend/tests/test_sentry_observability.py
  backend/uv.lock
  docs/demos/2026-07-23-issue-334-error-tracking.md
  docs/plans/011-issue-334-error-tracking.md
  frontend/.env.example
  frontend/README.md
  frontend/jest.config.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/sentry-nextjs.ts
  frontend/src/app/__tests__/error-boundaries.test.tsx
  frontend/src/app/error.tsx
  frontend/src/app/global-error.tsx
  frontend/src/instrumentation-client.ts
  frontend/src/instrumentation.ts
  frontend/src/lib/__tests__/csp.test.ts
  frontend/src/lib/csp.ts
  frontend/src/lib/performance/__tests__/metrics.test.ts
  frontend/src/lib/performance/metrics.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

[#335] feat(legal): add Terms of Service + Privacy Policy pages, footer, sign-up links
  frontend/src/__tests__/SignUpPage.test.tsx
  frontend/src/app/auth/sign-up/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/privacy/__tests__/page.test.tsx
  frontend/src/app/privacy/page.tsx
  frontend/src/app/terms/__tests__/page.test.tsx
  frontend/src/app/terms/page.tsx
  frontend/src/components/SiteFooter.tsx
  frontend/src/components/__tests__/SiteFooter.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: changelog entry for #335 (Terms + Privacy pages)
  CLAUDE.md
Due: none

[#335] Add Terms of Service + Privacy Policy pages (legal requirement for taking payments) (#359)
  CLAUDE.md
  frontend/src/__tests__/SignUpPage.test.tsx
  frontend/src/app/auth/sign-up/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/privacy/__tests__/page.test.tsx
  frontend/src/app/privacy/page.tsx
  frontend/src/app/terms/__tests__/page.test.tsx
  frontend/src/app/terms/page.tsx
  frontend/src/components/SiteFooter.tsx
  frontend/src/components/__tests__/SiteFooter.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: move per-issue changelog out of CLAUDE.md into docs/CHANGELOG.md
  CLAUDE.md
  docs/CHANGELOG.md
Due: none

fix(questions): resolve chapter-question status filter before pagination (#336)
  backend/app/db/questions.py
  backend/tests/test_api/test_routes/test_books_chapter_questions_coverage.py
  backend/tests/test_db/test_question_status_pagination.py
  plans/336-question-status-pagination.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs(demo): main-vs-branch evidence for the #336 status-filter fix
  docs/demos/2026-07-24-issue-336-question-status-pagination.md
Due: none

docs: record #336 in the changelog and refresh the CLAUDE.md pointer
  CLAUDE.md
  docs/CHANGELOG.md
Due: none

test: correct the stated failure mode in the #336 test docstrings
  backend/tests/test_api/test_routes/test_books_chapter_questions_coverage.py
  backend/tests/test_db/test_question_status_pagination.py
Due: backend-lint, backend-unit-tests, backend-coverage

[#336] fix(questions): resolve chapter-question status filter before pagination (#367)
  CLAUDE.md
  backend/app/db/questions.py
  backend/tests/test_api/test_routes/test_books_chapter_questions_coverage.py
  backend/tests/test_db/test_question_status_pagination.py
  docs/CHANGELOG.md
  docs/demos/2026-07-24-issue-336-question-status-pagination.md
  plans/336-question-status-pagination.md
Due: backend-lint, backend-unit-tests, backend-coverage

[#337] fix(toc): guard whole-TOC overwrites with optimistic lock (lost update off replica set)
  backend/app/api/endpoints/chapters.py
  backend/app/db/toc_transactions.py
  backend/tests/test_api/test_routes/test_books_chapters_crud_coverage.py
  backend/tests/test_db/test_toc_transactions.py
  docs/CHANGELOG.md
  tasks/todo-337.md
Due: backend-lint, backend-unit-tests, backend-coverage

[#337] test(toc): drive the 403/404 re-read paths through the endpoint chains
  backend/tests/test_api/test_routes/test_books_chapters_crud_coverage.py
Due: backend-lint, backend-unit-tests, backend-coverage

[#337] fix(toc): guard whole-TOC overwrites with optimistic lock (lost update off replica set) (#368)
  backend/app/api/endpoints/chapters.py
  backend/app/db/toc_transactions.py
  backend/tests/test_api/test_routes/test_books_chapters_crud_coverage.py
  backend/tests/test_db/test_toc_transactions.py
  docs/CHANGELOG.md
  tasks/todo-337.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs: trim CLAUDE.md 466->111 lines and correct pre-commit claims
  CLAUDE.md
  docs/references/quality-standards.md
Due: none

[#338] fix(db): per-index try/except so one failure can't skip later indexes
  backend/app/db/questions.py
  backend/tests/test_question_indexes.py
Due: backend-lint, backend-unit-tests, backend-coverage

[#338] test(db): pin index ordering the #338 regression test depends on
  backend/tests/test_question_indexes.py
Due: backend-lint, backend-unit-tests, backend-coverage

[#338] docs: changelog entry and latest-state refresh
  CLAUDE.md
  docs/CHANGELOG.md
Due: none

[#338] fix(db): per-index try/except so one index failure can't skip the rest (#370)
  CLAUDE.md
  backend/app/db/questions.py
  backend/tests/test_question_indexes.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

[#339] fix(auth): sameSite="lax" on session cookie to restore CSRF protection
  backend/app/main.py
  backend/tests/test_main.py
  docs/CHANGELOG.md
  docs/demos/2026-07-27-issue-339-samesite-lax-csrf.md
  docs/session-management.md
  frontend/src/lib/__tests__/auth-cookies.test.ts
  frontend/src/lib/auth-cookies.ts
  frontend/src/lib/auth.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

[#339] fix(auth): sameSite="lax" on session cookie to restore CSRF protection (#372)
  backend/app/main.py
  backend/tests/test_main.py
  docs/CHANGELOG.md
  docs/demos/2026-07-27-issue-339-samesite-lax-csrf.md
  docs/session-management.md
  frontend/src/lib/__tests__/auth-cookies.test.ts
  frontend/src/lib/auth-cookies.ts
  frontend/src/lib/auth.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

[#340] test(ai): route-wiring guard + per-route 402/429 for AI quota & entitlement
  backend/tests/conftest.py
  backend/tests/route_introspection.py
  backend/tests/test_api/test_ai_gate_routes.py
  backend/tests/test_api/test_rate_limit_routes.py
  docs/CHANGELOG.md
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

[#340] test(ai): pin the entitlement feature key; harden the quota fixture
  backend/tests/conftest.py
  backend/tests/test_api/test_ai_gate_routes.py
Due: backend-lint, backend-unit-tests, backend-coverage

[P1.8] test(ai): route-wiring guard + per-route 402/429 for AI quota & entitlement (#340) (#373)
  backend/tests/conftest.py
  backend/tests/route_introspection.py
  backend/tests/test_api/test_ai_gate_routes.py
  backend/tests/test_api/test_rate_limit_routes.py
  docs/CHANGELOG.md
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

[#341] test: delete hollow tests, add real-browser rich-text E2E
  backend/tests/test_debug_chapter_questions.py
  backend/tests/test_system_e2e_simplified.py
  frontend/src/__tests__/MockSystemFlow.test.tsx
  frontend/src/__tests__/RichTextEditor.test.tsx
  frontend/src/__tests__/TestInfrastructureIntegration.test.tsx
  frontend/src/__tests__/example.test.tsx
  frontend/src/e2e/editor-formatting.spec.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs: changelog + demo for #341 (hollow tests, rich-text E2E)
  docs/CHANGELOG.md
  docs/demos/2026-07-27-issue-341-hollow-tests-rich-text-e2e.md
Due: none

[P1.9] test: delete hollow tests + real-browser rich-text formatting E2E (#341) (#374)
  backend/tests/test_debug_chapter_questions.py
  backend/tests/test_system_e2e_simplified.py
  docs/CHANGELOG.md
  docs/demos/2026-07-27-issue-341-hollow-tests-rich-text-e2e.md
  frontend/src/__tests__/MockSystemFlow.test.tsx
  frontend/src/__tests__/RichTextEditor.test.tsx
  frontend/src/__tests__/TestInfrastructureIntegration.test.tsx
  frontend/src/__tests__/example.test.tsx
  frontend/src/e2e/editor-formatting.spec.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(security): aim Dependabot at /frontend, add baselined audit gate, drop dead crypto deps (#342)
  .github/dependabot.yml
  .github/workflows/tests.yml
  .gitignore
  SYSTEM_TESTS.md
  backend/app/core/security.py
  backend/pyproject.toml
  backend/tests/test_core/test_security.py
  backend/uv.lock
  frontend/scripts/package.json
  frontend/scripts/system-test.js
  scripts/audit_gate.py
  scripts/test_audit_gate.py
  security-baseline.json
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(deps): drop python-jose/passlib from the deploy manifest too (#342)
  backend/requirements.in
  backend/requirements.txt
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): never silently drop an unrecognised npm advisory (#342)
  scripts/audit_gate.py
  scripts/test_audit_gate.py
Due: none

docs(#342): demo evidence, changelog entry, and CLAUDE.md state line
  CLAUDE.md
  docs/CHANGELOG.md
  docs/demos/2026-07-27-issue-342-supply-chain-automation.md
Due: none

[P2.1] fix(security): aim Dependabot at /frontend, baselined supply-chain audit gate, remove dead crypto deps (#342) (#376)
  .github/dependabot.yml
  .github/workflows/tests.yml
  .gitignore
  CLAUDE.md
  SYSTEM_TESTS.md
  backend/app/core/security.py
  backend/pyproject.toml
  backend/requirements.in
  backend/requirements.txt
  backend/tests/test_core/test_security.py
  backend/uv.lock
  docs/CHANGELOG.md
  docs/demos/2026-07-27-issue-342-supply-chain-automation.md
  frontend/scripts/package.json
  frontend/scripts/system-test.js
  scripts/audit_gate.py
  scripts/test_audit_gate.py
  security-baseline.json
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

chore: track scripts lockfile, untrack per-item todo.md (#371)
  .gitignore
  frontend/scripts/package-lock.json
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

chore: track scripts lockfile, untrack per-item todo.md (#371) (#371)
  .gitignore
  frontend/scripts/package-lock.json
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests
