Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

frontend-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Checking
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-unit-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend && npm test -- --passWithNoTests --watchAll=false'
  language: system
  pass_filenames: false

frontend-coverage:
  name: Frontend Coverage Check (≥85%)
  entry: bash -c 'cd frontend && npm test -- --coverage --coverageThreshold="{\"global\":{\"lines\":85,\"statements\":85,\"branches\":75,\"functions\":85}}" --watchAll=false'
  language: system
  pass_filenames: false

frontend-e2e-tests:
  name: Frontend E2E Tests (Playwright)
  entry: bash -c 'cd frontend && BYPASS_AUTH=true npx playwright test'
  language: system
  pass_filenames: false

backend-lint:
  name: Backend Linting (ruff)
  entry: bash -c 'cd backend && uv run ruff check app/ tests/ || true'
  language: system
  pass_filenames: false

backend-unit-tests:
  name: Backend Unit Tests
  entry: bash -c 'cd backend && uv run pytest tests/'
  language: system
  pass_filenames: false
  require_serial: true

backend-coverage:
  name: Backend Coverage Check (≥85%)
  entry: bash -c 'cd backend && uv run pytest tests/ --cov=app --cov-fail-under=85'
  language: system
  pass_filenames: false
  require_serial: true

fix: upgrade @clerk/themes from 2.4.37 to 2.4.40
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade lucide-react from 0.552.0 to 0.555.0
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade @tanstack/react-query from 5.90.10 to 5.90.11
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade @playwright/test from 1.56.1 to 1.57.0 (#34)
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade lucide-react from 0.552.0 to 0.555.0 (#37)
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade @tanstack/react-query from 5.90.10 to 5.90.11 (#38)
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: add comprehensive user manual for Auto Author
  AUTO_AUTHOR_USER_MANUAL.md
Due: none

docs: add comprehensive gap analysis identifying critical issues
  AUTO_AUTHOR_GAP_ANALYSIS.md
Due: none

feat: Phase 2 - Complete backend migration from Clerk to better-auth
  backend/.coverage
  backend/.env.example
  backend/ENV_VAR_CHANGELOG.md
  backend/app/api/dependencies.py
  backend/app/api/endpoints/book_cover_upload.py
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/export.py
  backend/app/api/endpoints/sessions.py
  backend/app/api/endpoints/users.py
  backend/app/api/endpoints/webhooks.py
  backend/app/api/middleware/session_middleware.py
  backend/app/core/config.py
  backend/app/core/security.py
  backend/app/db/book.py
  backend/app/db/book_cascade_delete.py
  backend/app/db/database.py
  backend/app/db/toc_transactions.py
  backend/app/db/user.py
  backend/app/models/book.py
  backend/app/models/user.py
  backend/app/populate_db_test_data.py
  backend/app/schemas/user.py
  backend/app/services/question_generation_service.py
  backend/run_unit_tests.py
  backend/test_config.py
  backend/test_services_isolated.py
  backend/test_services_summary.py
  backend/tests/conftest.py
  backend/tests/factories/models.py
  backend/tests/fixtures/chapter_tabs_fixtures.py
  backend/tests/test_api/test_dependencies.py
  backend/tests/test_api/test_draft_generation_simple.py
  backend/tests/test_core/test_security.py
  backend/tests/test_models/test_user_model.py
  claudedocs/SESSION.md
Due: backend-lint, backend-unit-tests, backend-coverage

feat(auth): Phase 3 - Frontend core migration to better-auth
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/auth/[...all]/route.ts
  frontend/src/app/auth/sign-in/page.tsx
  frontend/src/app/auth/sign-up/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/user-button.tsx
  frontend/src/hooks/useAuthFetch.ts
  frontend/src/hooks/useSession.ts
  frontend/src/lib/auth-client.ts
  frontend/src/lib/auth-helpers.ts
  frontend/src/lib/auth.ts
  frontend/src/middleware.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(auth): Phase 4 - Frontend component migration to better-auth
  frontend/src/app/dashboard/books/[bookId]/edit-toc/page.tsx
  frontend/src/app/dashboard/books/[bookId]/export/page.tsx
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/app/dashboard/layout.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/examples/AuthExamples.tsx
  frontend/src/components/toc/ClarifyingQuestions.tsx
  frontend/src/components/toc/TocGenerationWizard.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(auth): Phase 7 - Security review and migration status
  claudedocs/MIGRATION_STATUS.md
  docs/code-review/2025-12-17-clerk-to-better-auth-migration-review.md
Due: none

fix(security): Fix 3 critical security vulnerabilities from code review
  backend/.env.example
  backend/app/core/config.py
  backend/app/core/security.py
  frontend/.env.example
  frontend/src/middleware.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

chore: Complete Clerk cleanup and add migration guide
  CLAUDE.md
  backend/app/api/request_validation.py
  backend/tests/test_core/test_security.py
  docs/better-auth-migration-guide.md
  docs/clerk-deployment-checklist.md
  docs/clerk-integration-guide.md
  docs/clerk-setup-guide.md
  frontend/src/components/examples/AuthExamples.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

chore: Sync package-lock.json with package.json updates
  frontend/package-lock.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(config): Allow test secret for CI and accept MONGODB_URL alias
  backend/app/core/config.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(tests): Update tests for clerk_id → auth_id migration
  backend/tests/test_api/test_export_endpoints.py
  backend/tests/test_api/test_routes/test_error_handling.py
  backend/tests/test_api/test_routes/test_profile_updates.py
  backend/tests/test_api/test_routes/test_users.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(tests): Fix test_error_handling_third_party_service monkeypatch order
  backend/tests/test_api/test_routes/test_error_handling.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(skip): Skip Clerk-specific third_party_service test
  backend/tests/test_api/test_routes/test_error_handling.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(jest): Add better-auth to transformIgnorePatterns for ESM module support
  frontend/jest.config.cjs
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(jest): Add better-auth module mocks to resolve ESM import errors
  frontend/jest.config.cjs
  frontend/src/__mocks__/better-auth-client.ts
  frontend/src/__mocks__/better-auth-react.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(tests): Update useAuthFetch test for better-auth migration
  frontend/src/__mocks__/better-auth-react.ts
  frontend/src/__tests__/useAuthFetch.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: Update Clerk references to better-auth in documentation
  docs/session-management.md
  frontend/src/lib/utils.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(tests): Update auth tests for better-auth (SignUp passing, ProtectedRoute partial)
  frontend/src/__tests__/ProtectedRoute.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(tests): Complete better-auth migration for remaining test files
  frontend/src/__tests__/AuthPersistence.test.tsx
  frontend/src/__tests__/bookClient.test.tsx
  frontend/src/__tests__/pages/DashboardBookDelete.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(tests): Disable auth bypass in ProtectedRoute and AuthPersistence tests
  backend/test_config.py
  frontend/src/__tests__/AuthPersistence.test.tsx
  frontend/src/__tests__/ProtectedRoute.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(libs) Force server-only execution of authentication
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/auth/[...all]/route.ts
  frontend/src/lib/auth-helpers.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/clerk-helpers.ts
  frontend/src/middleware.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: Update session management docs for better-auth and clarify test intent
  docs/session-management.md
  frontend/src/__tests__/useAuthFetch.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test: Skip flaky performance test
  frontend/src/__tests__/ChapterQuestionsPerformance.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(auth): Add robust error handling and retry logic to MongoDB connection
  frontend/src/app/api/auth/[...all]/route.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/clerk-helpers.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(security): Add production environment validation for BYPASS_AUTH
  .github/workflows/deploy-staging.yml
  backend/.env.example
  backend/ENV_VAR_CHANGELOG.md
  backend/app/core/config.py
  backend/app/main.py
  backend/tests/test_core/test_security.py
  backend/tests/test_main.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): Only fail deployment when BYPASS_AUTH is explicitly true
  .github/workflows/deploy-staging.yml
Due: none

Add validation for authentication bypass flag (#66)
  .github/workflows/deploy-staging.yml
  backend/.env.example
  backend/ENV_VAR_CHANGELOG.md
  backend/app/core/config.py
  backend/app/main.py
  backend/tests/test_core/test_security.py
  backend/tests/test_main.py
Due: backend-lint, backend-unit-tests, backend-coverage

feat: implement AI service error handling and caching
  README.md
  backend/.env.example
  backend/app/api/endpoints/books.py
  backend/app/core/config.py
  backend/app/services/ai_cache_service.py
  backend/app/services/ai_errors.py
  backend/app/services/ai_service.py
  backend/requirements.in
  backend/tests/test_api/test_ai_error_responses.py
  backend/tests/test_services/test_ai_cache_service.py
  backend/tests/test_services/test_ai_errors.py
  backend/tests/test_services/test_ai_service_errors.py
  docs/ai-caching-and-error-handling.md
  frontend/docs/AI_ERROR_HANDLING.md
  frontend/docs/AI_ERROR_HANDLING_IMPLEMENTATION_SUMMARY.md
  frontend/src/components/errors/ErrorNotification.tsx
  frontend/src/components/examples/AIErrorHandlingExample.tsx
  frontend/src/lib/api/__tests__/aiErrorHandler.test.ts
  frontend/src/lib/api/aiErrorHandler.ts
  frontend/src/lib/api/bookClient.ts
  frontend/src/lib/errors/types.ts
  frontend/tests/e2e/ai-error-handling.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix: address security and testing issues in AI error handling
  README.md
  frontend/src/components/errors/ErrorNotification.tsx
  frontend/src/components/examples/AIErrorHandlingExample.tsx
  frontend/tests/e2e/ai-error-handling.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: update AI error response tests for HTTPX 0.24+
  backend/tests/test_api/test_ai_error_responses.py
Due: backend-lint, backend-unit-tests, backend-coverage

refactor: improve code quality and documentation
  README.md
  frontend/src/components/examples/ai-error-handling-example.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: update backend tests for OpenAI SDK 1.55.0 and HTTPX 0.24+
  backend/tests/test_services/test_ai_service.py
  backend/tests/test_services/test_ai_service_core.py
  backend/tests/test_services/test_ai_service_errors.py
Due: backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/
