Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/

fix(frontend): drop the nwsapi 2.2.25 override, now fixed upstream in 2.2.28 (#589)
  claudedocs/nwsapi-2.2.26-modal-recursion.md
  docs/CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  tasks/lessons.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(demo): nwsapi 2.2.28 keyboard-test timing, with the 2.2.27 control (#589)
  docs/demos/2026-10-01-issue-589-drop-nwsapi-override.md
Due: none

docs(589): cite the demo-captured timings, not an uncaptured run
  claudedocs/nwsapi-2.2.26-modal-recursion.md
  docs/CHANGELOG.md
  tasks/lessons.md
Due: none

fix(frontend): drop the nwsapi 2.2.25 override, now fixed upstream in 2.2.28 (#589) (#745)
  claudedocs/nwsapi-2.2.26-modal-recursion.md
  docs/CHANGELOG.md
  docs/demos/2026-10-01-issue-589-drop-nwsapi-override.md
  frontend/package-lock.json
  frontend/package.json
  tasks/lessons.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(ci): re-pin glm-review so a superseded review is not reported as a timeout (#746)
  .github/workflows/glm-review.yml
  docs/CHANGELOG.md
Due: none

docs(demo): #746 local checks — pin, guards, callee interface
  docs/demos/2026-10-02-issue-746-glm-review-repin.md
Due: none

docs(demo): #746 criterion setup — supersede review A with a newer push
  docs/demos/2026-10-02-issue-746-glm-review-repin.md
Due: none

docs(746): live evidence, and correct the September timeout count
  .github/workflows/glm-review.yml
  docs/CHANGELOG.md
  docs/demos/2026-10-02-issue-746-glm-review-repin.md
Due: none

fix(ci): re-pin glm-review so a superseded review is not reported as a timeout (#746) (#747)
  .github/workflows/glm-review.yml
  docs/CHANGELOG.md
  docs/demos/2026-10-02-issue-746-glm-review-repin.md
Due: none

docs(lessons): count the population before writing "exactly N" (#607, #746)
  tasks/lessons.md
Due: none

docs(lessons): count the population before writing "exactly N" (#607, #746) (#748)
  tasks/lessons.md
Due: none

fix(toc): keep chapter drafts when the TOC is edited (#749)
  backend/app/db/toc_transactions.py
  backend/tests/test_db/test_toc_preserves_chapter_fields.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(toc): reject malformed subchapters at PUT /toc with 400 (#749)
  backend/app/api/endpoints/books.py
  backend/app/db/toc_transactions.py
  backend/tests/test_api/test_routes/test_books_toc_coverage.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs(changelog): record the Edit TOC draft-loss fix (#749)
  docs/CHANGELOG.md
Due: none

fix(toc): tolerate malformed stored subchapters in the TOC walk (#749)
  backend/app/db/toc_transactions.py
  backend/tests/test_db/test_toc_preserves_chapter_fields.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs(changelog): note the stored-subchapters guard (#749)
  docs/CHANGELOG.md
Due: none

fix(toc): keep chapter drafts when the TOC is edited (#749) (#860)
  backend/app/api/endpoints/books.py
  backend/app/db/toc_transactions.py
  backend/tests/test_api/test_routes/test_books_toc_coverage.py
  backend/tests/test_db/test_toc_preserves_chapter_fields.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs(lessons): check a triage rebuttal's claim before posting it (#749)
  tasks/lessons.md
Due: none

docs(lessons): check a triage rebuttal's claim before posting it (#749) (#862)
  tasks/lessons.md
Due: none

fix(export): build the html2text parser per call so exports cannot leak across tenants (#751)
  backend/app/services/export_service.py
  backend/tests/test_services/test_export_service.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(frontend): one ChapterStatus enum using the backend's 'in-progress' (#861)
  backend/tests/test_api/test_routes/test_chapter_status_frontend_contract.py
  docs/CHANGELOG.md
  frontend/src/__tests__/TabStatePersistence.test.tsx
  frontend/src/__tests__/bookClient.test.tsx
  frontend/src/app/dashboard/books/[bookId]/__tests__/edit-toc.status.test.tsx
  frontend/src/components/chapters/MobileChapterTabs.tsx
  frontend/src/components/chapters/__tests__/MobileChapterTabs.test.tsx
  frontend/src/components/ui/ChapterStatusIndicator.tsx
  frontend/src/components/ui/__tests__/ChapterStatusIndicator.test.tsx
  frontend/src/types/chapter-tabs.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(export): build an html2text parser per call so exports can't leak across tenants (#751) (#863)
  backend/app/services/export_service.py
  backend/tests/test_services/test_export_service.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(export): escape user text before ReportLab Paragraph and lock image schemes to data (#752)
  backend/app/services/export_service.py
  backend/tests/test_services/test_export_service.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(toc): generate-toc proposes a TOC instead of overwriting the stored one (#753)
  backend/app/api/endpoints/books.py
  backend/tests/test_api/test_routes/test_books_toc_coverage.py
  backend/tests/test_system_e2e.py
  backend/tests/test_system_e2e_simplified.py
  frontend/src/components/toc/TocGenerationWizard.tsx
  frontend/src/components/toc/TocReview.tsx
  frontend/src/components/toc/__tests__/TocGenerationWizardEntitlement.test.tsx
  frontend/src/components/toc/__tests__/TocReview.test.tsx
  frontend/src/lib/api/bookClient.ts
  frontend/src/types/toc.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs(changelog): PDF markup escaping (#752)
  docs/CHANGELOG.md
Due: none

test(frontend): type the it.each rows so typecheck:tests passes (#861)
  frontend/src/components/ui/__tests__/ChapterStatusIndicator.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(editor): stop saving one chapter's text into another (#756)
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/TabContent.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.chapterSwitch.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(toc): show the accept error in the TOC wizard review step (#753)
  docs/CHANGELOG.md
  frontend/src/components/toc/TocGenerationWizard.tsx
  frontend/src/components/toc/__tests__/TocGenerationWizardEntitlement.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(editor): cover a superseded load that fails mid-switch (#756)
  frontend/src/components/chapters/__tests__/ChapterEditor.chapterSwitch.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(chapters): reject a stale chapter content save with 409 (#759)
  backend/app/api/endpoints/books.py
  backend/app/db/book.py
  backend/app/schemas/book.py
  backend/tests/test_api/test_routes/test_chapter_content_precondition.py
  backend/tests/test_db/test_lost_update_guard.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(editor): keep autosave alive when typing starts after a pause (#756)
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.chapterSwitch.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(frontend): one ChapterStatus enum using the backend's 'in-progress' (#861) (#864)
  backend/tests/test_api/test_routes/test_chapter_status_frontend_contract.py
  docs/CHANGELOG.md
  frontend/src/__tests__/TabStatePersistence.test.tsx
  frontend/src/__tests__/bookClient.test.tsx
  frontend/src/app/dashboard/books/[bookId]/__tests__/edit-toc.status.test.tsx
  frontend/src/components/chapters/MobileChapterTabs.tsx
  frontend/src/components/chapters/__tests__/MobileChapterTabs.test.tsx
  frontend/src/components/ui/ChapterStatusIndicator.tsx
  frontend/src/components/ui/__tests__/ChapterStatusIndicator.test.tsx
  frontend/src/types/chapter-tabs.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(frontend): stop question autosave looping while idle and downgrading completed answers (#761)
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionDisplay.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(chapters): pin the read-to-write window open for the #759 precondition
  backend/tests/test_api/test_routes/test_chapter_content_precondition.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(chapters): give Date-stored last_modified tokens the same UTC offset (#759)
  backend/app/api/endpoints/books.py
  backend/tests/test_api/test_routes/test_chapter_content_precondition.py
Due: backend-lint, backend-unit-tests, backend-coverage

refactor(frontend): drop redundant isCompleted autosave guard (#761)
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(toc): generate-toc proposes only; accepting is the single version-guarded write (#753) (#866)
  backend/app/api/endpoints/books.py
  backend/tests/test_api/test_routes/test_books_toc_coverage.py
  backend/tests/test_system_e2e.py
  backend/tests/test_system_e2e_simplified.py
  docs/CHANGELOG.md
  frontend/src/components/toc/TocGenerationWizard.tsx
  frontend/src/components/toc/TocReview.tsx
  frontend/src/components/toc/__tests__/TocGenerationWizardEntitlement.test.tsx
  frontend/src/components/toc/__tests__/TocReview.test.tsx
  frontend/src/lib/api/bookClient.ts
  frontend/src/types/toc.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs(changelog): record the chapter editor cross-save fix (#756)
  docs/CHANGELOG.md
Due: none

docs(changelog): record the chapter content save precondition (#759)
  docs/CHANGELOG.md
Due: none

docs(changelog): question autosave idle loop (#761)
  docs/CHANGELOG.md
Due: none
