Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

frontend-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Checking
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-unit-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend && npm test -- --passWithNoTests --watchAll=false'
  language: system
  pass_filenames: false

frontend-coverage:
  name: Frontend Coverage Check (≥85%)
  entry: bash -c 'cd frontend && npm test -- --coverage --coverageThreshold="{\"global\":{\"lines\":85,\"statements\":85,\"branches\":75,\"functions\":85}}" --watchAll=false'
  language: system
  pass_filenames: false

frontend-e2e-tests:
  name: Frontend E2E Tests (Playwright)
  entry: bash -c 'cd frontend && BYPASS_AUTH=true npx playwright test'
  language: system
  pass_filenames: false

backend-lint:
  name: Backend Linting (ruff)
  entry: bash -c 'cd backend && uv run ruff check app/ tests/ || true'
  language: system
  pass_filenames: false

backend-unit-tests:
  name: Backend Unit Tests
  entry: bash -c 'cd backend && uv run pytest tests/'
  language: system
  pass_filenames: false
  require_serial: true

backend-coverage:
  name: Backend Coverage Check (≥85%)
  entry: bash -c 'cd backend && uv run pytest tests/ --cov=app --cov-fail-under=85'
  language: system
  pass_filenames: false
  require_serial: true

fix(a11y): burn 17 theme-blind dark translucent overlays, guard the class (#632)
  frontend/dark-overlay-baseline.json
  frontend/gray-literal-baseline.json
  frontend/src/__tests__/theme/core-authoring-pages-tokens.test.ts
  frontend/src/__tests__/theme/dark-translucent-overlay.test.ts
  frontend/src/__tests__/theme/helpers/contrast.ts
  frontend/src/__tests__/theme/helpers/sources.ts
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/BookMetadataForm.tsx
  frontend/src/components/chapters/ChapterTabs.tsx
  frontend/src/components/errors/ErrorNotification.tsx
  frontend/src/components/errors/__tests__/ErrorNotification.test.tsx
  frontend/src/components/examples/ai-error-handling-example.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: record the #632 overlay guard, its counts and its measured limits
  docs/CHANGELOG.md
Due: none

docs: record the #632 guard-design and measurement lessons
  tasks/lessons.md
Due: none

fix(a11y): burn 17 theme-blind dark translucent overlays, guard the class (#632) (#636)
  docs/CHANGELOG.md
  frontend/dark-overlay-baseline.json
  frontend/gray-literal-baseline.json
  frontend/src/__tests__/theme/core-authoring-pages-tokens.test.ts
  frontend/src/__tests__/theme/dark-translucent-overlay.test.ts
  frontend/src/__tests__/theme/helpers/contrast.ts
  frontend/src/__tests__/theme/helpers/sources.ts
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/BookMetadataForm.tsx
  frontend/src/components/chapters/ChapterTabs.tsx
  frontend/src/components/errors/ErrorNotification.tsx
  frontend/src/components/errors/__tests__/ErrorNotification.test.tsx
  frontend/src/components/examples/ai-error-handling-example.tsx
  tasks/lessons.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(a11y): errored ChapterTab is a light-only bg-red-50 — its label is 1.05:1 in dark (#634)
  frontend/src/__tests__/theme/tab-state-surface-contrast.test.ts
  frontend/src/components/chapters/ChapterTab.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: changelog for #634
  docs/CHANGELOG.md
Due: none

fix(a11y): price the errored tab's active title as the colour it paints, not --primary (#634)
  docs/CHANGELOG.md
  frontend/src/__tests__/theme/tab-state-surface-contrast.test.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: lessons from #634 — measure the colour that renders, verify the scenario
  tasks/lessons.md
Due: none

docs: retire the phantom 1.15 figure from ChapterTab's comment, and date the glyph's 3.01
  docs/CHANGELOG.md
  frontend/src/__tests__/theme/tab-state-surface-contrast.test.ts
  frontend/src/components/chapters/ChapterTab.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(a11y): errored ChapterTab is a light-only bg-red-50 — its label is 1.05:1 in dark (#634) (#639)
  docs/CHANGELOG.md
  frontend/src/__tests__/theme/tab-state-surface-contrast.test.ts
  frontend/src/components/chapters/ChapterTab.tsx
  tasks/lessons.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(a11y): five hand-rolled spinner rings under 3:1, and a sweep that finds them (#635)
  frontend/gray-literal-baseline.json
  frontend/spinner-baseline.json
  frontend/src/__tests__/theme/spinner-ring-contrast.test.ts
  frontend/src/__tests__/theme/tab-state-surface-contrast.test.ts
  frontend/src/components/BookMetadataForm.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/toc/ClarifyingQuestions.tsx
  frontend/src/components/toc/TocReview.tsx
  frontend/src/components/ui/loading-spinner.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: changelog for #635
  docs/CHANGELOG.md
Due: none

fix(a11y): tie the spinner ledger to the markup, and price what it cannot resolve (#635)
  frontend/spinner-baseline.json
  frontend/src/__tests__/theme/spinner-ring-contrast.test.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

chore(security): prune 42 resolved advisories from the audit baseline (#647)
  security-baseline.json
Due: none

chore(security): prune 42 resolved advisories from the audit baseline (#647) (#651)
  security-baseline.json
Due: none

fix(a11y): five hand-rolled spinner rings under 3:1, and a sweep that finds them (#635) (#641)
  docs/CHANGELOG.md
  frontend/gray-literal-baseline.json
  frontend/spinner-baseline.json
  frontend/src/__tests__/theme/spinner-ring-contrast.test.ts
  frontend/src/__tests__/theme/tab-state-surface-contrast.test.ts
  frontend/src/components/BookMetadataForm.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/toc/ClarifyingQuestions.tsx
  frontend/src/components/toc/TocReview.tsx
  frontend/src/components/ui/loading-spinner.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(a11y): four stranded pale accents under AA, and a guard for the shape (#637)
  frontend/src/__tests__/theme/stranded-light-accent.test.ts
  frontend/src/app/dashboard/books/[bookId]/edit-toc/page.tsx
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/stranded-accent-baseline.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(a11y): pair stranded accents per hue, not just per property (#637)
  frontend/src/__tests__/theme/stranded-light-accent.test.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: changelog for #637, and fix two it.each arity errors tsc found
  docs/CHANGELOG.md
  frontend/src/__tests__/theme/stranded-light-accent.test.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(a11y): scope accent pairing to the class run, not the source line (#637)
  frontend/src/__tests__/theme/stranded-light-accent.test.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(a11y): pair stranded accents per state, not just property+hue (#637)
  frontend/src/__tests__/theme/stranded-light-accent.test.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(a11y): four stranded pale accents under AA, and a guard the issue's predicate would have missed (#637) (#652)
  docs/CHANGELOG.md
  frontend/src/__tests__/theme/stranded-light-accent.test.ts
  frontend/src/app/dashboard/books/[bookId]/edit-toc/page.tsx
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/stranded-accent-baseline.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(api): merge TOC updates instead of replacing, derive total_chapters (#496)
  backend/app/api/endpoints/books.py
  backend/app/db/toc_transactions.py
  backend/tests/test_api/test_routes/test_books_toc_coverage.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: changelog for #496
  docs/CHANGELOG.md
Due: none

fix(api): merge TOC updates instead of replacing, and derive total_chapters (#496) (#653)
  backend/app/api/endpoints/books.py
  backend/app/db/toc_transactions.py
  backend/tests/test_api/test_routes/test_books_toc_coverage.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(ci): audit the full dependency surface, extras included (#522)
  .github/workflows/tests.yml
  docs/references/quality-standards.md
Due: none

docs: changelog for #522, and merge the duplicate 2026-09-12 heading
  docs/CHANGELOG.md
Due: none

fix(ci): audit the full dependency surface, extras included (#522) (#654)
  .github/workflows/tests.yml
  docs/CHANGELOG.md
  docs/references/quality-standards.md
Due: none

docs: changelog for #561
  docs/CHANGELOG.md
Due: none

chore: retire the PM2 rollback path and fix the docs that outlived it (#520)
  .github/workflows/deploy-production.yml.disabled
  .github/workflows/deploy-staging.yml.disabled
  docs/CHANGELOG.md
  docs/CI_CD_RECOVERY_PLAN.md
  docs/DATABASE_CONNECTION_STANDARD.md
Due: none

chore: retire the PM2 rollback path and fix the docs that outlived it (#520) (#656)
  .github/workflows/deploy-production.yml.disabled
  .github/workflows/deploy-staging.yml.disabled
  docs/CHANGELOG.md
  docs/CI_CD_RECOVERY_PLAN.md
  docs/DATABASE_CONNECTION_STANDARD.md
Due: none

chore: delete TocSidebar.tsx, an orphan no module ever imported (#630)
  docs/CHANGELOG.md
  frontend/src/__tests__/theme/stranded-light-accent.test.ts
  frontend/src/components/toc/TocSidebar.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

chore: delete TocSidebar.tsx, an orphan no module ever imported (#630) (#657)
  docs/CHANGELOG.md
  frontend/src/__tests__/theme/stranded-light-accent.test.ts
  frontend/src/components/toc/TocSidebar.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(ci): disable incremental for the test typecheck project (#625)
  frontend/tsconfig.test.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(ci): type-check the test sources against a ledger (#625)
  .github/workflows/tests.yml
  docs/CHANGELOG.md
  frontend/package.json
  frontend/scripts/typecheck-tests.mjs
  frontend/tsconfig.test.json
  frontend/typecheck-test-baseline.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(ci): type-check the test sources against a ledger (#625) (#658)
  .github/workflows/tests.yml
  docs/CHANGELOG.md
  frontend/package.json
  frontend/scripts/typecheck-tests.mjs
  frontend/tsconfig.test.json
  frontend/typecheck-test-baseline.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(a11y): delete the never-rendered toaster, guard the one that ships (#638)
  docs/CHANGELOG.md
  frontend/dark-overlay-baseline.json
  frontend/gray-literal-baseline.json
  frontend/src/__tests__/theme/toaster-follows-theme.test.ts
  frontend/src/components/ui/toaster.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(a11y): delete the never-rendered toaster, guard the one that ships (#638) (#660)
  docs/CHANGELOG.md
  frontend/dark-overlay-baseline.json
  frontend/gray-literal-baseline.json
  frontend/src/__tests__/theme/toaster-follows-theme.test.ts
  frontend/src/components/ui/toaster.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/
