Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

frontend-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Checking
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-unit-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend && npm test -- --passWithNoTests --watchAll=false'
  language: system
  pass_filenames: false

frontend-coverage:
  name: Frontend Coverage Check (≥85%)
  entry: bash -c 'cd frontend && npm test -- --coverage --coverageThreshold="{\"global\":{\"lines\":85,\"statements\":85,\"branches\":75,\"functions\":85}}" --watchAll=false'
  language: system
  pass_filenames: false

frontend-e2e-tests:
  name: Frontend E2E Tests (Playwright)
  entry: bash -c 'cd frontend && BYPASS_AUTH=true npx playwright test'
  language: system
  pass_filenames: false

backend-lint:
  name: Backend Linting (ruff)
  entry: bash -c 'cd backend && uv run ruff check app/ tests/ || true'
  language: system
  pass_filenames: false

backend-unit-tests:
  name: Backend Unit Tests
  entry: bash -c 'cd backend && uv run pytest tests/'
  language: system
  pass_filenames: false
  require_serial: true

backend-coverage:
  name: Backend Coverage Check (≥85%)
  entry: bash -c 'cd backend && uv run pytest tests/ --cov=app --cov-fail-under=85'
  language: system
  pass_filenames: false
  require_serial: true

[P3.8] Remove dead transcription + AI cache stacks; fix N+1 loops + list projection (#214) (#320)
  CLAUDE.md
  README.md
  backend/.env.example
  backend/app/api/endpoints/transcription.py
  backend/app/core/config.py
  backend/app/db/book.py
  backend/app/db/questions.py
  backend/app/schemas/transcription.py
  backend/app/services/ai_cache_service.py
  backend/app/services/ai_errors.py
  backend/app/services/ai_service.py
  backend/app/services/transcription_service.py
  backend/app/services/transcription_service_aws.py
  backend/run_unit_tests.py
  backend/tests/test_api/test_transcription.py
  backend/tests/test_api/test_transcription_endpoint.py
  backend/tests/test_db/test_n1_and_projection.py
  backend/tests/test_services/test_ai_cache_service.py
  backend/tests/test_services/test_ai_errors.py
  backend/tests/test_services/test_ai_service_errors.py
  backend/tests/test_services/test_transcription_service.py
  backend/tests/test_services/test_transcription_service_aws.py
  backend/tests/test_services_isolated.py
  docs/ai-caching-and-error-handling.md
  docs/demos/2026-07-19-issue-214-remove-dead-code-perf.md
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(api): create_chapter returns 400 for bad parent_id, not masked 404 (#158)
  backend/app/api/endpoints/chapters.py
  backend/tests/test_api/test_routes/test_books_chapters_crud_coverage.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: changelog entry for #158 (create_chapter 400 for bad parent_id)
  CLAUDE.md
Due: none

fix(api): create_chapter returns 400 for bad parent_id, not masked 404 (#158) (#321)
  CLAUDE.md
  backend/app/api/endpoints/chapters.py
  backend/tests/test_api/test_routes/test_books_chapters_crud_coverage.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(ux): beta polish bundle — 9 small UX fixes (#215)
  frontend/src/__tests__/ProfilePageSave.test.tsx
  frontend/src/__tests__/SettingsPageSave.test.tsx
  frontend/src/__tests__/SignInPage.test.tsx
  frontend/src/__tests__/SignUpPage.test.tsx
  frontend/src/app/auth/sign-in/page.tsx
  frontend/src/app/auth/sign-up/page.tsx
  frontend/src/app/dashboard/books/[bookId]/__tests__/page.errorRetry.test.tsx
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/app/dashboard/help/__tests__/page.test.tsx
  frontend/src/app/dashboard/help/page.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/components/__tests__/BookMetadataForm.test.tsx
  frontend/src/components/books/__tests__/BookCreationWizard.test.tsx
  frontend/src/components/profile/ProfilePictureUpload.test.tsx
  frontend/src/components/profile/ProfilePictureUpload.tsx
  frontend/src/components/settings/ActiveSessionsList.tsx
  frontend/src/components/settings/__tests__/SecuritySettings.test.tsx
  frontend/src/components/toc/TocGenerationWizard.tsx
  frontend/src/components/toc/__tests__/TocGenerationWizardEntitlement.test.tsx
  frontend/src/lib/constants/book-metadata.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(auth): preserve ?redirect deep-link through 2FA verification (#237)
  frontend/src/__tests__/SignInPage.test.tsx
  frontend/src/app/auth/sign-in/page.tsx
  frontend/src/app/auth/verify-2fa/__tests__/page.test.tsx
  frontend/src/app/auth/verify-2fa/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(auth): clear stale 2FA post-verify redirect on fresh sign-in (#237)
  frontend/src/__tests__/SignInPage.test.tsx
  frontend/src/app/auth/sign-in/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: changelog entry for #237 (2FA redirect deep-link)
  CLAUDE.md
Due: none

fix(auth): preserve ?redirect deep-link through 2FA verification (#237) (#323)
  CLAUDE.md
  frontend/src/__tests__/SignInPage.test.tsx
  frontend/src/app/auth/sign-in/page.tsx
  frontend/src/app/auth/verify-2fa/__tests__/page.test.tsx
  frontend/src/app/auth/verify-2fa/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(auth): ProtectedRoute preserves ?redirect deep-link on client session expiry (#239)
  frontend/src/__tests__/AuthPersistence.test.tsx
  frontend/src/__tests__/ProfilePage.test.tsx
  frontend/src/__tests__/ProfilePageDelete.test.tsx
  frontend/src/__tests__/ProfilePageSave.test.tsx
  frontend/src/__tests__/ProtectedRoute.test.tsx
  frontend/src/components/auth/ProtectedRoute.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(auth): ProtectedRoute preserves ?redirect deep-link on client session expiry (#239) (#324)
  frontend/src/__tests__/AuthPersistence.test.tsx
  frontend/src/__tests__/ProfilePage.test.tsx
  frontend/src/__tests__/ProfilePageDelete.test.tsx
  frontend/src/__tests__/ProfilePageSave.test.tsx
  frontend/src/__tests__/ProtectedRoute.test.tsx
  frontend/src/components/auth/ProtectedRoute.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: record #239 ProtectedRoute redirect deep-link fix in changelog (#324)
  CLAUDE.md
Due: none

fix(api): derive question-response completion status; drop dead toc-readiness composite (#276)
  backend/app/api/endpoints/books.py
  backend/tests/test_api/test_routes/test_books_pretoc_coverage.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: add #276 demo — main-vs-branch completion-status differential
  docs/demos/2026-07-21-issue-276-question-response-status.md
Due: none

fix(api): normalize dict-shaped clarifying questions in completion check (#276)
  backend/app/api/endpoints/books.py
  backend/tests/test_api/test_routes/test_books_pretoc_coverage.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: record #276 question-response status fix in changelog
  CLAUDE.md
Due: none

[P3.13] fix(api): honest question-response completion status + drop dead toc-readiness composite (#276) (#325)
  CLAUDE.md
  backend/app/api/endpoints/books.py
  backend/tests/test_api/test_routes/test_books_pretoc_coverage.py
  docs/demos/2026-07-21-issue-276-question-response-status.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(export): legacy export page surfaces backend userMessage on failure (#280)
  frontend/src/app/dashboard/books/[bookId]/export/__tests__/page.test.tsx
  frontend/src/app/dashboard/books/[bookId]/export/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: demo record for #280 legacy export userMessage fix
  docs/demos/2026-07-22-issue-280-legacy-export-usermessage.md
Due: none

docs: record #280 legacy export userMessage fix in changelog
  CLAUDE.md
Due: none

[P3.14] fix(export): legacy export page surfaces backend userMessage on failure (#280) (#326)
  CLAUDE.md
  docs/demos/2026-07-22-issue-280-legacy-export-usermessage.md
  frontend/src/app/dashboard/books/[bookId]/export/__tests__/page.test.tsx
  frontend/src/app/dashboard/books/[bookId]/export/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

[P3.15] chore(frontend): delete dead SummaryInput.tsx + its test (#295)
  frontend/src/__tests__/SummaryInput.test.tsx
  frontend/src/components/SummaryInput.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: record #295 dead SummaryInput.tsx deletion in changelog
  CLAUDE.md
Due: none

[P3.15] Delete dead SummaryInput.tsx (zero importers, stale readiness copy) (#295) (#327)
  CLAUDE.md
  frontend/src/__tests__/SummaryInput.test.tsx
  frontend/src/components/SummaryInput.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

[#328] fix(ci): frontend functions coverage gate honestly green (85.58%)
  .github/workflows/tests.yml
  CLAUDE.md
  frontend/jest.config.cjs
  frontend/src/components/export/__tests__/exportHelpers.test.ts
  frontend/src/lib/api/__tests__/bookClient.test.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

[#328] fix(ci): frontend functions coverage gate honestly green (85.58%) (#329)
  .github/workflows/tests.yml
  CLAUDE.md
  frontend/jest.config.cjs
  frontend/src/components/export/__tests__/exportHelpers.test.ts
  frontend/src/lib/api/__tests__/bookClient.test.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(e2e): exempt staging E2E test user from rate limit / AI quota / entitlement
  .github/workflows/deploy-staging.yml
  backend/.env.example
  backend/app/api/dependencies.py
  backend/app/core/config.py
  backend/tests/test_api/test_e2e_exempt.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(e2e): exempt staging E2E test user from rate limit / AI quota / entitlement (#353)
  .github/workflows/deploy-staging.yml
  backend/.env.example
  backend/app/api/dependencies.py
  backend/app/core/config.py
  backend/tests/test_api/test_e2e_exempt.py
Due: backend-lint, backend-unit-tests, backend-coverage

[#330] fix(voice): append continuous dictation segments via valueRef, not stale closure
  frontend/src/__tests__/components/VoiceTextInput.test.tsx
  frontend/src/__tests__/mocks/speechRecognition.ts
  frontend/src/components/chapters/VoiceTextInput.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: changelog entry for #330 continuous-dictation stale-closure fix
  CLAUDE.md
Due: none

[#330] fix(voice): continuous dictation appends every segment (stale-closure data loss) (#354)
  CLAUDE.md
  frontend/src/__tests__/components/VoiceTextInput.test.tsx
  frontend/src/__tests__/mocks/speechRecognition.ts
  frontend/src/components/chapters/VoiceTextInput.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

[#331] fix(a11y): core authoring pages use theme tokens — visible in light mode
  frontend/src/__tests__/theme/core-authoring-pages-tokens.test.ts
  frontend/src/app/dashboard/books/[bookId]/__tests__/page.errorRetry.test.tsx
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/app/dashboard/books/[bookId]/summary/__tests__/page.test.tsx
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
  frontend/src/components/toc/TocGenerationWizard.tsx
  frontend/src/components/toc/__tests__/TocGenerationWizardEntitlement.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

[#331] test: broaden gray sweep to any gray-* utility (review hardening)
  frontend/src/__tests__/theme/core-authoring-pages-tokens.test.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

[#331] docs: demo — light-theme contrast invisible→visible + recurrence guard
  docs/demos/2026-07-23-issue-331-light-theme-tokens.md
Due: none

[#331] fix(a11y): core authoring pages use theme tokens — visible in light theme (#355)
  docs/demos/2026-07-23-issue-331-light-theme-tokens.md
  frontend/src/__tests__/theme/core-authoring-pages-tokens.test.ts
  frontend/src/app/dashboard/books/[bookId]/__tests__/page.errorRetry.test.tsx
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/app/dashboard/books/[bookId]/summary/__tests__/page.test.tsx
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
  frontend/src/components/toc/TocGenerationWizard.tsx
  frontend/src/components/toc/__tests__/TocGenerationWizardEntitlement.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

[#332] fix(auth): password reset fails loudly when email provider unconfigured
  .github/workflows/deploy-staging.yml
  frontend/.env.example
  frontend/src/lib/__tests__/email.test.ts
  frontend/src/lib/email.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(demo): #332 password reset observability demo
  docs/demos/2026-07-23-issue-332-password-reset-email-observability.md
Due: none

docs: CLAUDE.md changelog for #332
  CLAUDE.md
Due: none

[P0.3] fix(auth): password reset fails loudly when email provider unconfigured (#332) (#356)
  .github/workflows/deploy-staging.yml
  CLAUDE.md
  docs/demos/2026-07-23-issue-332-password-reset-email-observability.md
  frontend/.env.example
  frontend/src/lib/__tests__/email.test.ts
  frontend/src/lib/email.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/
