Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/

fix: Use correct selector for summary editor in E2E test
  frontend/tests/e2e/staging/complete-user-journey.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade lucide-react from 0.555.0 to 0.561.0
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade lucide-react from 0.555.0 to 0.561.0 (#84)
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

Add Twitter/X follow badge to README
  README.md
Due: none

chore: add repo-wide test-all script and make backend tests discoverable
  backend/tests/test_chapter_tabs_api.py
  backend/tests/test_config.py
  backend/tests/test_draft_generation_api.py
  backend/tests/test_file_upload_service.py
  backend/tests/test_services_isolated.py
  backend/tests/test_services_summary.py
  backend/tests/test_toc_transactions.py
  package.json
  scripts/test-all.sh
Due: backend-lint, backend-unit-tests, backend-coverage

test: repair relocated test_services_isolated.py for current APIs
  backend/tests/test_services_isolated.py
Due: backend-lint, backend-unit-tests, backend-coverage

[P0.1] Single verification command + discoverable backend tests (#85) (#95)
  backend/tests/test_chapter_tabs_api.py
  backend/tests/test_config.py
  backend/tests/test_draft_generation_api.py
  backend/tests/test_file_upload_service.py
  backend/tests/test_services_isolated.py
  backend/tests/test_services_summary.py
  backend/tests/test_toc_transactions.py
  package.json
  scripts/test-all.sh
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): stop logging session tokens and PII
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/export.py
  backend/app/api/endpoints/users.py
  backend/app/core/better_auth_session.py
  backend/app/db/book.py
  backend/app/db/book_cascade_delete.py
  backend/app/db/user.py
  backend/tests/test_security/test_no_token_logging.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): stop logging session tokens and PII (#96)
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/export.py
  backend/app/api/endpoints/users.py
  backend/app/core/better_auth_session.py
  backend/app/db/book.py
  backend/app/db/book_cascade_delete.py
  backend/app/db/user.py
  backend/tests/test_security/test_no_token_logging.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): return generic API error messages, log detail server-side
  backend/app/api/endpoints/book_cover_upload.py
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/export.py
  backend/app/api/endpoints/users.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/services/file_upload_service.py
  backend/tests/test_security/test_error_messages.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): return generic API error messages, log detail server-side (#97)
  backend/app/api/endpoints/book_cover_upload.py
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/export.py
  backend/app/api/endpoints/users.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/services/file_upload_service.py
  backend/tests/test_security/test_error_messages.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(frontend): sync package-lock with lucide-react 0.561.0
  frontend/package-lock.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(frontend): sync package-lock with lucide-react 0.561.0 (#98)
  frontend/package-lock.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(security): prevent path traversal in local cover-image deletion
  backend/app/services/file_upload_service.py
  backend/tests/test_services/test_file_upload_path_safety.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): prevent path traversal in local cover-image deletion (#99)
  backend/app/services/file_upload_service.py
  backend/tests/test_services/test_file_upload_path_safety.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(api): remove mock data, harden export errors, repair integration tests (#45)
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/export.py
  backend/app/api/endpoints/transcription.py
  backend/app/services/ai_service.py
  backend/app/services/chapter_error_handler.py
  backend/app/services/export_service.py
  backend/tests/factories/models.py
  backend/tests/integration/run_test_chapter_tabs_integration.py
  backend/tests/integration/test_chapter_questions_integration.py
  backend/tests/integration/test_chapter_questions_integration.py.disabled
  backend/tests/integration/test_chapter_tabs_integration.py
  backend/tests/test_api/test_export_endpoints.py
  backend/tests/test_api/test_transcription_endpoint.py
  backend/tests/test_services/test_export_service.py
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(api): address CodeRabbit review on #45
  backend/app/api/endpoints/export.py
  backend/app/api/endpoints/transcription.py
  backend/app/services/export_service.py
  backend/tests/test_api/test_export_endpoints.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(api): remove mock data, harden export errors, repair integration tests (#45) (#100)
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/export.py
  backend/app/api/endpoints/transcription.py
  backend/app/services/ai_service.py
  backend/app/services/chapter_error_handler.py
  backend/app/services/export_service.py
  backend/tests/factories/models.py
  backend/tests/integration/run_test_chapter_tabs_integration.py
  backend/tests/integration/test_chapter_questions_integration.py
  backend/tests/integration/test_chapter_questions_integration.py.disabled
  backend/tests/integration/test_chapter_tabs_integration.py
  backend/tests/test_api/test_export_endpoints.py
  backend/tests/test_api/test_transcription_endpoint.py
  backend/tests/test_services/test_export_service.py
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(frontend): wire up broken/stubbed UI elements (#44)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/ChapterQuestionsEndToEnd.test.tsx
  frontend/src/__tests__/SettingsPageSave.test.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/components/chapters/ChapterTabs.tsx
  frontend/src/components/chapters/TabContextMenu.tsx
  frontend/src/components/chapters/__tests__/TabContextMenu.test.tsx
  frontend/src/components/chapters/questions/QuestionGenerator.tsx
  frontend/src/components/chapters/questions/QuestionProgress.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/slider.tsx
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(frontend): wire up broken/stubbed UI elements (#44) (#101)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/ChapterQuestionsEndToEnd.test.tsx
  frontend/src/__tests__/SettingsPageSave.test.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/components/chapters/ChapterTabs.tsx
  frontend/src/components/chapters/TabContextMenu.tsx
  frontend/src/components/chapters/__tests__/TabContextMenu.test.tsx
  frontend/src/components/chapters/questions/QuestionGenerator.tsx
  frontend/src/components/chapters/questions/QuestionProgress.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/slider.tsx
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(e2e): add staging CI workflow + dedicated regression specs (#83)
  .github/workflows/e2e-staging-tests.yml
  .gitignore
  CLAUDE.md
  frontend/tests/e2e/staging/regressions.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

ci(e2e): use existing TEST_USER_* secrets for staging workflow (#83)
  .github/workflows/e2e-staging-tests.yml
  CLAUDE.md
Due: none

ci(e2e): scope staging job to `staging` environment for test secrets (#83)
  .github/workflows/e2e-staging-tests.yml
Due: none

test(e2e): fix #54 helper for auto-save summary flow (#83)
  frontend/tests/e2e/staging/regressions.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(e2e): fixme brittle full-journey staging tests, track in #105 (#83)
  frontend/tests/e2e/staging/complete-user-journey.spec.ts
  frontend/tests/e2e/staging/regressions.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(e2e): staging CI workflow + dedicated regression specs (#83) (#104)
  .github/workflows/e2e-staging-tests.yml
  .gitignore
  CLAUDE.md
  frontend/tests/e2e/staging/complete-user-journey.spec.ts
  frontend/tests/e2e/staging/regressions.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(test): use valid 32+ char BETTER_AUTH_SECRET in test env (#102)
  backend/run_unit_tests.py
  backend/tests/test_services_isolated.py
  backend/tests/test_services_summary.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(test): use valid 32+ char BETTER_AUTH_SECRET in test env (#102) (#107)
  backend/run_unit_tests.py
  backend/tests/test_services_isolated.py
  backend/tests/test_services_summary.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(e2e): provide BETTER_AUTH_SECRET and /api/v1 API URL to e2e-tests job (#108)
  .github/workflows/tests.yml
  frontend/playwright.config.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(e2e): bypass rate limiter under BYPASS_AUTH + correct TOC test helper (#108)
  backend/app/api/dependencies.py
  frontend/src/e2e/helpers/testData.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(e2e): green the local e2e-tests job — BETTER_AUTH_SECRET + /api/v1 URL (#108) (#109)
  .github/workflows/tests.yml
  backend/app/api/dependencies.py
  frontend/playwright.config.ts
  frontend/src/e2e/helpers/testData.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(e2e): repair chapter-tab selectors, skip unwired ChapterQuestions tests (#81)
  frontend/src/components/chapters/ChapterTab.tsx
  frontend/src/e2e/chapter-questions-tabs.spec.ts
  frontend/src/e2e/complete-authoring-journey.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(e2e): repair chapter-tab selectors, skip unwired ChapterQuestions tests (#81) (#111)
  frontend/src/components/chapters/ChapterTab.tsx
  frontend/src/e2e/chapter-questions-tabs.spec.ts
  frontend/src/e2e/complete-authoring-journey.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(toc): harden AI TOC generation error handling and surface failures (#48)
  CLAUDE.md
  backend/app/api/endpoints/books.py
  backend/app/services/ai_service.py
  backend/tests/test_api/test_ai_error_responses.py
  backend/tests/test_services/test_ai_service.py
  frontend/src/__tests__/bookClient.test.tsx
  frontend/src/components/toc/TocGenerationWizard.tsx
  frontend/src/e2e/toc-generation-resilience.spec.ts
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(toc): harden AI TOC generation error handling and surface failures (#48) (#112)
  CLAUDE.md
  backend/app/api/endpoints/books.py
  backend/app/services/ai_service.py
  backend/tests/test_api/test_ai_error_responses.py
  backend/tests/test_services/test_ai_service.py
  frontend/src/__tests__/bookClient.test.tsx
  frontend/src/components/toc/TocGenerationWizard.tsx
  frontend/src/e2e/toc-generation-resilience.spec.ts
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(db): make cascade book delete atomic with transaction + safe fallback
  backend/app/db/book.py
  backend/app/db/book_cascade_delete.py
  backend/tests/test_db/test_cascade_delete_atomic.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(db): make cascade book delete atomic with transaction + safe fallback (#113)
  backend/app/db/book.py
  backend/app/db/book_cascade_delete.py
  backend/tests/test_db/test_cascade_delete_atomic.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(export): add validation, timeout handling, and error recovery (#49)
  backend/app/api/endpoints/export.py
  backend/app/core/config.py
  backend/app/services/export_service.py
  backend/tests/test_api/test_export_endpoints.py
  backend/tests/test_services/test_export_service.py
  frontend/src/__tests__/bookClient.test.tsx
  frontend/src/e2e/export-error-recovery.spec.ts
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(export): add validation, timeout handling, and error recovery (#49) (#114)
  backend/app/api/endpoints/export.py
  backend/app/core/config.py
  backend/app/services/export_service.py
  backend/tests/test_api/test_export_endpoints.py
  backend/tests/test_services/test_export_service.py
  frontend/src/__tests__/bookClient.test.tsx
  frontend/src/e2e/export-error-recovery.spec.ts
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

feat(ui): surface error/success feedback and unify toasts (#46)
  frontend/src/__tests__/ChapterTabs.test.tsx
  frontend/src/__tests__/DraftGenerator.test.tsx
  frontend/src/__tests__/NewBookPage.test.tsx
  frontend/src/__tests__/QuestionResponseVerification.test.tsx
  frontend/src/__tests__/SettingsPageSave.test.tsx
  frontend/src/__tests__/pages/DashboardBookDelete.test.tsx
  frontend/src/app/dashboard/books/[bookId]/export/page.tsx
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/app/dashboard/new-book/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/BookCreationWizard.tsx
  frontend/src/components/books/__tests__/BookCreationWizard.test.tsx
  frontend/src/components/chapters/ChapterTabs.tsx
  frontend/src/components/chapters/DraftGenerator.tsx
  frontend/src/components/chapters/questions/DraftGenerationButton.tsx
  frontend/src/components/chapters/questions/QuestionContainer.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/export/ExportOptionsModal.tsx
  frontend/src/lib/toast.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests
