Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

frontend-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Checking
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-unit-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend && npm test -- --passWithNoTests --watchAll=false'
  language: system
  pass_filenames: false

frontend-coverage:
  name: Frontend Coverage Check (≥85%)
  entry: bash -c 'cd frontend && npm test -- --coverage --coverageThreshold="{\"global\":{\"lines\":85,\"statements\":85,\"branches\":75,\"functions\":85}}" --watchAll=false'
  language: system
  pass_filenames: false

frontend-e2e-tests:
  name: Frontend E2E Tests (Playwright)
  entry: bash -c 'cd frontend && BYPASS_AUTH=true npx playwright test'
  language: system
  pass_filenames: false

backend-lint:
  name: Backend Linting (ruff)
  entry: bash -c 'cd backend && uv run ruff check app/ tests/ || true'
  language: system
  pass_filenames: false

backend-unit-tests:
  name: Backend Unit Tests
  entry: bash -c 'cd backend && uv run pytest tests/'
  language: system
  pass_filenames: false
  require_serial: true

backend-coverage:
  name: Backend Coverage Check (≥85%)
  entry: bash -c 'cd backend && uv run pytest tests/ --cov=app --cov-fail-under=85'
  language: system
  pass_filenames: false
  require_serial: true

docs(changelog): book page stale load (#584)
  docs/CHANGELOG.md
Due: none

fix(books): a book the user left could render, and save, under the next one (#584) (#712)
  docs/CHANGELOG.md
  frontend/react-hooks-baseline.json
  frontend/src/app/dashboard/books/[bookId]/__tests__/page.loading.test.tsx
  frontend/src/app/dashboard/books/[bookId]/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test: useSession mock returns one stable session, as better-auth does
  frontend/src/__mocks__/better-auth-react.ts
  frontend/src/app/dashboard/books/[bookId]/__tests__/page.loading.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(changelog): stable useSession mock
  docs/CHANGELOG.md
Due: none

test: useSession mock returns one stable session, as better-auth does (#714)
  docs/CHANGELOG.md
  frontend/src/__mocks__/better-auth-react.ts
  frontend/src/app/dashboard/books/[bookId]/__tests__/page.loading.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test: make jest.mock factories for @/lib/auth-client reach the code under test (#713)
  frontend/__mocks__/@/lib/auth-client.ts
  frontend/src/__tests__/authClientMockReachesImports.test.ts
  frontend/src/jest.setup.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(changelog): auth-client mocks reach the code under test (#713)
  docs/CHANGELOG.md
Due: none

test: make jest.mock factories for @/lib/auth-client reach the code under test (#713) (#715)
  docs/CHANGELOG.md
  frontend/__mocks__/@/lib/auth-client.ts
  frontend/src/__tests__/authClientMockReachesImports.test.ts
  frontend/src/jest.setup.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(lint): the dashboard loads books from one keyed effect (#584)
  frontend/react-hooks-baseline.json
  frontend/src/app/dashboard/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(changelog): dashboard keyed load (#584)
  docs/CHANGELOG.md
Due: none

fix(lint): the dashboard loads books from one keyed effect (#584) (#716)
  docs/CHANGELOG.md
  frontend/react-hooks-baseline.json
  frontend/src/app/dashboard/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(lessons): alias manual mocks, and verifying a commit before mutating
  tasks/lessons.md
Due: none

docs(lessons): alias manual mocks, and verifying a commit before mutating (#717)
  tasks/lessons.md
Due: none

fix(lint): react-hooks/set-state-in-effect back at error (#584)
  .github/workflows/tests.yml
  docs/references/quality-standards.md
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/react-hooks-baseline.json
  frontend/scripts/react-hooks-gate.mjs
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(changelog): set-state-in-effect back at error (#584)
  docs/CHANGELOG.md
Due: none

fix(lint): react-hooks/set-state-in-effect back at error (#584) (#719)
  .github/workflows/tests.yml
  docs/CHANGELOG.md
  docs/references/quality-standards.md
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/react-hooks-baseline.json
  frontend/scripts/react-hooks-gate.mjs
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(summary): decide which copy of a book summary wins (#718)
  docs/references/quality-standards.md
  frontend/src/app/dashboard/books/[bookId]/summary/__tests__/page.precedence.test.tsx
  frontend/src/app/dashboard/books/[bookId]/summary/__tests__/page.test.tsx
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(718): cover the previous book's load landing after the switch
  frontend/src/app/dashboard/books/[bookId]/summary/__tests__/page.precedence.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(changelog): summary precedence (#718)
  docs/CHANGELOG.md
Due: none

fix(718): key the summary's loaded flag by book
  frontend/src/app/dashboard/books/[bookId]/summary/__tests__/page.precedence.test.tsx
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(718): a fallback draft is shown, not pushed to the server
  frontend/src/app/dashboard/books/[bookId]/summary/__tests__/page.precedence.test.tsx
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(changelog): summary precedence review fixes (#718)
  docs/CHANGELOG.md
Due: none

fix(718): key the summary's loaded marker by visit, not only book
  frontend/src/app/dashboard/books/[bookId]/summary/__tests__/page.precedence.test.tsx
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(changelog): third review fix (#718)
  docs/CHANGELOG.md
Due: none

fix(718): save edits made during a pending load locally
  frontend/src/app/dashboard/books/[bookId]/summary/__tests__/page.precedence.test.tsx
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(changelog): fourth review fix (#718)
  docs/CHANGELOG.md
Due: none

fix(summary): decide which copy of a book summary wins (#718) (#720)
  docs/CHANGELOG.md
  docs/references/quality-standards.md
  frontend/src/app/dashboard/books/[bookId]/summary/__tests__/page.precedence.test.tsx
  frontend/src/app/dashboard/books/[bookId]/summary/__tests__/page.test.tsx
  frontend/src/app/dashboard/books/[bookId]/summary/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(604): deliberately failing authenticated staging test (throwaway, not for merge)
  frontend/tests/e2e/staging/deliberate-604-failure.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(e2e): scope the staging E2E account, and delete the #550 throwaway accounts (#603)
  docs/CHANGELOG.md
  docs/demos/2026-08-27-issue-550-better-auth-1.7-staging-verification.md
  frontend/tests/e2e/staging/README.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(e2e): scope the staging E2E account, and delete the #550 throwaway accounts (#603) (#721)
  docs/CHANGELOG.md
  docs/demos/2026-08-27-issue-550-better-auth-1.7-staging-verification.md
  frontend/tests/e2e/staging/README.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

chore(lint): pin react version for eslint-plugin-react (ESLint 10 ready)
  frontend/eslint.config.mjs
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

chore(lint): pin react version for eslint-plugin-react (ESLint 10 ready) (#731)
  frontend/eslint.config.mjs
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

chore(deps): group Dependabot security updates per ecosystem
  .github/dependabot.yml
Due: none

chore(deps): group Dependabot security updates per ecosystem (#732)
  .github/dependabot.yml
Due: none

fix(deps): security-update groups obey the Dependabot guards (#736)
  .github/dependabot.yml
  docs/CHANGELOG.md
Due: none

docs(changelog): name the two security groups #736 changed, not "both"
  docs/CHANGELOG.md
Due: none

fix(security): patch next to 16.3.6 and brace-expansion (#738)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(security): patch urllib3 to 2.8.0, and changelog for #738
  backend/uv.lock
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs(demo): Security Audit gate restored, main vs branch (#736, #738)
  docs/CHANGELOG.md
  docs/demos/1d5810b2-2026-10-01.png
  docs/demos/2026-10-01-issue-736-738-security-audit-gate.md
Due: none

fix: restore the Security Audit gate — Dependabot guard fix (#736) and six advisory patches incl. critical Next.js RCE (#738) (#737)
  .github/dependabot.yml
  backend/uv.lock
  docs/CHANGELOG.md
  docs/demos/1d5810b2-2026-10-01.png
  docs/demos/2026-10-01-issue-736-738-security-audit-gate.md
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/
