Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

frontend-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Checking
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-unit-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend && npm test -- --passWithNoTests --watchAll=false'
  language: system
  pass_filenames: false

frontend-coverage:
  name: Frontend Coverage Check (≥85%)
  entry: bash -c 'cd frontend && npm test -- --coverage --coverageThreshold="{\"global\":{\"lines\":85,\"statements\":85,\"branches\":75,\"functions\":85}}" --watchAll=false'
  language: system
  pass_filenames: false

frontend-e2e-tests:
  name: Frontend E2E Tests (Playwright)
  entry: bash -c 'cd frontend && BYPASS_AUTH=true npx playwright test'
  language: system
  pass_filenames: false

backend-lint:
  name: Backend Linting (ruff)
  entry: bash -c 'cd backend && uv run ruff check app/ tests/ || true'
  language: system
  pass_filenames: false

backend-unit-tests:
  name: Backend Unit Tests
  entry: bash -c 'cd backend && uv run pytest tests/'
  language: system
  pass_filenames: false
  require_serial: true

backend-coverage:
  name: Backend Coverage Check (≥85%)
  entry: bash -c 'cd backend && uv run pytest tests/ --cov=app --cov-fail-under=85'
  language: system
  pass_filenames: false
  require_serial: true

[P2.6] test(auth): cover sign-in 2FA-redirect race, error mapping, and real sign-up flow (#198)
  frontend/src/__tests__/HomePage.test.tsx
  frontend/src/__tests__/SignInPage.test.tsx
  frontend/src/__tests__/SignUpPage.test.tsx
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(demo): issue #198 auth-flow test mutation differential
  docs/demos/2026-07-12-issue-198-auth-flow-tests.md
Due: none

docs: changelog + todo close-out for #198
  CLAUDE.md
  tasks/todo.md
Due: none

[P2.6] test(auth): sign-in 2FA-redirect race + error mapping, real sign-up tests (#198) (#284)
  CLAUDE.md
  docs/demos/2026-07-12-issue-198-auth-flow-tests.md
  frontend/src/__tests__/HomePage.test.tsx
  frontend/src/__tests__/SignInPage.test.tsx
  frontend/src/__tests__/SignUpPage.test.tsx
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(rate-limit): drive real 429s through production routes (#199)
  backend/tests/conftest.py
  backend/tests/test_api/test_export_endpoints.py
  backend/tests/test_api/test_rate_limit_routes.py
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs: showboat demo for #199 rate-limit test-trust (mutation differential)
  docs/demos/2026-07-13-issue-199-rate-limit-test-trust.md
Due: none

docs: CLAUDE.md changelog entry for #199; close out todo
  CLAUDE.md
  tasks/todo.md
Due: none

[P2.7] test(rate-limit): drive real 429s through production routes (#199) (#285)
  CLAUDE.md
  backend/tests/conftest.py
  backend/tests/test_api/test_export_endpoints.py
  backend/tests/test_api/test_rate_limit_routes.py
  docs/demos/2026-07-13-issue-199-rate-limit-test-trust.md
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

[P2.8] test: remove orphaned 'gold standard' tests that run nowhere or assert nothing (#200)
  backend/tests/test_api/test_draft_generation.py.disabled
  backend/tests/test_draft_generation_api.py
  frontend/jest.config.cjs
  frontend/src/__tests__/SystemIntegration.test.tsx
  frontend/src/__tests__/TocGenerationWizard.test.tsx
  frontend/src/__tests__/e2e/SystemE2E.test.tsx
  frontend/src/components/toc/__tests__/TocGenerating.test.tsx
  frontend/src/components/toc/__tests__/TocReview.test.tsx
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs: showboat demo for issue #200 orphaned-test removal
  docs/demos/2026-07-13-issue-200-orphaned-gold-standard-tests.md
Due: none

docs: CLAUDE.md changelog for #200 + annotate stale excluded-tests note
  CLAUDE.md
Due: none

[P2.8] test: remove orphaned 'gold standard' tests that run nowhere or assert nothing (#200) (#286)
  CLAUDE.md
  backend/tests/test_api/test_draft_generation.py.disabled
  backend/tests/test_draft_generation_api.py
  docs/demos/2026-07-13-issue-200-orphaned-gold-standard-tests.md
  frontend/jest.config.cjs
  frontend/src/__tests__/SystemIntegration.test.tsx
  frontend/src/__tests__/TocGenerationWizard.test.tsx
  frontend/src/__tests__/e2e/SystemE2E.test.tsx
  frontend/src/components/toc/__tests__/TocGenerating.test.tsx
  frontend/src/components/toc/__tests__/TocReview.test.tsx
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

[P2.9] test(e2e): CI-runnable core authoring journey — un-skip journey/autosave/error-recovery (#201)
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/e2e/complete-authoring-journey.spec.ts
  frontend/src/e2e/editing-autosave-flow.spec.ts
  frontend/src/e2e/error-recovery-flow.spec.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

[P2.9] test(e2e): actually delete the stale interview-prompts suite (#201)
  frontend/src/e2e/interview-prompts.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

[P2.9] test(e2e): pin generate-toc/generate-draft request contracts in journey mocks (#201)
  docs/demos/2026-07-13-issue-201-ci-runnable-e2e.md
  frontend/src/e2e/complete-authoring-journey.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

[P2.9] docs: changelog + lessons for #201 CI-runnable E2E
  CLAUDE.md
  tasks/lessons.md
Due: none

[P2.9] test(e2e): CI-runnable core authoring journey — un-skip journey/autosave/error-recovery (#201) (#287)
  CLAUDE.md
  docs/demos/2026-07-13-issue-201-ci-runnable-e2e.md
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/e2e/complete-authoring-journey.spec.ts
  frontend/src/e2e/editing-autosave-flow.spec.ts
  frontend/src/e2e/error-recovery-flow.spec.ts
  frontend/src/e2e/interview-prompts.spec.ts
  tasks/lessons.md
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(profile): merge full preferences before save so Settings fields survive (#204)
  frontend/src/__tests__/ProfilePageSave.test.tsx
  frontend/src/app/profile/page.tsx
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(profile): hydrate untouched fields with keepDirtyValues (codex P2)
  frontend/src/__tests__/ProfilePageSave.test.tsx
  frontend/src/app/profile/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(profile): re-arm the save guard on user switch (post-PR codex P2)
  frontend/src/__tests__/ProfilePageSave.test.tsx
  frontend/src/app/profile/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: demo + changelog for #204 (profile save preserves preferences)
  CLAUDE.md
  docs/demos/2026-07-13-issue-204-profile-save-preserves-prefs.md
  docs/demos/4e5038a2-2026-07-13.png
  docs/demos/55088b14-2026-07-13.png
  docs/demos/8a0c2bdd-2026-07-13.png
  scripts/demo204-prefs.sh
  tasks/todo.md
Due: none

[P2.12] fix(profile): profile save no longer wipes Settings-page preferences (#204) (#288)
  CLAUDE.md
  docs/demos/2026-07-13-issue-204-profile-save-preserves-prefs.md
  docs/demos/4e5038a2-2026-07-13.png
  docs/demos/55088b14-2026-07-13.png
  docs/demos/8a0c2bdd-2026-07-13.png
  frontend/src/__tests__/ProfilePageSave.test.tsx
  frontend/src/app/profile/page.tsx
  scripts/demo204-prefs.sh
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

[P2.13] fix: remove orphaned /dashboard/new-book route that dropped Genre/Target-Audience (#205)
  frontend/claudedocs/DEPLOYMENT-TESTING-CHECKLIST.md
  frontend/src/__tests__/NewBookPage.test.tsx
  frontend/src/app/dashboard/new-book/page.tsx
  frontend/src/components/BookCreationWizard.tsx
  frontend/src/components/BookMetadataForm.tsx
  frontend/src/components/__tests__/BookMetadataForm.test.tsx
  frontend/src/components/books/__tests__/BookCreationWizard.test.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/e2e/complete-authoring-journey.spec.ts
  frontend/src/e2e/error-recovery-flow.spec.ts
  frontend/src/lib/constants/book-metadata.ts
  frontend/tests/e2e/deployment/04-security-performance.spec.ts
  frontend/tests/e2e/page-objects/book-form.page.ts
  frontend/tests/e2e/page-objects/dashboard.page.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(e2e): verifyFormNotTransparent checks the wizard dialog surface (codex pre-PR P2)
  frontend/tests/e2e/page-objects/book-form.page.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(demo): issue #205 walkthrough — data-loss differential, taxonomy unification, retry-over-modal proof
  docs/demos/2026-07-13-issue-205-remove-orphaned-new-book.md
  docs/demos/272e2701-2026-07-13.png
  docs/demos/34809796-2026-07-13.png
  docs/demos/43508f2c-2026-07-13.png
  docs/demos/78e5654e-2026-07-13.png
  docs/demos/fecaee1b-2026-07-13.png
Due: none

fix: single-flight guard on wizard submit — toast Retry double-click can't create a duplicate book (GLM CI review minor)
  frontend/src/components/BookCreationWizard.tsx
  frontend/src/components/books/__tests__/BookCreationWizard.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

[P2.13] fix: remove orphaned /dashboard/new-book route that dropped Genre/Target-Audience (#205) (#289)
  docs/demos/2026-07-13-issue-205-remove-orphaned-new-book.md
  docs/demos/272e2701-2026-07-13.png
  docs/demos/34809796-2026-07-13.png
  docs/demos/43508f2c-2026-07-13.png
  docs/demos/78e5654e-2026-07-13.png
  docs/demos/fecaee1b-2026-07-13.png
  frontend/claudedocs/DEPLOYMENT-TESTING-CHECKLIST.md
  frontend/src/__tests__/NewBookPage.test.tsx
  frontend/src/app/dashboard/new-book/page.tsx
  frontend/src/components/BookCreationWizard.tsx
  frontend/src/components/BookMetadataForm.tsx
  frontend/src/components/__tests__/BookMetadataForm.test.tsx
  frontend/src/components/books/__tests__/BookCreationWizard.test.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/e2e/complete-authoring-journey.spec.ts
  frontend/src/e2e/error-recovery-flow.spec.ts
  frontend/src/lib/constants/book-metadata.ts
  frontend/tests/e2e/deployment/04-security-performance.spec.ts
  frontend/tests/e2e/page-objects/book-form.page.ts
  frontend/tests/e2e/page-objects/dashboard.page.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: CLAUDE.md changelog entry for #205 (PR #289)
  CLAUDE.md
Due: none

fix(ui): BookCard + EmptyBookState use theme tokens — dashboard renders in light mode (#206)
  frontend/src/__tests__/components/BookCard.test.tsx
  frontend/src/__tests__/components/EmptyBookState.test.tsx
  frontend/src/components/BookCard.tsx
  frontend/src/components/EmptyBookState.tsx
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test: reject gray-* literals unconditionally in the #206 sweep (post-PR review minor)
  frontend/src/__tests__/components/BookCard.test.tsx
  frontend/src/__tests__/components/EmptyBookState.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(ui): dashboard page title + error text use theme tokens; add #206 demo
  docs/demos/2026-07-13-issue-206-theme-tokens.md
  docs/demos/issue206-branch-card-dark.png
  docs/demos/issue206-branch-card-light.png
  docs/demos/issue206-branch-empty-dark.png
  docs/demos/issue206-branch-empty-light.png
  docs/demos/issue206-main-card-light.png
  docs/demos/issue206-main-empty-light.png
  frontend/src/app/dashboard/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

[P2.14] fix(ui): BookCard + EmptyBookState use theme tokens — dashboard renders in light mode (#206) (#290)
  docs/demos/2026-07-13-issue-206-theme-tokens.md
  docs/demos/issue206-branch-card-dark.png
  docs/demos/issue206-branch-card-light.png
  docs/demos/issue206-branch-empty-dark.png
  docs/demos/issue206-branch-empty-light.png
  docs/demos/issue206-main-card-light.png
  docs/demos/issue206-main-empty-light.png
  frontend/src/__tests__/components/BookCard.test.tsx
  frontend/src/__tests__/components/EmptyBookState.test.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/BookCard.tsx
  frontend/src/components/EmptyBookState.tsx
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: CLAUDE.md changelog entry for #206 (PR #290)
  CLAUDE.md
  tasks/todo.md
Due: none

[P2.15] feat(profile): type-to-confirm safeguard for account deletion (#216)
  frontend/src/__tests__/ProfilePageDelete.test.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/e2e/profile-editing.spec.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

review: adopt GLM pre-PR minors — dismissal-guard parity, session-mock re-seed, E2E fallback note (#216)
  frontend/src/__tests__/ProfilePageDelete.test.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/e2e/profile-editing.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

review: adopt post-PR GLM minors — trigger via open-change handler + 3 test-strength pins (#216)
  frontend/src/__tests__/ProfilePageDelete.test.tsx
  frontend/src/app/profile/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: demo for #216 type-to-confirm account deletion (main-vs-branch live differential)
  docs/demos/068bbdf4-2026-07-14.png
  docs/demos/16f4eff0-2026-07-14.png
  docs/demos/1fefa080-2026-07-14.png
  docs/demos/2026-07-14-issue-216-account-delete-type-to-confirm.md
  docs/demos/5de9eb0a-2026-07-14.png
Due: none

[P2.15] feat(profile): type-to-confirm safeguard for account deletion (#216) (#292)
  docs/demos/068bbdf4-2026-07-14.png
  docs/demos/16f4eff0-2026-07-14.png
  docs/demos/1fefa080-2026-07-14.png
  docs/demos/2026-07-14-issue-216-account-delete-type-to-confirm.md
  docs/demos/5de9eb0a-2026-07-14.png
  frontend/src/__tests__/ProfilePageDelete.test.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/e2e/profile-editing.spec.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: CLAUDE.md changelog entry for #216 (PR #292)
  CLAUDE.md
Due: none

feat(2fa): regenerate backup codes, forced save acknowledgment, sign-in recovery path (#217)
  frontend/src/__mocks__/better-auth-react.ts
  frontend/src/__tests__/VerifyTwoFactorPage.test.tsx
  frontend/src/app/auth/verify-2fa/page.tsx
  frontend/src/components/settings/TwoFactorSetup.tsx
  frontend/src/components/settings/__tests__/SecuritySettings.test.tsx
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/
