Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

frontend-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Checking
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-unit-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend && npm test -- --passWithNoTests --watchAll=false'
  language: system
  pass_filenames: false

frontend-coverage:
  name: Frontend Coverage Check (≥85%)
  entry: bash -c 'cd frontend && npm test -- --coverage --coverageThreshold="{\"global\":{\"lines\":85,\"statements\":85,\"branches\":75,\"functions\":85}}" --watchAll=false'
  language: system
  pass_filenames: false

frontend-e2e-tests:
  name: Frontend E2E Tests (Playwright)
  entry: bash -c 'cd frontend && BYPASS_AUTH=true npx playwright test'
  language: system
  pass_filenames: false

backend-lint:
  name: Backend Linting (ruff)
  entry: bash -c 'cd backend && uv run ruff check app/ tests/ || true'
  language: system
  pass_filenames: false

backend-unit-tests:
  name: Backend Unit Tests
  entry: bash -c 'cd backend && uv run pytest tests/'
  language: system
  pass_filenames: false
  require_serial: true

backend-coverage:
  name: Backend Coverage Check (≥85%)
  entry: bash -c 'cd backend && uv run pytest tests/ --cov=app --cov-fail-under=85'
  language: system
  pass_filenames: false
  require_serial: true

fix(deploy): Fix PM2 ecosystem config and restore deployment reliability
  CLAUDE.md
  backend/app/api/endpoints/webhooks.py
  backend/app/db/user.py
  backend/app/schemas/user.py
  ecosystem.config.template.js
Due: backend-lint, backend-unit-tests, backend-coverage

fix: upgrade lucide-react from 0.545.0 to 0.552.0
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: Add comprehensive production readiness analysis and roadmap
  CURRENT_SPRINT.md
  IMPLEMENTATION_PLAN.md
  claudedocs/SESSION.md
  docs/PRODUCTION_ROADMAP.md
  docs/analysis/architecture-review.md
  docs/analysis/backend-api-review.md
  docs/analysis/backend-services-review.md
  docs/analysis/database-review.md
  docs/analysis/deployment-review.md
  docs/analysis/documentation-review.md
  docs/analysis/frontend-components-review.md
  docs/analysis/frontend-nextjs-review.md
  docs/analysis/security-audit.md
  docs/analysis/testing-coverage-review.md
  docs/production-readiness-gaps.md
Due: none

fix(cors): Configure CORS origins for staging and production deployments
  backend/app/core/config.py
  docs/deployment-pipeline-implementation-checklist.md
  docs/pre-deployment-checklist.md
  scripts/validate-cors.sh
Due: backend-lint, backend-unit-tests, backend-coverage

fix(cors): Configure CORS origins for staging and production deployments
  backend/app/core/config.py
Due: backend-lint, backend-unit-tests, backend-coverage

feat(mongodb): Configure production-ready connection pooling
  backend/README.md
  backend/app/db/base.py
  backend/tests/load_tests/__init__.py
  backend/tests/load_tests/test_mongodb_connection_pool.py
Due: backend-lint, backend-unit-tests, backend-coverage

feat(mongodb): Configure production-ready connection pooling
  .beads/beads.db-shm
  .beads/daemon.lock
  .beads/daemon.log
  .beads/daemon.pid
  .beads/metadata.json
  backend/.coverage
  claudedocs/SESSION.md
Due: backend-lint, backend-unit-tests, backend-coverage

feat(infrastructure): Add automated MongoDB backup workflow
  .github/workflows/database-backup.yml
  docs/database-backup-restoration.md
Due: none

feat(infrastructure): Add production deployment workflow with rollback
  .github/workflows/deploy-production.yml
  .github/workflows/rollback-production.yml
  docs/production-deployment.md
  ecosystem.config.production.template.js
  scripts/deploy-production.sh
Due: none

feat(infrastructure): Replace in-memory rate limiting with Redis
  backend/README.md
  backend/app/api/dependencies.py
  backend/app/core/config.py
  backend/app/db/redis.py
  backend/pyproject.toml
  backend/tests/test_api/test_redis_rate_limiting.py
  backend/uv.lock
Due: backend-lint, backend-unit-tests, backend-coverage

refactor(api): Split monolithic books.py into 5 modular files
  backend/app/api/endpoints/books.py.bak
  backend/app/api/endpoints/books/__init__.py
  backend/app/api/endpoints/books/books_chapters.py
  backend/app/api/endpoints/books/books_crud.py
  backend/app/api/endpoints/books/books_drafts.py
  backend/app/api/endpoints/books/books_questions.py
  backend/app/api/endpoints/books/books_toc.py
  backend/app/api/endpoints/router.py
  backend/scripts/split_books_py.py
  backend/tests/conftest.py
  backend/tests/test_api/test_draft_generation_simple.py
Due: backend-lint, backend-unit-tests, backend-coverage

feat(phase-2): Complete Phase 2 infrastructure implementation
  backend/.coverage
  backend/README_MONITORING.md
  backend/app/api/health.py
  backend/app/api/metrics.py
  backend/app/api/middleware/request_tracking.py
  backend/app/core/logging.py
  backend/app/db/monitoring.py
  backend/tests/test_health.py
  backend/tests/test_metrics.py
  backend/tests/test_monitoring.py
  docs/monitoring-alerts.md
  docs/monitoring-dashboard.md
  docs/monitoring-runbook.md
  docs/monitoring-setup.md
Due: backend-lint, backend-unit-tests, backend-coverage

test(security): Increase security.py test coverage from 18% to 100%
  backend/tests/test_core/test_security.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(dependencies): Increase dependencies.py test coverage to 82%
  backend/tests/test_api/test_dependencies.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(transcription): Add comprehensive transcription API tests (98% coverage)
  backend/app/api/endpoints/router.py
  backend/app/api/endpoints/transcription.py
  backend/tests/test_api/test_routes/test_transcription.py
  backend/tests/test_api/test_webhooks.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(backend): Sprint 2 P1 business logic coverage (156 tests, 41%→55%)
  backend/app/api/endpoints/users.py
  backend/app/db/questions.py
  backend/tests/test_api/test_routes/test_books_comprehensive.py
  backend/tests/test_api/test_routes/test_books_questions_drafts.py
  backend/tests/test_api/test_routes/test_books_toc_chapters.py
  backend/tests/test_api/test_users_comprehensive.py
  backend/tests/test_db/test_questions.py
  backend/tests/test_db/test_toc_transactions.py
  claudedocs/SESSION.md
  claudedocs/sprint2-completion-report.md
  claudedocs/sprint2-test-plan.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(tests): Resolve event loop closure in TOC transaction tests
  backend/app/db/toc_transactions.py
  backend/tests/conftest.py
  backend/tests/test_db/test_toc_transactions.py
  claudedocs/sprint2-toc-infrastructure-fix.md
Due: backend-lint, backend-unit-tests, backend-coverage

test(books): Fix critical bugs and improve books_chapters.py test coverage (27%→62.9% passing)
  backend/app/api/endpoints/books/books_chapters.py
  backend/tests/test_api/test_routes/test_books_toc_chapters.py
  claudedocs/sprint2-books-chapters-fixes.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs(sprint2): Final Sprint 2 validation and completion report
  claudedocs/SESSION.md
  claudedocs/SPRINT2_FINAL_REPORT.md
Due: none

test(sprint2): Mark unimplemented features as skipped - achieve 100% pass rate
  backend/claudedocs/SPRINT2_UNIMPLEMENTED_FEATURES.md
  backend/tests/test_api/test_routes/test_books_questions_drafts.py
  backend/tests/test_api/test_routes/test_books_toc_chapters.py
  backend/tests/test_db/test_toc_transactions.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(sprint3): Add comprehensive service layer test coverage (273 tests, 34%→66%)
  backend/app/services/chapter_cache_service.py
  backend/tests/test_services/test_chapter_cache.py
  backend/tests/test_services/test_chapter_error_handler.py
  backend/tests/test_services/test_genre_templates.py
  backend/tests/test_services/test_question_feedback.py
  backend/tests/test_services/test_question_generation_comprehensive.py
  backend/tests/test_services/test_question_quality.py
  claudedocs/SPRINT3_FINAL_REPORT.md
  claudedocs/sprint3-test-plan.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs(phase3): Add comprehensive Phase 3 completion summary
  backend/.gitignore
  claudedocs/PHASE3_COMPLETE_SUMMARY.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix: frontend/package.json to reduce vulnerabilities
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: frontend/package.json to reduce vulnerabilities (#32)
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade lucide-react from 0.545.0 to 0.552.0 (#30)
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(tests): Resolve frontend test failures
  frontend/src/__tests__/ChapterQuestionsPerformance.test.tsx
  frontend/src/__tests__/DraftGenerator.test.tsx
  frontend/src/__tests__/bookClient.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(e2e): Comprehensive E2E test fixes - selectors, data-testid, cleanup utilities
  claudedocs/SESSION.md
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/BookCard.tsx
  frontend/src/components/SummaryInput.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/ChapterTab.tsx
  frontend/src/components/chapters/DraftGenerator.tsx
  frontend/src/components/loading/LoadingStateManager.tsx
  frontend/src/components/toc/ClarifyingQuestions.tsx
  frontend/src/components/toc/TocGenerating.tsx
  frontend/src/components/toc/TocReview.tsx
  frontend/tests/e2e/deployment/playwright.config.ts
  frontend/tests/e2e/fixtures/README.md
  frontend/tests/e2e/fixtures/cleanup-template.ts
  frontend/tests/e2e/fixtures/test-data.fixture.ts
  frontend/tests/e2e/global-teardown.ts
  frontend/tests/e2e/helpers/condition-waiter.ts
  frontend/tests/e2e/page-objects/auth.page.ts
  frontend/tests/e2e/page-objects/book-form.page.ts
  frontend/tests/e2e/page-objects/chapter-editor.page.ts
  frontend/tests/e2e/page-objects/summary.page.ts
  frontend/tests/e2e/page-objects/toc-wizard.page.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(tests): Resolve frontend test failures
  frontend/src/app/dashboard/new-book/page.tsx
  frontend/tests/e2e/deployment/playwright.config.ts
  frontend/tests/e2e/fixtures/auth.fixture.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(e2e): Make E2E tests self-contained with local servers
  frontend/tests/e2e/deployment/playwright.config.ts
  frontend/tests/e2e/fixtures/auth.fixture.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

security: Remove BYPASS_AUTH to eliminate production security risk
  README.md
  backend/app/core/config.py
  backend/app/core/security.py
  frontend/src/app/dashboard/page.tsx
  frontend/src/middleware.ts
  frontend/tests/e2e/deployment/playwright.config.ts
  frontend/tests/e2e/fixtures/auth.fixture.ts
  specs/001-project-overview-spec/spec.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs(e2e) Document E2E test problems and proposed fixes
  claudedocs/SESSION.md
  docs/E2E_TEST_FAILURE_ANALYSIS_2025-12-04.md
  frontend/tests/e2e/CLEANUP_IMPLEMENTATION_SUMMARY.md
  frontend/tests/e2e/QUICK_REFERENCE.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade lucide-react from 0.545.0 to 0.554.0
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

chore: update next.js package
  backend/archived_tests/test_chapter_tabs_api.py
  backend/archived_tests/test_config.py
  backend/archived_tests/test_draft_generation_api.py
  backend/archived_tests/test_file_upload_service.py
  backend/archived_tests/test_services_isolated.py
  backend/archived_tests/test_services_summary.py
  backend/archived_tests/test_toc_transactions.py
  frontend/package-lock.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix: upgrade lucide-react from 0.545.0 to 0.554.0 (#33)
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade @playwright/test from 1.56.1 to 1.57.0
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade @clerk/nextjs from 6.35.2 to 6.35.5
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/
