Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

frontend-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Checking
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-unit-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend && npm test -- --passWithNoTests --watchAll=false'
  language: system
  pass_filenames: false

frontend-coverage:
  name: Frontend Coverage Check (≥85%)
  entry: bash -c 'cd frontend && npm test -- --coverage --coverageThreshold="{\"global\":{\"lines\":85,\"statements\":85,\"branches\":75,\"functions\":85}}" --watchAll=false'
  language: system
  pass_filenames: false

frontend-e2e-tests:
  name: Frontend E2E Tests (Playwright)
  entry: bash -c 'cd frontend && BYPASS_AUTH=true npx playwright test'
  language: system
  pass_filenames: false

backend-lint:
  name: Backend Linting (ruff)
  entry: bash -c 'cd backend && uv run ruff check app/ tests/ || true'
  language: system
  pass_filenames: false

backend-unit-tests:
  name: Backend Unit Tests
  entry: bash -c 'cd backend && uv run pytest tests/'
  language: system
  pass_filenames: false
  require_serial: true

backend-coverage:
  name: Backend Coverage Check (≥85%)
  entry: bash -c 'cd backend && uv run pytest tests/ --cov=app --cov-fail-under=85'
  language: system
  pass_filenames: false
  require_serial: true

fix: address cross-family review feedback (#307)
  backend/ENV_VAR_CHANGELOG.md
  backend/app/core/config.py
  backend/tests/test_core/test_security.py
  docs/GITHUB_SECRETS_SETUP.md
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs: add showboat demo verifying #307 acceptance criteria
  docs/demos/2026-07-18-issue-307-backend-e2e-allow-bypass.md
Due: none

docs: sync documentation with code changes (#307)
  CLAUDE.md
  tasks/todo.md
Due: none

feat: require E2E_ALLOW_BYPASS for backend BYPASS_AUTH in all environments (#307)
  .github/workflows/tests.yml
  CLAUDE.md
  README.md
  backend/.env.example
  backend/ENV_VAR_CHANGELOG.md
  backend/app/core/config.py
  backend/tests/test_core/test_security.py
  backend/tests/test_main.py
  docs/GITHUB_SECRETS_SETUP.md
  docs/demos/2026-07-18-issue-307-backend-e2e-allow-bypass.md
  frontend/tests/e2e/E2E_TEST_STATUS.md
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(security): case-normalize production markers in is_production_env (#309)
  backend/app/core/config.py
  backend/tests/test_core/test_security.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: changelog entry for is_production_env case-normalization (#309)
  CLAUDE.md
Due: none

fix(security): case-normalize production markers in is_production_env (#309) (#311)
  CLAUDE.md
  backend/app/core/config.py
  backend/tests/test_core/test_security.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(dashboard): compute chapters/progress from toc_items in getUserBooks (#291)
  frontend/src/lib/api/__tests__/bookClient.test.ts
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: add #291 BookCard chapters/progress demo
  docs/demos/2026-07-18-issue-291-bookcard-chapters-progress.md
Due: none

docs: changelog entry for #291 BookCard chapters/progress fix
  CLAUDE.md
Due: none

test: update second getUserBooks test to toc_items contract (#291)
  frontend/src/__tests__/bookClient.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(dashboard): compute chapters/progress from toc_items in getUserBooks (#291) (#312)
  CLAUDE.md
  docs/demos/2026-07-18-issue-291-bookcard-chapters-progress.md
  frontend/src/__tests__/bookClient.test.tsx
  frontend/src/lib/api/__tests__/bookClient.test.ts
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

chore(security): gitignore backend/uploads and untrack test images (#207)
  .gitignore
  backend/uploads/.gitkeep
  backend/uploads/cover_images/test_0.jpg
  backend/uploads/cover_images/test_1.jpg
  backend/uploads/cover_images/test_2.jpg
Due: backend-lint, backend-unit-tests, backend-coverage

docs(changelog): record #207 gitignore uploads fix
  CLAUDE.md
Due: none

chore(security): gitignore backend/uploads and untrack test images (#207) (#313)
  .gitignore
  CLAUDE.md
  backend/uploads/.gitkeep
  backend/uploads/cover_images/test_0.jpg
  backend/uploads/cover_images/test_1.jpg
  backend/uploads/cover_images/test_2.jpg
Due: backend-lint, backend-unit-tests, backend-coverage

fix(frontend): gate client console.log debug statements behind dev-only logger (#208)
  frontend/src/app/dashboard/books/[bookId]/chapters/[chapterId]/page.tsx
  frontend/src/app/dashboard/books/[bookId]/edit-toc/page.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/ChapterTabs.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/toc/NotReadyMessage.tsx
  frontend/src/components/toc/TocGenerationWizard.tsx
  frontend/src/hooks/useChapterTabs.ts
  frontend/src/hooks/useTocSync.ts
  frontend/src/lib/__tests__/logger.test.ts
  frontend/src/lib/logger.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(demo): add #208 console.log gating demo evidence
  docs/demos/2026-07-18-issue-208-gate-client-console-logs.md
Due: none

fix(frontend): gate client console.log debug statements behind dev-only logger (#208) (#314)
  docs/demos/2026-07-18-issue-208-gate-client-console-logs.md
  frontend/src/app/dashboard/books/[bookId]/chapters/[chapterId]/page.tsx
  frontend/src/app/dashboard/books/[bookId]/edit-toc/page.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/ChapterTabs.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/toc/NotReadyMessage.tsx
  frontend/src/components/toc/TocGenerationWizard.tsx
  frontend/src/hooks/useChapterTabs.ts
  frontend/src/hooks/useTocSync.ts
  frontend/src/lib/__tests__/logger.test.ts
  frontend/src/lib/logger.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(security): delete dead auth-helpers.ts (broken role check, zero importers) (#209)
  frontend/src/lib/auth-helpers.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(security): delete dead auth-helpers.ts (broken role check, zero importers) (#209) (#315)
  frontend/src/lib/auth-helpers.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: changelog entry for #209 (delete dead auth-helpers.ts)
  CLAUDE.md
Due: none

test(backend): delete debug scratch scripts committed under backend/tests (#210)
  backend/tests/test_api/run_test_api.py
  backend/tests/test_api/test_routes/run_test_authenticated_endpoints.py
  backend/tests/test_api/test_routes/test_debug_loop.py
  backend/tests/test_services/run_test_question_responses.py
  backend/tests/test_services/run_test_toc_flow.py
  backend/tests/test_services/simple_endpoint_test.py
  backend/tests/test_services_summary.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: demo + changelog for #210 (delete debug scratch tests)
  CLAUDE.md
  docs/demos/2026-07-18-issue-210-delete-debug-scratch-tests.md
Due: none

test(backend): delete debug scratch scripts under backend/tests (#210) (#316)
  CLAUDE.md
  backend/tests/test_api/run_test_api.py
  backend/tests/test_api/test_routes/run_test_authenticated_endpoints.py
  backend/tests/test_api/test_routes/test_debug_loop.py
  backend/tests/test_services/run_test_question_responses.py
  backend/tests/test_services/run_test_toc_flow.py
  backend/tests/test_services/simple_endpoint_test.py
  backend/tests/test_services_summary.py
  docs/demos/2026-07-18-issue-210-delete-debug-scratch-tests.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs: mark #210 complete in changelog (merged in #316)
  CLAUDE.md
Due: none

fix(tests): guard destructive test-DB teardown against non-test/remote URIs (#211)
  backend/tests/conftest.py
  backend/tests/db_guard.py
  backend/tests/test_db_guard.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs(demo): #211 test-DB teardown guard — main-vs-branch differential
  docs/demos/2026-07-19-issue-211-test-db-teardown-guard.md
Due: none

docs(demo): redact fake credential in #211 demo (GitGuardian FP)
  docs/demos/2026-07-19-issue-211-test-db-teardown-guard.md
Due: none

docs: changelog entry for #211 (merged in #317)
  CLAUDE.md
Due: none

fix(tests): guard destructive test-DB teardown against non-test/remote URIs (#211) (#317)
  CLAUDE.md
  backend/tests/conftest.py
  backend/tests/db_guard.py
  backend/tests/test_db_guard.py
  docs/demos/2026-07-19-issue-211-test-db-teardown-guard.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs: fix stale docs — Clerk→better-auth, Beanie→motor/pymongo, wrong paths, Jest, coverage, export list (#212)
  AI_GUIDELINES.md
  README.md
  frontend/README.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: changelog entry for #212 (stale-docs fix)
  CLAUDE.md
Due: none

docs: fix stale docs — better-auth, motor/pymongo, paths, Jest, coverage, export list (#212) (#318)
  AI_GUIDELINES.md
  CLAUDE.md
  README.md
  frontend/README.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: add missing LICENSE (MIT) and CONTRIBUTING.md (#213)
  CONTRIBUTING.md
  LICENSE
Due: none

docs: add missing LICENSE (MIT) and CONTRIBUTING.md (#213) (#319)
  CONTRIBUTING.md
  LICENSE
Due: none

docs: mark #213 complete in changelog (merged in #319)
  CLAUDE.md
Due: none

refactor(backend): remove dead transcription + AI cache stacks; fix N+1 loops + list projection (#214)
  backend/.env.example
  backend/app/api/endpoints/transcription.py
  backend/app/core/config.py
  backend/app/db/book.py
  backend/app/db/questions.py
  backend/app/schemas/transcription.py
  backend/app/services/ai_cache_service.py
  backend/app/services/ai_errors.py
  backend/app/services/ai_service.py
  backend/app/services/transcription_service.py
  backend/app/services/transcription_service_aws.py
  backend/tests/test_api/test_transcription.py
  backend/tests/test_api/test_transcription_endpoint.py
  backend/tests/test_db/test_n1_and_projection.py
  backend/tests/test_services/test_ai_cache_service.py
  backend/tests/test_services/test_ai_errors.py
  backend/tests/test_services/test_ai_service_errors.py
  backend/tests/test_services/test_transcription_service.py
  backend/tests/test_services/test_transcription_service_aws.py
  backend/tests/test_services_isolated.py
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs(#214): main-vs-branch outcome demo + mark plan complete
  docs/demos/2026-07-19-issue-214-remove-dead-code-perf.md
  tasks/todo.md
Due: none

docs(#214): drop Redis/AI-cache from README + caching-doc banner + changelog
  CLAUDE.md
  README.md
  docs/ai-caching-and-error-handling.md
Due: none

chore(#214): remove redundant run_unit_tests.py (referenced deleted transcription tests)
  backend/run_unit_tests.py
Due: backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/
