Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/

test(frontend): migrate to jest 30, routing navigation through a mockable seam
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/dashboard/books/[bookId]/__tests__/page.errorRetry.test.tsx
  frontend/src/app/error.tsx
  frontend/src/components/chapters/questions/ChapterQuestions.tsx
  frontend/src/components/errors/ErrorNotification.tsx
  frontend/src/components/errors/__tests__/ErrorNotification.test.tsx
  frontend/src/components/settings/BillingSettingsForm.tsx
  frontend/src/components/settings/__tests__/BillingSettingsForm.test.tsx
  frontend/src/components/ui/refresh-button.tsx
  frontend/src/lib/navigation.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(frontend): migrate to jest 30, routing navigation through a mockable seam (#458)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/dashboard/books/[bookId]/__tests__/page.errorRetry.test.tsx
  frontend/src/app/error.tsx
  frontend/src/components/chapters/questions/ChapterQuestions.tsx
  frontend/src/components/errors/ErrorNotification.tsx
  frontend/src/components/errors/__tests__/ErrorNotification.test.tsx
  frontend/src/components/settings/BillingSettingsForm.tsx
  frontend/src/components/settings/__tests__/BillingSettingsForm.test.tsx
  frontend/src/components/ui/refresh-button.tsx
  frontend/src/lib/navigation.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(docker): add container build foundation for the deploy migration
  backend/.dockerignore
  backend/Dockerfile
  docker-compose.build.yml
  docker-compose.staging.yml
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/next.config.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

feat(docker): add container build foundation for the deploy migration (#459)
  backend/.dockerignore
  backend/Dockerfile
  docker-compose.build.yml
  docker-compose.staging.yml
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/next.config.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

ci(docker): build and publish container images to GHCR
  .github/workflows/build-images.yml
Due: none

ci(docker): build and publish container images to GHCR (#460)
  .github/workflows/build-images.yml
Due: none

fix(security): apply four transitive backend bumps to uv.lock, clearing 4 advisories
  backend/requirements.txt
  backend/uv.lock
  security-baseline.json
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): apply four transitive backend bumps to uv.lock, clearing 4 advisories (#461)
  backend/requirements.txt
  backend/uv.lock
  security-baseline.json
Due: backend-lint, backend-unit-tests, backend-coverage

feat(deps): migrate to Next.js 16
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(deps): migrate to Next.js 16 (#466)
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(config): commit the tsconfig Next 16 generates
  frontend/tsconfig.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(security): apply three more transitive backend bumps to uv.lock
  backend/requirements.txt
  backend/uv.lock
  security-baseline.json
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): apply three more transitive backend bumps to uv.lock (#471)
  backend/requirements.txt
  backend/uv.lock
  security-baseline.json
Due: backend-lint, backend-unit-tests, backend-coverage

fix(config): commit the tsconfig Next 16 generates (#470)
  frontend/tsconfig.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(security): upgrade starlette to 1.x, clearing six advisories
  backend/requirements.txt
  backend/uv.lock
  security-baseline.json
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): upgrade starlette to 1.x, clearing six advisories (#473)
  backend/requirements.txt
  backend/uv.lock
  security-baseline.json
Due: backend-lint, backend-unit-tests, backend-coverage

feat(deploy): author the container deploy workflow (disabled) and document cutover
  .github/workflows/deploy-staging-containers.yml.disabled
  docs/STAGING-DEPLOYMENT.md
Due: none

feat(deploy): author the container deploy workflow (disabled) and document cutover (#477)
  .github/workflows/deploy-staging-containers.yml.disabled
  docs/STAGING-DEPLOYMENT.md
Due: none

fix(security): apply flask and pygments to uv.lock
  backend/requirements.txt
  backend/uv.lock
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): apply flask and pygments to uv.lock (#478)
  backend/requirements.txt
  backend/uv.lock
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): apply werkzeug 3.1.3 -> 3.1.8 to uv.lock
  backend/requirements.txt
  backend/uv.lock
Due: backend-lint, backend-unit-tests, backend-coverage

fix(security): apply werkzeug 3.1.3 -> 3.1.8 to uv.lock (#480)
  backend/requirements.txt
  backend/uv.lock
Due: backend-lint, backend-unit-tests, backend-coverage

refactor(backend): use HTTP_422_UNPROCESSABLE_CONTENT
  backend/app/api/endpoints/books.py
  backend/app/main.py
  backend/app/utils/error_handlers.py
  backend/tests/test_error_handlers.py
Due: backend-lint, backend-unit-tests, backend-coverage

refactor(backend): use HTTP_422_UNPROCESSABLE_CONTENT (#482)
  backend/app/api/endpoints/books.py
  backend/app/main.py
  backend/app/utils/error_handlers.py
  backend/tests/test_error_handlers.py
Due: backend-lint, backend-unit-tests, backend-coverage

chore(deps): apply brotli 1.1.0 -> 1.2.0 to uv.lock
  backend/requirements.txt
  backend/uv.lock
Due: backend-lint, backend-unit-tests, backend-coverage

chore(deps): apply brotli 1.1.0 -> 1.2.0 to uv.lock (#483)
  backend/requirements.txt
  backend/uv.lock
Due: backend-lint, backend-unit-tests, backend-coverage

fix(docker): pass the whole host env file through to both services
  docker-compose.yml
Due: none

feat(deploy): cut staging over to the container deploy
  .github/workflows/deploy-staging-containers.yml
  .github/workflows/deploy-staging.yml.disabled
Due: none

feat(deploy): cut staging over to the container deploy (#484)
  .github/workflows/deploy-staging-containers.yml
  .github/workflows/deploy-staging.yml.disabled
  docker-compose.yml
Due: none

fix(deploy): route the staging deploy over Tailscale
  .github/workflows/deploy-staging-containers.yml
Due: none

fix(deploy): route the staging deploy over Tailscale (#485)
  .github/workflows/deploy-staging-containers.yml
Due: none

fix(deploy): use a Tailscale OAuth client, matching the other repos
  .github/workflows/deploy-staging-containers.yml
Due: none

fix(deploy): use a Tailscale OAuth client, matching the other repos (#489)
  .github/workflows/deploy-staging-containers.yml
Due: none

fix(deploy): request the OAuth client's full tag set, not a subset
  .github/workflows/deploy-staging-containers.yml
Due: none

fix(deploy): request the OAuth client's full tag set, not a subset (#490)
  .github/workflows/deploy-staging-containers.yml
Due: none

fix(books): show newest books first on the dashboard
  backend/app/db/book.py
  backend/tests/test_db/test_n1_and_projection.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(books): show newest books first on the dashboard (#491)
  backend/app/db/book.py
  backend/tests/test_db/test_n1_and_projection.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(e2e): fix three staging specs that were failing for non-product reasons
  frontend/tests/e2e/staging/edge-cases.spec.ts
  frontend/tests/e2e/staging/fixtures/journey.helpers.ts
  frontend/tests/e2e/staging/regressions.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(e2e): fix three staging specs that were failing for non-product reasons (#494)
  frontend/tests/e2e/staging/edge-cases.spec.ts
  frontend/tests/e2e/staging/fixtures/journey.helpers.ts
  frontend/tests/e2e/staging/regressions.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(toc): reject TOC payloads missing the wrapper instead of saving an empty TOC
  backend/app/api/endpoints/books.py
  backend/tests/test_api/test_routes/test_books_toc_coverage.py
Due: backend-lint, backend-unit-tests, backend-coverage
