Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/

feat: Implement AI service error handling and caching (#67)
  README.md
  backend/.env.example
  backend/app/api/endpoints/books.py
  backend/app/core/config.py
  backend/app/services/ai_cache_service.py
  backend/app/services/ai_errors.py
  backend/app/services/ai_service.py
  backend/requirements.in
  backend/tests/test_api/test_ai_error_responses.py
  backend/tests/test_services/test_ai_cache_service.py
  backend/tests/test_services/test_ai_errors.py
  backend/tests/test_services/test_ai_service.py
  backend/tests/test_services/test_ai_service_core.py
  backend/tests/test_services/test_ai_service_errors.py
  docs/ai-caching-and-error-handling.md
  frontend/docs/AI_ERROR_HANDLING.md
  frontend/docs/AI_ERROR_HANDLING_IMPLEMENTATION_SUMMARY.md
  frontend/src/components/errors/ErrorNotification.tsx
  frontend/src/components/examples/ai-error-handling-example.tsx
  frontend/src/lib/api/__tests__/aiErrorHandler.test.ts
  frontend/src/lib/api/aiErrorHandler.ts
  frontend/src/lib/api/bookClient.ts
  frontend/src/lib/errors/types.ts
  frontend/tests/e2e/ai-error-handling.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

feat: Complete chapter questions database integration and data persistence
  backend/app/api/endpoints/books.py
  backend/app/db/database.py
  backend/app/db/questions.py
  backend/app/main.py
  backend/app/schemas/errors.py
  backend/app/services/question_generation_service.py
  backend/app/utils/error_handlers.py
  backend/scripts/verify_question_indexes.py
  backend/tests/test_api/test_questions_integration.py
  backend/tests/test_batch_question_responses.py
  backend/tests/test_error_handlers.py
  backend/tests/test_question_indexes.py
  backend/tests/test_question_verification.py
  backend/tests/test_questions_batch.py
  docs/ERROR_HANDLING_ENHANCEMENT.md
  docs/TRANSACTION_SAFETY_IMPLEMENTATION.md
  docs/batch-response-save-implementation.md
  docs/database-indexes.md
  docs/error-handling-enhancement-summary.md
  docs/error-handling-ui-states.md
  frontend/src/__tests__/QuestionResponseVerification.test.tsx
  frontend/src/components/chapters/questions/QuestionContainer.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionDisplay.enhanced.test.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/hooks/__tests__/useOnlineStatus.test.ts
  frontend/src/hooks/useOnlineStatus.ts
  frontend/src/lib/api/bookClient.ts
  frontend/src/lib/utils/__tests__/retryQueue.test.ts
  frontend/src/lib/utils/retryQueue.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix: Complete chapter questions feature
  backend/.coverage
  backend/app/api/endpoints/books.py
  backend/app/core/config.py
  backend/app/db/book.py
  backend/app/db/questions.py
  backend/app/models/book.py
  backend/app/models/chapter_access.py
  backend/app/models/session.py
  backend/app/models/user.py
  backend/app/schemas/book.py
  backend/app/schemas/errors.py
  backend/app/schemas/user.py
  backend/app/utils/error_handlers.py
  backend/tests/conftest.py
  backend/tests/test_api/test_questions_integration.py
  backend/tests/test_question_indexes.py
  backend/tests/test_questions_batch.py
  frontend/playwright-report/data/14623b3b308ef620f0f77f6fa809209bc9ecb08b.webm
  frontend/playwright-report/data/4ceac6a3d80658537b0d86f91b8595b3cb5854a1.png
  frontend/playwright-report/data/4eb563bae1db5f323534e2cf5b80a5dc704a730c.webm
  frontend/playwright-report/data/683f044bc03be5abeb061e18ca2a6684d3ea4b63.webm
  frontend/playwright-report/data/7a33d5db6370b6de345e990751aa1f1da65ad675.png
  frontend/playwright-report/data/7a51a8e9193ca7422f44a7ea988c9a45874b2968.webm
  frontend/playwright-report/data/8238198ce411ce076077f26c5e7e5cbddeca294f.png
  frontend/playwright-report/data/8afcd9f6b6b94ed19162c2cd3d0f8962025aae0d.png
  frontend/playwright-report/data/b78eefb167a39b352e424585efd1aaa6ef8c8e50.webm
  frontend/playwright-report/data/c7e6d3810e3ef7e73448d8e89aae502e8fcb9e97.md
  frontend/playwright-report/index.html
  frontend/src/__tests__/QuestionResponseVerification.test.tsx
  frontend/src/__tests__/TabStatePersistence.test.tsx
  frontend/src/components/chapters/VoiceTextInput.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionDisplay.enhanced.test.tsx
  frontend/src/hooks/useOnlineStatus.ts
  frontend/test-results/.last-run.json
  frontend/test-results/results.json
  frontend/test-results/results.xml
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix: Remove unused exception variable and fix Map import shadowing
  .gitignore
  backend/app/api/endpoints/books.py
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

feat: Complete chapter question workflow with draft generation
  frontend/src/__tests__/DraftGenerationButton.test.tsx
  frontend/src/components/chapters/questions/ChapterQuestions.tsx
  frontend/src/components/chapters/questions/DraftGenerationButton.tsx
  frontend/src/components/chapters/questions/QuestionContainer.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: Add ARIA attributes for tabs accessibility
  frontend/src/components/ui/tabs.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: Use paginated fetch for getChapterQAResponses
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

Complete chapter question workflow integration (#70)
  frontend/src/__tests__/DraftGenerationButton.test.tsx
  frontend/src/components/chapters/questions/ChapterQuestions.tsx
  frontend/src/components/chapters/questions/DraftGenerationButton.tsx
  frontend/src/components/chapters/questions/QuestionContainer.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: Add comprehensive frontend test fix plan
  docs/FRONTEND_TEST_FIX_PLAN.md
Due: none

docs: Add comprehensive frontend test fix plan (#71)
  docs/FRONTEND_TEST_FIX_PLAN.md
Due: none

fix: Add WCAG 2.1 compliant touch targets to all interactive buttons
  frontend/src/components/chapters/VoiceTextInput.tsx
  frontend/src/components/chapters/questions/DraftGenerationButton.tsx
  frontend/src/components/chapters/questions/QuestionContainer.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: Correct mock client in draft generation test
  frontend/src/__tests__/ChapterQuestionsEndToEnd.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

Fix mobile touch target accessibility test (#72)
  frontend/src/__tests__/ChapterQuestionsEndToEnd.test.tsx
  frontend/src/components/chapters/VoiceTextInput.tsx
  frontend/src/components/chapters/questions/DraftGenerationButton.tsx
  frontend/src/components/chapters/questions/QuestionContainer.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

chore: delete test artifacts
  frontend/test-results/.last-run.json
  frontend/test-results/results.json
  frontend/test-results/results.xml
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: address multiple test fixes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/components/BookCreationWizard.tsx
  frontend/src/components/chapters/questions/QuestionNavigation.tsx
  frontend/src/components/examples/ai-error-handling-example.tsx
  frontend/src/components/recovery/DataRecoveryModal.tsx
  frontend/src/components/toc/TocSidebar.tsx
  frontend/src/components/ui/ChapterStatusIndicator.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/textarea.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat: Update changes in Nova Design
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/ui/dropdown-menu.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

chore: remote testing report
  frontend/playwright-report/index.html
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

chore: fixing git pre-commit check file to avoid large file error
  frontend/package-lock.json
  frontend/package.json
  scripts/check-secrets.sh
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: restore package-lock.json to fix CI npm installation
  .gitignore
  frontend/package-lock.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

Fix check-secrets.sh to use actual byte size instead of line count
  frontend/src/__tests__/TabOverflowScroll.test.tsx
  frontend/src/components/BookCard.tsx
  frontend/src/components/loading/LoadingStateManager.tsx
  scripts/check-secrets.sh
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: linting errors
  frontend/src/__tests__/TabOverflowScroll.test.tsx
  frontend/src/components/BookCard.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: Update staging deployment for better-auth migration
  .github/workflows/deploy-staging.yml
  .pre-commit-config.yaml
  ecosystem.config.template.js
Due: none

fix: Correct MongoDB environment variable name in PM2 config
  ecosystem.config.template.js
Due: none

fix: Skip uv download if already installed
  .github/workflows/deploy-staging.yml
Due: none

fix: Use symlink paths in PM2 config instead of release-specific paths
  .github/workflows/deploy-staging.yml
Due: none

fix: Remove redundant DATABASE_URI from PM2 env config
  .github/workflows/deploy-staging.yml
  ecosystem.config.template.js
Due: none

refactor: Standardize to single DATABASE_URL variable across application
  .github/DEPLOYMENT.md
  .github/workflows/deploy-staging.yml
  backend/.coverage
  backend/.env.example
  backend/app/core/config.py
  backend/app/db/base.py
  backend/app/populate_db_test_data.py
  backend/archived_tests/test_services_summary.py
  backend/run_unit_tests.py
  backend/test_services_summary.py
  backend/tests/test_api/run_test_api.py
  docs/CI_CD_RECOVERY_PLAN.md
  docs/CI_CD_RECOVERY_QUICKSTART.md
  docs/MANUAL_DEPLOYMENT_QUICKSTART.md
  docs/STAGING_DEPLOYMENT_ANALYSIS.md
  docs/analysis/architecture-review.md
  docs/analysis/backend-api-review.md
  docs/analysis/database-review.md
  docs/analysis/security-audit.md
  docs/better-auth-migration-guide.md
  docs/deployment-architecture.md
  docs/deployment-pipeline-architecture.md
  docs/fixes/2025-10-24-cors-error-fix.md
  docs/production-readiness-gaps.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix: Add DATABASE_URL and auth variables to PM2 frontend config
  .github/workflows/deploy-staging.yml
  ecosystem.config.template.js
Due: none

fix: Check for __Secure- cookie prefix in middleware
  frontend/src/middleware.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: Auto-create backend users and add token provider to dashboard
  backend/app/core/security.py
  frontend/src/app/dashboard/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

test: Update TestGetCurrentUser for auto-creation behavior
  backend/tests/test_core/test_security.py
Due: backend-lint, backend-unit-tests, backend-coverage

feat: Migrate backend authentication to cookie-based sessions
  CLAUDE.md
  backend/app/api/dependencies.py
  backend/app/api/endpoints/book_cover_upload.py
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/export.py
  backend/app/api/endpoints/sessions.py
  backend/app/api/endpoints/transcription.py
  backend/app/api/endpoints/users.py
  backend/app/core/better_auth_session.py
  backend/app/core/security.py
  backend/tests/conftest.py
  backend/tests/test_api/test_ai_error_responses.py
  backend/tests/test_api/test_routes/run_test_authenticated_endpoints.py
  backend/tests/test_api/test_routes/test_error_handling.py
  backend/tests/test_core/test_security.py
  backend/tests/test_services/simple_endpoint_test.py
  docs/better-auth-migration-guide.md
  frontend/src/__tests__/useAuthFetch.test.tsx
  frontend/src/hooks/useAuthFetch.ts
  frontend/src/lib/api/bookClient.ts
  frontend/src/lib/auth-helpers.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

test: Fix 6 failing tests for cookie-based authentication
  backend/tests/conftest.py
  backend/tests/test_api/test_dependencies.py
  backend/tests/test_api/test_routes/test_users.py
Due: backend-lint, backend-unit-tests, backend-coverage

refactor: Reuse shared MongoDB client in better_auth_session
  backend/app/core/better_auth_session.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix: Make audit_request resilient to request=None
  backend/app/api/dependencies.py
Due: backend-lint, backend-unit-tests, backend-coverage

chore: Remove unused JWT token fixtures from conftest.py
  backend/tests/conftest.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix: Use timezone.utc directly instead of datetime.timezone.utc
  backend/app/api/endpoints/users.py
Due: backend-lint, backend-unit-tests, backend-coverage
