Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

frontend-lint:
  name: Frontend Linting
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Checking
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-unit-tests:
  name: Frontend Unit Tests
  entry: bash -c 'cd frontend && npm test -- --passWithNoTests --watchAll=false'
  language: system
  pass_filenames: false

frontend-coverage:
  name: Frontend Coverage Check (≥85%)
  entry: bash -c 'cd frontend && npm test -- --coverage --coverageThreshold="{\"global\":{\"lines\":85,\"statements\":85,\"branches\":75,\"functions\":85}}" --watchAll=false'
  language: system
  pass_filenames: false

frontend-e2e-tests:
  name: Frontend E2E Tests (Playwright)
  entry: bash -c 'cd frontend && BYPASS_AUTH=true npx playwright test'
  language: system
  pass_filenames: false

backend-lint:
  name: Backend Linting (ruff)
  entry: bash -c 'cd backend && uv run ruff check app/ tests/ || true'
  language: system
  pass_filenames: false

backend-unit-tests:
  name: Backend Unit Tests
  entry: bash -c 'cd backend && uv run pytest tests/'
  language: system
  pass_filenames: false
  require_serial: true

backend-coverage:
  name: Backend Coverage Check (≥85%)
  entry: bash -c 'cd backend && uv run pytest tests/ --cov=app --cov-fail-under=85'
  language: system
  pass_filenames: false
  require_serial: true

Add GLM inline review workflow (frankbria/glm-review)
  .github/workflows/glm-review.yml
Due: none

chore(deps): add dependabot config with cooldown stepdown policy
  .github/dependabot.yml
Due: none

chore(deps): add dependabot config with cooldown stepdown policy (#250)
  .github/dependabot.yml
Due: none

fix(ai): retry OpenAI calls at exactly one layer (#188)
  backend/app/services/ai_service.py
  backend/tests/test_services/test_ai_service_core.py
  backend/tests/test_services/test_ai_service_errors.py
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs(tests): note which #188 tests guard against re-wrap vs pin the AC
  backend/tests/test_services/test_ai_service_errors.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(ai): disable openai SDK internal retries — app layer is sole retry owner (#188)
  backend/app/services/ai_service.py
  backend/tests/test_services/test_ai_service_errors.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs(demo): issue #188 single-retry-layer wire evidence
  docs/demos/2026-07-09-issue-188-single-retry-layer.md
Due: none

docs: changelog entry for #188 single retry layer
  CLAUDE.md
Due: none

fix(ai): retry OpenAI calls at exactly one layer (#188) (#251)
  CLAUDE.md
  backend/app/services/ai_service.py
  backend/tests/test_services/test_ai_service_core.py
  backend/tests/test_services/test_ai_service_errors.py
  docs/demos/2026-07-09-issue-188-single-retry-layer.md
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(deps): drop unsupported semver-* cooldown keys from github-actions ecosystem
  .github/dependabot.yml
Due: none

fix(deps): drop unsupported semver-* cooldown keys from github-actions ecosystem (#252)
  .github/dependabot.yml
Due: none

test: enumerate served routes via app.openapi(), not app.routes
  backend/tests/test_api/test_routes/test_chapters_characterization.py
Due: backend-lint, backend-unit-tests, backend-coverage

test: enumerate served routes via app.openapi(), not app.routes (#263)
  backend/tests/test_api/test_routes/test_chapters_characterization.py
Due: backend-lint, backend-unit-tests, backend-coverage

chore(deps): actually bump pydantic to 2.13.4 in pyproject + uv.lock
  backend/pyproject.toml
  backend/uv.lock
Due: backend-lint, backend-unit-tests, backend-coverage

chore(deps): actually bump pydantic to 2.13.4 in pyproject + uv.lock (#264)
  backend/pyproject.toml
  backend/uv.lock
Due: backend-lint, backend-unit-tests, backend-coverage

ci: pin glm-review reusable workflow to immutable commit SHA
  .github/workflows/glm-review.yml
Due: none

Add GLM inline review workflow (#249)
  .github/workflows/glm-review.yml
Due: none

fix(security): make role (and all undeclared fields) unwritable via user update API (#244)
  backend/app/api/endpoints/users.py
  backend/app/schemas/user.py
  backend/tests/test_api/test_routes/test_users_coverage.py
  docs/api-profile-endpoints.md
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

test(security): pin extra=forbid happy path + fail-fast seed check (#244)
  backend/tests/test_api/test_routes/test_users_coverage.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: add issue #244 role self-elevation demo (main reproduces, branch closes)
  docs/demos/2026-07-10-issue-244-role-self-elevation.md
Due: none

fix(security): PATCH /users/me can no longer self-elevate role — privileged fields unwritable via API (#244) (#266)
  backend/app/api/endpoints/users.py
  backend/app/schemas/user.py
  backend/tests/test_api/test_routes/test_users_coverage.py
  docs/api-profile-endpoints.md
  docs/demos/2026-07-10-issue-244-role-self-elevation.md
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs: changelog entry for #244 role self-elevation fix
  CLAUDE.md
Due: none

docs: changelog entry for #244 role self-elevation fix (#267)
  CLAUDE.md
Due: none

fix(security): bind backend/frontend to 127.0.0.1 behind nginx on shared VPS (#189)
  .github/workflows/deploy-production.yml.disabled
  docs/STAGING-DEPLOYMENT.md
  ecosystem.config.template.js
  scripts/deploy-fixed.sh
  scripts/deploy.sh
Due: none

fix(security): frontend bind + doc examples also loopback (#189, review round 1)
  .github/workflows/deploy-production.yml.disabled
  docs/STAGING-DEPLOYMENT.md
  scripts/deploy-fixed.sh
  scripts/deploy.sh
  tasks/todo.md
Due: none

docs: demo evidence for #189 loopback binding (live staging before/after)
  docs/demos/2026-07-10-issue-189-loopback-bind.md
Due: none

chore: legacy deploy health checks curl 127.0.0.1 explicitly (#189 post-PR minor)
  scripts/deploy-fixed.sh
  scripts/deploy.sh
Due: none

docs: changelog entry + plan close-out for #189
  CLAUDE.md
  tasks/todo.md
Due: none

fix(security): bind app processes to 127.0.0.1 behind nginx on shared VPS (#189) (#268)
  .github/workflows/deploy-production.yml.disabled
  CLAUDE.md
  docs/STAGING-DEPLOYMENT.md
  docs/demos/2026-07-10-issue-189-loopback-bind.md
  ecosystem.config.template.js
  scripts/deploy-fixed.sh
  scripts/deploy.sh
  tasks/todo.md
Due: none

fix(ci): restrict label-gated staging E2E job to same-repo PR heads (#191)
  .github/workflows/e2e-staging-tests.yml
  tasks/todo.md
Due: none

docs: demo evidence for #191 same-repo staging E2E guard
  docs/demos/2026-07-10-issue-191-staging-pwn-request.md
Due: none

docs: changelog + plan sync for #191 staging pwn-request fix
  CLAUDE.md
  tasks/todo.md
Due: none

fix(ci): block fork PRs from the label-gated staging E2E job (#191) (#269)
  .github/workflows/e2e-staging-tests.yml
  CLAUDE.md
  docs/demos/2026-07-10-issue-191-staging-pwn-request.md
  tasks/todo.md
Due: none

fix(security): production auth-bypass guard no longer exempted by generic CI env var (#192)
  frontend/playwright.config.ts
  frontend/src/__tests__/middleware.test.ts
  frontend/src/middleware.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: demo evidence for #192 bypass-guard fix (showboat verify green)
  docs/demos/2026-07-10-issue-192-bypass-guard-ci-hole.md
  tasks/todo.md
Due: none

docs: changelog entry for #192 bypass-guard fix
  CLAUDE.md
Due: none

fix(security): production auth-bypass guard no longer exempted by generic CI env var (#192) (#271)
  CLAUDE.md
  docs/demos/2026-07-10-issue-192-bypass-guard-ci-hole.md
  frontend/playwright.config.ts
  frontend/src/__tests__/middleware.test.ts
  frontend/src/middleware.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(security): nonce-based CSP — drop unsafe-inline/unsafe-eval and dead Clerk origins (#190)
  frontend/next.config.ts
  frontend/src/__tests__/middleware.test.ts
  frontend/src/app/layout.tsx
  frontend/src/lib/__tests__/csp.test.ts
  frontend/src/lib/csp.ts
  frontend/src/middleware.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: demo for #190 nonce-based CSP (showboat verify green)
  docs/demos/2026-07-10-issue-190-nonce-csp.md
  docs/demos/68f3c4e6-2026-07-11.png
  docs/demos/bf7f6de6-2026-07-11.png
  tasks/todo.md
Due: none

docs: CLAUDE.md changelog entry for #190 nonce-based CSP
  CLAUDE.md
Due: none

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/
