Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/

docs: record #110 Interview Questions / Chapter Editor tabs in Recent Changes
  CLAUDE.md
Due: none

refactor(api): extract chapter endpoints from books.py into chapters.py (#94)
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/chapters.py
  backend/app/api/endpoints/router.py
  backend/tests/test_api/test_routes/test_chapters_characterization.py
  plans/010-books-decomposition-map.md
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

test(api): harden chapters route-order characterization test (#94)
  backend/tests/test_api/test_routes/test_chapters_characterization.py
Due: backend-lint, backend-unit-tests, backend-coverage

refactor(api): extract chapter endpoints from books.py into chapters.py (#94) (#157)
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/chapters.py
  backend/app/api/endpoints/router.py
  backend/tests/test_api/test_routes/test_chapters_characterization.py
  plans/010-books-decomposition-map.md
  tasks/todo.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs: record #94 books.py chapters extraction in Recent Changes
  CLAUDE.md
Due: none

docs: record #94 books.py chapters extraction in Recent Changes (#160)
  CLAUDE.md
Due: none

feat(export): add Markdown export format (#61)
  backend/app/api/endpoints/export.py
  backend/app/services/export_service.py
  backend/tests/test_api/test_export_endpoints.py
  backend/tests/test_services/test_export_service.py
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/components/export/ExportOptionsModal.test.tsx
  frontend/src/components/export/ExportOptionsModal.tsx
  frontend/src/components/export/__tests__/exportHelpers.test.ts
  frontend/src/components/export/exportHelpers.ts
  frontend/src/lib/api/__tests__/bookClient.test.ts
  frontend/src/lib/api/bookClient.ts
  frontend/src/types/export.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs: record #61 Markdown export in Recent Changes
  CLAUDE.md
Due: none

test(e2e): fit export dialog footer after adding Markdown format card (#61)
  frontend/src/e2e/export-templates.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(export): keep chapter-content headings below the chapter heading (#61)
  backend/app/api/endpoints/export.py
  backend/app/services/export_service.py
  backend/tests/test_services/test_export_service.py
Due: backend-lint, backend-unit-tests, backend-coverage

feat(export): Markdown export format (#61) (#164)
  CLAUDE.md
  backend/app/api/endpoints/export.py
  backend/app/services/export_service.py
  backend/tests/test_api/test_export_endpoints.py
  backend/tests/test_services/test_export_service.py
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/components/export/ExportOptionsModal.test.tsx
  frontend/src/components/export/ExportOptionsModal.tsx
  frontend/src/components/export/__tests__/exportHelpers.test.ts
  frontend/src/components/export/exportHelpers.ts
  frontend/src/e2e/export-templates.spec.ts
  frontend/src/lib/api/__tests__/bookClient.test.ts
  frontend/src/lib/api/bookClient.ts
  frontend/src/types/export.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(chapters): version-guard bulk-status + structured read-handler errors (#159)
  backend/app/api/endpoints/chapters.py
  backend/app/db/toc_transactions.py
  backend/tests/test_api/test_routes/test_chapters_error_handling.py
  backend/tests/test_db/test_toc_transactions.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(chapters): address CodeRabbit review on #159
  backend/app/api/endpoints/chapters.py
  backend/app/db/toc_transactions.py
  backend/tests/test_api/test_routes/test_chapters_error_handling.py
  backend/tests/test_db/test_toc_transactions.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs: record #159 chapters.py concurrency/error-handling fix in Recent Changes
  CLAUDE.md
Due: none

fix(chapters): version-guard bulk-status + structured read-handler errors (#159) (#165)
  CLAUDE.md
  backend/app/api/endpoints/chapters.py
  backend/app/db/toc_transactions.py
  backend/tests/test_api/test_routes/test_chapters_error_handling.py
  backend/tests/test_db/test_toc_transactions.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(ci): harden deploy-staging.yml test gate + SSH preflight (#163)
  .github/workflows/deploy-staging.yml
Due: none

fix(ci): harden deploy-staging.yml test gate + SSH preflight (#163) (#166)
  .github/workflows/deploy-staging.yml
Due: none

fix(ci): stop staging deploy tripping fail2ban; drop SSH preauth burst (#162)
  .github/workflows/deploy-staging.yml
Due: none

fix(ci): stop staging deploy tripping fail2ban; drop SSH preauth burst (#162) (#167)
  .github/workflows/deploy-staging.yml
Due: none

fix(ci): staging deploy — install devDeps for build + fix CORS env format (#162)
  .github/workflows/deploy-staging.yml
Due: none

fix(ci): staging deploy — install devDeps for build + fix CORS env format (#162) (#168)
  .github/workflows/deploy-staging.yml
Due: none

feat(editor): wire Interview Questions / Chapter Editor tabs (#110)
  CLAUDE.md
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.questionsToggle.test.tsx
  frontend/src/e2e/chapter-questions-tabs.spec.ts
  frontend/src/e2e/complete-authoring-journey.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(questions): single-question regeneration + improved regeneration quality (#62)
  backend/app/api/endpoints/books.py
  backend/app/core/config.py
  backend/app/db/database.py
  backend/app/db/questions.py
  backend/app/schemas/book.py
  backend/app/services/question_generation_service.py
  backend/tests/test_api/test_question_regeneration.py
  backend/tests/test_services/test_question_generation_service.py
  frontend/src/components/chapters/questions/QuestionContainer.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/chapters/questions/RegenerateQuestionsDialog.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionContainer.test.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionDisplay.test.tsx
  frontend/src/components/chapters/questions/__tests__/RegenerateQuestionsDialog.test.tsx
  frontend/src/e2e/question-regeneration.spec.ts
  frontend/src/lib/api/__tests__/bookClient.test.ts
  frontend/src/lib/api/bookClient.ts
  frontend/src/types/chapter-questions.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(questions): address codex + CodeRabbit review of #62 regeneration
  CLAUDE.md
  backend/app/db/database.py
  backend/app/db/questions.py
  backend/app/services/question_generation_service.py
  backend/tests/test_api/test_question_regeneration.py
  backend/tests/test_services/test_question_generation_service.py
  frontend/src/components/chapters/questions/QuestionContainer.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionContainer.test.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionDisplay.test.tsx
  frontend/src/lib/api/__tests__/bookClient.test.ts
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs(questions): mark accepted save-vs-regenerate race in replace_question_in_place
  backend/app/db/questions.py
Due: backend-lint, backend-unit-tests, backend-coverage

[P3.4] Question regeneration with improved quality (#62) (#169)
  CLAUDE.md
  backend/app/api/endpoints/books.py
  backend/app/core/config.py
  backend/app/db/database.py
  backend/app/db/questions.py
  backend/app/schemas/book.py
  backend/app/services/question_generation_service.py
  backend/tests/test_api/test_question_regeneration.py
  backend/tests/test_services/test_question_generation_service.py
  frontend/src/components/chapters/questions/QuestionContainer.tsx
  frontend/src/components/chapters/questions/QuestionDisplay.tsx
  frontend/src/components/chapters/questions/RegenerateQuestionsDialog.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionContainer.test.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionDisplay.test.tsx
  frontend/src/components/chapters/questions/__tests__/RegenerateQuestionsDialog.test.tsx
  frontend/src/e2e/question-regeneration.spec.ts
  frontend/src/lib/api/__tests__/bookClient.test.ts
  frontend/src/lib/api/bookClient.ts
  frontend/src/types/chapter-questions.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

feat(profile): complete user profile editing (#63)
  AUTO_AUTHOR_USER_MANUAL.md
  backend/app/api/endpoints/export.py
  backend/app/api/endpoints/users.py
  backend/app/schemas/user.py
  backend/app/services/export_service.py
  backend/app/services/file_upload_service.py
  backend/tests/test_api/test_export_endpoints.py
  backend/tests/test_api/test_routes/test_profile_pictures.py
  backend/tests/test_api/test_routes/test_profile_updates.py
  backend/tests/test_services/test_file_upload_service.py
  frontend/jest.config.cjs
  frontend/src/app/profile/page.tsx
  frontend/src/components/profile/ProfilePictureUpload.test.tsx
  frontend/src/components/profile/ProfilePictureUpload.tsx
  frontend/src/components/ui/user-button.tsx
  frontend/src/e2e/profile-editing.spec.ts
  frontend/src/hooks/useProfileApi.test.tsx
  frontend/src/hooks/useProfileApi.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs(claude): record profile editing (#63, PR #170)
  CLAUDE.md
Due: none

fix(profile): address CodeRabbit review — display_name editing, public formState, hydration guard, template-aware PDF bio styles
  backend/app/services/export_service.py
  frontend/src/__tests__/ProfilePage.test.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/e2e/profile-editing.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(profile): seed display name from full name when unset (codex P2)
  frontend/src/app/profile/page.tsx
  frontend/src/e2e/profile-editing.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: correct avatar-processing description (aspect-preserving, not square) + record post-PR review round
  CLAUDE.md
  backend/app/services/file_upload_service.py
Due: backend-lint, backend-unit-tests, backend-coverage

feat(profile): complete user profile editing (#63)
  AUTO_AUTHOR_USER_MANUAL.md
  CLAUDE.md
  backend/app/api/endpoints/export.py
  backend/app/api/endpoints/users.py
  backend/app/schemas/user.py
  backend/app/services/export_service.py
  backend/app/services/file_upload_service.py
  backend/tests/test_api/test_export_endpoints.py
  backend/tests/test_api/test_routes/test_profile_pictures.py
  backend/tests/test_api/test_routes/test_profile_updates.py
  backend/tests/test_services/test_file_upload_service.py
  frontend/jest.config.cjs
  frontend/src/__tests__/ProfilePage.test.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/components/profile/ProfilePictureUpload.test.tsx
  frontend/src/components/profile/ProfilePictureUpload.tsx
  frontend/src/components/ui/user-button.tsx
  frontend/src/e2e/profile-editing.spec.ts
  frontend/src/hooks/useProfileApi.test.tsx
  frontend/src/hooks/useProfileApi.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

feat(settings): complete account settings with all configuration options (#64)
  AUTO_AUTHOR_USER_MANUAL.md
  CLAUDE.md
  backend/app/models/user.py
  backend/app/schemas/user.py
  backend/tests/test_api/test_routes/test_user_preferences.py
  docs/code-review/2026-07-02-account-settings-review.md
  frontend/jest.config.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__mocks__/better-auth-client-plugins.ts
  frontend/src/__mocks__/better-auth-react.ts
  frontend/src/__tests__/PreferenceDefaults.test.tsx
  frontend/src/__tests__/SettingsPageSave.test.tsx
  frontend/src/__tests__/VerifyTwoFactorPage.test.tsx
  frontend/src/app/auth/sign-in/page.tsx
  frontend/src/app/auth/verify-2fa/page.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/DraftGenerator.tsx
  frontend/src/components/chapters/questions/DraftGenerationButton.tsx
  frontend/src/components/export/ExportOptionsModal.tsx
  frontend/src/components/settings/ActiveSessionsList.tsx
  frontend/src/components/settings/ExportSettingsForm.tsx
  frontend/src/components/settings/NotificationSettingsForm.tsx
  frontend/src/components/settings/PasswordChangeForm.tsx
  frontend/src/components/settings/SecuritySettingsForm.tsx
  frontend/src/components/settings/TwoFactorSetup.tsx
  frontend/src/components/settings/WritingPreferencesForm.tsx
  frontend/src/components/settings/__tests__/SecuritySettings.test.tsx
  frontend/src/e2e/settings.spec.ts
  frontend/src/hooks/__tests__/useUserPreferences.test.tsx
  frontend/src/hooks/useProfileApi.ts
  frontend/src/hooks/useUserPreferences.ts
  frontend/src/jest.setup.ts
  frontend/src/lib/auth-client.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/constants/auto-save.ts
  frontend/src/lib/constants/writing-styles.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(settings): make theme switching real + stop loader clobbering edits (#64)
  CLAUDE.md
  frontend/src/__tests__/SettingsPageSave.test.tsx
  frontend/src/app/dashboard/layout.tsx
  frontend/src/app/dashboard/settings/page.tsx
  frontend/src/app/layout.tsx
  frontend/tailwind.config.js
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test: add staging edge coverage
  .github/workflows/e2e-staging-tests.yml
  backend/tests/load/staging_smoke.py
  frontend/tests/e2e/staging/edge-cases.spec.ts
  frontend/tests/e2e/staging/playwright.config.ts
  frontend/tests/e2e/staging/visual-smoke.spec.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

test: add staging edge coverage (#106)
  .github/workflows/e2e-staging-tests.yml
  backend/tests/load/staging_smoke.py
  frontend/tests/e2e/staging/edge-cases.spec.ts
  frontend/tests/e2e/staging/playwright.config.ts
  frontend/tests/e2e/staging/visual-smoke.spec.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

feat(ai): cap per-user AI generation with daily/monthly quota (#173)
  CLAUDE.md
  backend/app/api/dependencies.py
  backend/app/api/endpoints/books.py
  backend/app/core/config.py
  backend/app/db/database.py
  backend/app/db/usage.py
  backend/tests/conftest.py
  backend/tests/test_api/test_ai_usage_quota.py
  plans/173-ai-usage-quota.md
Due: backend-lint, backend-unit-tests, backend-coverage
