Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/

Update authentication from JWT to cookie-based (#76)
  CLAUDE.md
  backend/app/api/dependencies.py
  backend/app/api/endpoints/book_cover_upload.py
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/export.py
  backend/app/api/endpoints/sessions.py
  backend/app/api/endpoints/transcription.py
  backend/app/api/endpoints/users.py
  backend/app/core/better_auth_session.py
  backend/app/core/security.py
  backend/tests/conftest.py
  backend/tests/test_api/test_ai_error_responses.py
  backend/tests/test_api/test_dependencies.py
  backend/tests/test_api/test_routes/run_test_authenticated_endpoints.py
  backend/tests/test_api/test_routes/test_error_handling.py
  backend/tests/test_api/test_routes/test_users.py
  backend/tests/test_core/test_security.py
  backend/tests/test_services/simple_endpoint_test.py
  docs/better-auth-migration-guide.md
  frontend/src/__tests__/useAuthFetch.test.tsx
  frontend/src/hooks/useAuthFetch.ts
  frontend/src/lib/api/bookClient.ts
  frontend/src/lib/auth-helpers.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

feat: Add password reset functionality with forgot password flow
  frontend/__mocks__/@/lib/auth-client.ts
  frontend/src/__tests__/ForgotPassword.test.tsx
  frontend/src/__tests__/PasswordRequirements.test.tsx
  frontend/src/__tests__/ResetPassword.test.tsx
  frontend/src/app/auth/forgot-password/page.tsx
  frontend/src/app/auth/reset-password/page.tsx
  frontend/src/app/auth/sign-in/page.tsx
  frontend/src/app/auth/sign-up/page.tsx
  frontend/src/components/auth/PasswordRequirements.tsx
  frontend/src/jest.setup.ts
  frontend/src/lib/auth-client.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/email.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

refactor: Remove JWT authentication, use cookie-based session auth only
  backend/app/api/dependencies.py
  backend/app/core/security.py
  backend/tests/test_api/test_routes/run_test_authenticated_endpoints.py
  backend/tests/test_api/test_routes/test_email_verification.py
  backend/tests/test_api/test_routes/test_error_handling.py
  backend/tests/test_api/test_routes/test_password_change.py
  backend/tests/test_api/test_routes/test_profile_picture.py
  backend/tests/test_api/test_routes/test_profile_pictures.py
  backend/tests/test_core/test_security.py
Due: backend-lint, backend-unit-tests, backend-coverage

Update frontend/src/lib/email.ts
  frontend/src/lib/email.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

style: Add proper type extension for password reset methods
  frontend/src/lib/auth-client.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: Remove settings mock from audit_request tests
  backend/tests/test_api/test_dependencies.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix: Update password reset test mocks and queries
  frontend/src/__tests__/ForgotPassword.test.tsx
  frontend/src/__tests__/ResetPassword.test.tsx
  frontend/src/jest.setup.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: Update password reset test mocks and queries
  frontend/src/__mocks__/better-auth-react.ts
  frontend/src/__tests__/ForgotPassword.test.tsx
  frontend/src/__tests__/ResetPassword.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat: Add retry logic and timeout to email API calls
  frontend/src/lib/email.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

Add forgot password link and reset functionality (#77)
  backend/app/api/dependencies.py
  backend/app/core/security.py
  backend/tests/test_api/test_dependencies.py
  backend/tests/test_api/test_routes/run_test_authenticated_endpoints.py
  backend/tests/test_api/test_routes/test_email_verification.py
  backend/tests/test_api/test_routes/test_error_handling.py
  backend/tests/test_api/test_routes/test_password_change.py
  backend/tests/test_api/test_routes/test_profile_picture.py
  backend/tests/test_api/test_routes/test_profile_pictures.py
  backend/tests/test_core/test_security.py
  frontend/__mocks__/@/lib/auth-client.ts
  frontend/src/__mocks__/better-auth-react.ts
  frontend/src/__tests__/ForgotPassword.test.tsx
  frontend/src/__tests__/PasswordRequirements.test.tsx
  frontend/src/__tests__/ResetPassword.test.tsx
  frontend/src/app/auth/forgot-password/page.tsx
  frontend/src/app/auth/reset-password/page.tsx
  frontend/src/app/auth/sign-in/page.tsx
  frontend/src/app/auth/sign-up/page.tsx
  frontend/src/components/auth/PasswordRequirements.tsx
  frontend/src/jest.setup.ts
  frontend/src/lib/auth-client.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/email.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix: Enable cross-subdomain cookies for staging authentication
  .github/workflows/deploy-staging.yml
  frontend/src/lib/auth.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: Remove obsolete JWT token provider calls for cookie-based auth
  frontend/src/app/dashboard/books/[bookId]/edit-toc/page.tsx
  frontend/src/app/dashboard/books/[bookId]/export/page.tsx
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/toc/ClarifyingQuestions.tsx
  frontend/src/components/toc/TocGenerationWizard.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat: Implement Radix UI tabs for ChapterQuestions component
  frontend/src/__tests__/ChapterQuestionsTabs.test.tsx
  frontend/src/__tests__/KeyboardNavigation.test.tsx
  frontend/src/components/chapters/questions/ChapterQuestions.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/e2e/chapter-questions-tabs.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: Skip E2E tests that require MongoDB connection
  frontend/src/e2e/chapter-questions-tabs.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat: Enable E2E tests with real MongoDB Atlas connection
  backend/app/core/config.py
  backend/app/db/base.py
  frontend/src/e2e/chapter-questions-tabs.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix: Skip ChapterQuestions E2E tests in CI without infrastructure
  frontend/src/e2e/chapter-questions-tabs.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: Remove E2E test skip logic - tests run against live Atlas
  frontend/src/e2e/chapter-questions-tabs.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: Configure E2E tests with full infrastructure in CI
  .github/workflows/tests.yml
Due: none

fix: Add explicit failure handling for E2E server readiness loops
  .github/workflows/tests.yml
Due: none

fix: Add MONGODB_URI secret verification step in E2E CI workflow
  .github/workflows/tests.yml
Due: none

Implement Radix UI tabs in ChapterQuestions (#78)
  .github/workflows/tests.yml
  backend/app/core/config.py
  backend/app/db/base.py
  frontend/src/__tests__/ChapterQuestionsTabs.test.tsx
  frontend/src/__tests__/KeyboardNavigation.test.tsx
  frontend/src/components/chapters/questions/ChapterQuestions.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/e2e/chapter-questions-tabs.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix: Add staging environment to E2E tests job for secret access
  .github/workflows/tests.yml
Due: none

fix: Update error message to reference staging environment secrets
  .github/workflows/tests.yml
Due: none

Claude/implement radix tabs pfd7 r (#79)
  .github/workflows/tests.yml
Due: none

feat: Fix MongoDB Atlas SSL/TLS and configure E2E tests
  backend/.env.example
  backend/app/db/base.py
  backend/tests/test_mongodb_atlas_connection.py
  docs/DATABASE_CONNECTION_STANDARD.md
  docs/GITHUB_SECRETS_SETUP.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix: Update E2E workflow to use Python 3.13 for SSL/TLS compatibility
  .github/workflows/tests.yml
Due: none

fix: Use local MongoDB for E2E tests instead of Atlas
  .github/workflows/tests.yml
Due: none

fix: Conditionally enable TLS based on MongoDB connection type
  backend/app/db/base.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix: Remove duplicate frontend server startup in E2E workflow
  .github/workflows/tests.yml
  frontend/playwright.config.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: Allow BYPASS_AUTH in CI environments with production builds
  frontend/playwright.config.ts
  frontend/src/middleware.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade lucide-react from 0.555.0 to 0.556.0
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade lucide-react from 0.555.0 to 0.556.0 (#82)
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: Extract base token from Better-auth signed cookies for session lookup
  backend/app/core/better_auth_session.py
  docs/BETA_READINESS_ANALYSIS.md
  docs/BETA_TESTING_FINAL_SUMMARY.md
  docs/ISSUE_54_TEST_OPTIONS.md
  docs/STAGING_VERIFICATION_RESULTS.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix: Convert userId from ObjectId to string for book creation
  backend/app/core/security.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix: Handle ObjectId to string conversion in better-auth user lookup
  backend/app/core/better_auth_session.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix: Handle ObjectId to string conversion in better-auth user lookup
  frontend/package.json
  frontend/tests/e2e/staging/.env.test.example
  frontend/tests/e2e/staging/README.md
  frontend/tests/e2e/staging/complete-user-journey.spec.ts
  frontend/tests/e2e/staging/fixtures/auth.fixture.ts
  frontend/tests/e2e/staging/playwright.config.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: Use absolute path for .env.test in Playwright config
  frontend/tests/e2e/staging/playwright.config.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: Support dual credential sources for E2E tests
  frontend/tests/e2e/staging/fixtures/auth.fixture.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: Handle multiple Create Book buttons in E2E test
  frontend/tests/e2e/staging/complete-user-journey.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: Navigate to summary page explicitly in E2E test
  frontend/tests/e2e/staging/complete-user-journey.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests
