Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/

fix: upgrade @radix-ui/react-select from 2.2.5 to 2.2.6 (#24)
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(e2e): Update auth bypass to use NEXT_PUBLIC_BYPASS_AUTH
  frontend/tests/e2e/deployment/README_RUNNING_TESTS.md
  frontend/tests/e2e/fixtures/auth.fixture.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(e2e): Add custom questions E2E test + test running guide
  .beads/issues.jsonl
  frontend/tests/e2e/deployment/07-draft-custom-questions.spec.ts
  frontend/tests/e2e/deployment/README_RUNNING_TESTS.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(e2e): Implement auth bypass and improve book creation UX
  frontend/src/app/dashboard/new-book/page.tsx
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/tests/e2e/deployment/06-draft-writing-styles.spec.ts
  frontend/tests/e2e/page-objects/book-form.page.ts
  frontend/tests/e2e/page-objects/summary.page.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(e2e): Add BYPASS_AUTH support to auth fixture
  frontend/tests/e2e/fixtures/auth.fixture.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(e2e): Add comprehensive writing styles E2E test suite
  .beads/issues.jsonl
  docs/E2E_TEST_COVERAGE_GAP_ANALYSIS.md
  frontend/tests/e2e/deployment/06-draft-writing-styles.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: frontend/package.json to reduce vulnerabilities
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade @radix-ui/react-tooltip from 1.2.7 to 1.2.8
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade @types/node from 20.19.0 to 20.19.24
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade @radix-ui/react-dialog from 1.1.14 to 1.1.15
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade zod from 3.25.64 to 3.25.76 (#21)
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: frontend/package.json to reduce vulnerabilities (#25)
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade @radix-ui/react-tooltip from 1.2.7 to 1.2.8 (#26)
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade @types/node from 20.19.0 to 20.19.24 (#27)
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix: upgrade @radix-ui/react-dialog from 1.1.14 to 1.1.15 (#28)
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

chore(npm) Adjusting package versions to eliminate npm audit findings
  frontend/package-lock.json
  frontend/package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: update sprint & implementation plans; add stability roadmap fix(frontend): POST /books uses trailing slash for backend compatibility
  CURRENT_SPRINT.md
  IMPLEMENTATION_PLAN.md
  docs/STABILITY_ROADMAP.md
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(tests): update bookClient test to expect trailing slash in API URL
  .beads/issues.jsonl
  .gitignore
  backend/app/schemas/book.py
  frontend/src/__tests__/bookClient.test.tsx
  package.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(backend): resolve session service datetime and MongoDB issues
  .beads/issues.jsonl
  backend/app/db/session.py
  backend/app/models/session.py
Due: backend-lint, backend-unit-tests, backend-coverage

test: Add mocks to TOC integration tests and skipif decorators to E2E tests
  backend/tests/test_api/test_routes/test_toc_generation.py
  backend/tests/test_e2e_no_mocks.py
  backend/tests/test_system_e2e.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix: Resolve event loop closure issues in debug tests
  backend/tests/test_debug_chapter_questions.py
  backend/tests/test_debug_questions.py
Due: backend-lint, backend-unit-tests, backend-coverage

ci: Fix staging deployment workflow and add comprehensive documentation
  .github/workflows/deploy-staging.yml
Due: none

docs: Add comprehensive deployment configuration guide
  .github/DEPLOYMENT.md
Due: none

fix(ci): Add health check retries and increase startup wait time
  .github/workflows/deploy-staging.yml
Due: none

fix(deploy): Remove --production flag and clean .next cache to fix RSC errors
  .github/workflows/deploy-staging.yml
Due: none

fix(frontend): Resolve RSC error with Clerk button components
  frontend/src/app/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(middleware): Allow public access to root landing page
  frontend/src/middleware.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(deploy): Fix CORS health check in deployment workflow
  .github/workflows/deploy-staging.yml
Due: none

fix(ci): use pm2 delete+start instead of restart to pick up new releases
  .github/workflows/deploy-staging.yml
Due: none

fix(auth): auto-create users from Clerk on first login
  backend/app/core/security.py
Due: backend-lint, backend-unit-tests, backend-coverage

debug(webhooks): Add header logging to diagnose Clerk webhook 401 errors
  backend/app/api/endpoints/webhooks.py
  docs/fixes/2025-11-22-clerk-webhook-nginx-fix.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(webhooks): Use Header alias to correctly extract Svix headers
  backend/app/api/endpoints/webhooks.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(webhooks): Properly handle Svix signature verification with base64 encoding
  backend/app/api/endpoints/webhooks.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(api): Add trailing slash to books endpoint to prevent 307 redirect
  frontend/src/lib/api/bookClient.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

debug(auth): Add JWT expiration debug logging
  backend/app/core/security.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(deploy): Fix PM2 reliability issues with ecosystem configuration
  .github/workflows/deploy-staging.yml
  .gitignore
  ecosystem.config.template.js
Due: none

fix(jwt): Fix JWT debug logging to use correct python-jose API
  backend/app/core/security.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(deploy): Fix MONGODB_URI variable name mismatch in ecosystem config
  .github/workflows/deploy-staging.yml
  ecosystem.config.template.js
Due: none
