Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/

fix(ai): analysis and question flows refuse a truncated completion (#917)
  backend/app/services/ai_service.py
  backend/tests/test_services/test_ai_provider_config.py
  docs/CHANGELOG.md
  docs/STAGING-DEPLOYMENT.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(deps): patch next, sharp, source-map-js, werkzeug and pymongo advisories (#923)
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  security-baseline.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(deps): patch next, sharp, source-map-js, werkzeug and pymongo advisories (#923) (#924)
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  security-baseline.json
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

feat(ai): configurable AI provider, per-flow models and output caps (#917)
  .github/workflows/deploy-staging-containers.yml
  backend/.env.example
  backend/ENV_VAR_CHANGELOG.md
  backend/app/api/endpoints/router.py
  backend/app/core/config.py
  backend/app/services/ai_errors.py
  backend/app/services/ai_service.py
  backend/tests/fixtures/ai_provider_outputs/nemotron-3-nano-30b/analysis.txt
  backend/tests/fixtures/ai_provider_outputs/nemotron-3-nano-30b/chapter_questions.txt
  backend/tests/fixtures/ai_provider_outputs/nemotron-3-nano-30b/clarifying_questions.txt
  backend/tests/fixtures/ai_provider_outputs/nemotron-3-nano-30b/toc.txt
  backend/tests/test_main.py
  backend/tests/test_openai_key_resolution.py
  backend/tests/test_services/test_ai_provider_config.py
  backend/tests/test_services/test_ai_provider_fixtures.py
  docs/CHANGELOG.md
  docs/STAGING-DEPLOYMENT.md
  scripts/test_frontend_env_allowlist.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs(lessons): #917 configurable AI provider run
  tasks/lessons.md
Due: none

docs(lessons): #917 configurable AI provider run (#927)
  tasks/lessons.md
Due: none

feat(billing): collect billing address and tax IDs at checkout; Stripe Tax behind STRIPE_AUTOMATIC_TAX (#783)
  backend/.env.example
  backend/ENV_VAR_CHANGELOG.md
  backend/app/api/endpoints/billing.py
  backend/app/core/config.py
  backend/tests/test_api/test_billing_checkout_tax.py
  docs/CHANGELOG.md
  frontend/src/app/terms/__tests__/page.test.tsx
  frontend/src/app/terms/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs(staging): Stripe Tax rollout steps in the runbook (#783)
  docs/STAGING-DEPLOYMENT.md
Due: none

feat(billing): collect billing address and tax IDs at checkout; Stripe Tax behind STRIPE_AUTOMATIC_TAX (#783)
  backend/.env.example
  backend/ENV_VAR_CHANGELOG.md
  backend/app/api/endpoints/billing.py
  backend/app/core/config.py
  backend/tests/test_api/test_billing_checkout_tax.py
  docs/CHANGELOG.md
  docs/STAGING-DEPLOYMENT.md
  frontend/src/app/terms/__tests__/page.test.tsx
  frontend/src/app/terms/page.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs(claude): stop naming the exact ruff version in CLAUDE.md
  CLAUDE.md
Due: none

docs(claude): stop naming the exact ruff version in CLAUDE.md (#933)
  CLAUDE.md
Due: none

fix(users): erase a deleted account to a tombstone (#784)
  backend/app/api/endpoints/users.py
  backend/app/api/endpoints/webhooks.py
  backend/app/core/security.py
  backend/app/db/user.py
  backend/tests/test_api/test_routes/test_account_deletion.py
  backend/tests/test_api/test_routes/test_account_deletion_real_session.py
  backend/tests/test_api/test_routes/test_account_deletion_stripe.py
  backend/tests/test_api/test_stripe_webhook.py
  backend/tests/test_db/test_user.py
  docs/CHANGELOG.md
  docs/api-profile-endpoints.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(books): a racing create_book cannot add book_ids to a tombstone (#784)
  backend/app/db/book.py
  backend/tests/test_db/test_user.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs(lessons): #784 account-deletion tombstone run
  tasks/lessons.md
Due: none

docs(lessons): correct the #763 timing claim
  tasks/lessons.md
Due: none

fix(users): erase a deleted account to a tombstone (#784) (#934)
  backend/app/api/endpoints/users.py
  backend/app/api/endpoints/webhooks.py
  backend/app/core/security.py
  backend/app/db/book.py
  backend/app/db/user.py
  backend/tests/test_api/test_routes/test_account_deletion.py
  backend/tests/test_api/test_routes/test_account_deletion_real_session.py
  backend/tests/test_api/test_routes/test_account_deletion_stripe.py
  backend/tests/test_api/test_stripe_webhook.py
  backend/tests/test_db/test_user.py
  docs/CHANGELOG.md
  docs/api-profile-endpoints.md
  tasks/lessons.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(storage): delete uploaded files with their book or account (#785)
  backend/app/db/book.py
  backend/app/db/user.py
  backend/tests/test_api/test_routes/test_deletion_removes_uploads.py
  docs/CHANGELOG.md
  docs/api-profile-endpoints.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(storage): log a refused cloud delete and delete each cover file on its own (#785)
  backend/app/services/file_upload_service.py
  backend/tests/test_api/test_routes/test_deletion_removes_uploads.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(storage): delete uploaded files with their book or account (#785) (#937)
  backend/app/db/book.py
  backend/app/db/user.py
  backend/app/services/file_upload_service.py
  backend/tests/test_api/test_routes/test_deletion_removes_uploads.py
  docs/CHANGELOG.md
  docs/api-profile-endpoints.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs(lessons): reviewer side effects and a mutation-harness false survivor (#785)
  tasks/lessons.md
Due: none

docs(lessons): reviewer side effects and a mutation-harness false survivor (#785) (#939)
  tasks/lessons.md
Due: none

fix(export): keep _pdf_text out of the DOCX and Markdown builders (#752)
  backend/app/services/export_service.py
  backend/tests/test_services/test_export_service.py
  backend/tests/test_system_e2e.py
  backend/tests/test_system_e2e_simplified.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs(export): say what the reportlab lock covers and what it does not (#752)
  backend/app/services/export_service.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

fix(export): escape user text before ReportLab Paragraph (#752) (#865)
  backend/app/services/export_service.py
  backend/tests/test_services/test_export_service.py
  docs/CHANGELOG.md
Due: backend-lint, backend-unit-tests, backend-coverage

docs(compose): say which IMAGE_TAG values the staging overlay accepts (#779)
  docker-compose.staging.yml
Due: none

fix(deploy): the production deploy summary never echoes a rejected tag (#782)
  .github/workflows/deploy-production-containers.yml
  scripts/test_deploy_production_workflow.py
Due: none

fix(deploy): production's frontend secret check also catches AI_API_KEY (#782)
  .github/workflows/deploy-production-containers.yml
  scripts/test_deploy_production_workflow.py
Due: none

docs(lessons): vacuous hardening test and a bot's extra commit (#752)
  tasks/lessons.md
Due: none

docs(lessons): vacuous hardening test and a bot's extra commit (#752) (#940)
  tasks/lessons.md
Due: none

fix(ci): build the frontend for staging only until production exists (#779)
  .github/workflows/build-images.yml
  docs/CHANGELOG.md
  docs/STAGING-DEPLOYMENT.md
  scripts/test_frontend_image_per_environment.py
  tasks/lessons.md
Due: none

fix(ci): build one frontend image per environment, no staging fallbacks (#779) (#899)
  .github/workflows/build-images.yml
  .github/workflows/deploy-staging-containers.yml
  docker-compose.build.yml
  docker-compose.staging.yml
  docs/CHANGELOG.md
  docs/STAGING-DEPLOYMENT.md
  frontend/Dockerfile
  scripts/test_frontend_image_per_environment.py
  tasks/lessons.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(storage): image URLs are server-written and deletes are owner-scoped (#797)
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/users.py
  backend/app/db/book.py
  backend/app/db/user.py
  backend/app/schemas/book.py
  backend/app/schemas/user.py
  backend/app/services/cloud_storage_service.py
  backend/app/services/file_upload_service.py
  backend/tests/test_api/test_book_cover_upload.py
  backend/tests/test_api/test_rate_limit_routes.py
  backend/tests/test_api/test_routes/test_account_deletion_real_session.py
  backend/tests/test_api/test_routes/test_books_crud_coverage.py
  backend/tests/test_api/test_routes/test_deletion_removes_uploads.py
  backend/tests/test_api/test_routes/test_image_urls_server_owned.py
  backend/tests/test_api/test_routes/test_profile_pictures.py
  backend/tests/test_services/test_cloud_storage_service.py
  backend/tests/test_services/test_file_upload_path_safety.py
  backend/tests/test_services/test_file_upload_service.py
  backend/tests/test_services/test_storage_delete_ownership.py
  backend/tests/test_services/test_upload_async_offload.py
Due: backend-lint, backend-unit-tests, backend-coverage

fix(books): remove the cover image URL field from the book forms (#797)
  frontend/src/__tests__/BookMetadata.test.tsx
  frontend/src/__tests__/BookMetadataEdgeCases.test.tsx
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/components/BookCreationWizard.tsx
  frontend/src/components/BookMetadataForm.tsx
  frontend/src/components/__tests__/BookMetadataForm.test.tsx
  frontend/src/components/books/__tests__/BookCreationWizard.test.tsx
  frontend/src/lib/api/bookClient.ts
  frontend/src/lib/schemas/bookSchema.ts
  frontend/src/types/book.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: image URLs are server-written; cover upload route and limits (#797)
  docs/CHANGELOG.md
  docs/api-book-endpoints.md
  docs/api-profile-endpoints.md
  docs/book-metadata-fields.md
Due: none

docs(changelog): say which stored URLs are left alone (#797)
  docs/CHANGELOG.md
Due: none

fix(storage): canonical book id for file keys; S3 delete never raises on a bad URL (#797)
  backend/app/api/endpoints/books.py
  backend/app/db/book.py
  backend/app/services/cloud_storage_service.py
  backend/tests/test_api/test_rate_limit_routes.py
  backend/tests/test_api/test_routes/test_image_urls_server_owned.py
  backend/tests/test_services/test_storage_delete_ownership.py
Due: backend-lint, backend-unit-tests, backend-coverage

docs(lessons): stub exception classes, fixture names, closing a write path (#797)
  tasks/lessons.md
Due: none

docs(lessons): correct the count of fixture-name failures (#797)
  tasks/lessons.md
Due: none

fix(storage): image URLs are server-written and deletes are owner-scoped (#797) (#942)
  backend/app/api/endpoints/books.py
  backend/app/api/endpoints/users.py
  backend/app/db/book.py
  backend/app/db/user.py
  backend/app/schemas/book.py
  backend/app/schemas/user.py
  backend/app/services/cloud_storage_service.py
  backend/app/services/file_upload_service.py
  backend/tests/test_api/test_book_cover_upload.py
  backend/tests/test_api/test_rate_limit_routes.py
  backend/tests/test_api/test_routes/test_account_deletion_real_session.py
  backend/tests/test_api/test_routes/test_books_crud_coverage.py
  backend/tests/test_api/test_routes/test_deletion_removes_uploads.py
  backend/tests/test_api/test_routes/test_image_urls_server_owned.py
  backend/tests/test_api/test_routes/test_profile_pictures.py
  backend/tests/test_services/test_cloud_storage_service.py
  backend/tests/test_services/test_file_upload_path_safety.py
  backend/tests/test_services/test_file_upload_service.py
  backend/tests/test_services/test_storage_delete_ownership.py
  backend/tests/test_services/test_upload_async_offload.py
  docs/CHANGELOG.md
  docs/api-book-endpoints.md
  docs/api-profile-endpoints.md
  docs/book-metadata-fields.md
  frontend/src/__tests__/BookMetadata.test.tsx
  frontend/src/__tests__/BookMetadataEdgeCases.test.tsx
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/components/BookCreationWizard.tsx
  frontend/src/components/BookMetadataForm.tsx
  frontend/src/components/__tests__/BookMetadataForm.test.tsx
  frontend/src/components/books/__tests__/BookCreationWizard.test.tsx
  frontend/src/lib/api/bookClient.ts
  frontend/src/lib/schemas/bookSchema.ts
  frontend/src/types/book.ts
  tasks/lessons.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

chore(workspace): live rules for staging-only and test isolation; refresh CLAUDE.md state
  .claude/live-rules/manifest.json
  .claude/live-rules/rules/backend-test-isolation.md
  .claude/live-rules/rules/self-improvement.md
  .claude/live-rules/rules/staging-only.md
  CLAUDE.md
Due: none
