Repository frankbria/auto-author: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

Path conditions:
  frontend-lint: any of: ^frontend/
  frontend-typecheck: any of: ^frontend/
  frontend-unit-tests: any of: ^frontend/
  frontend-coverage: any of: ^frontend/
  frontend-e2e-tests: any of: ^frontend/
  backend-lint: any of: ^backend/
  backend-unit-tests: any of: ^backend/
  backend-coverage: any of: ^backend/

test(users): cover users.py endpoints 49% → 100% + fix 404-swallowing bug (#125)
  backend/app/api/endpoints/users.py
  backend/tests/test_api/test_routes/test_users_coverage.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(users): cover users.py endpoints 49% → 100% + fix 404-swallowing bug (#125) (#142)
  backend/app/api/endpoints/users.py
  backend/tests/test_api/test_routes/test_users_coverage.py
Due: backend-lint, backend-unit-tests, backend-coverage

test(questions): cover question_generation_service.py 73% → 99% + fix dropped in_progress (#126)
  backend/app/schemas/book.py
  backend/tests/test_services/test_question_generation_service.py
  backend/tests/test_services/test_question_generation_service.py.disabled
Due: backend-lint, backend-unit-tests, backend-coverage

test(questions): cover question_generation_service.py 73% → 99% + fix dropped in_progress (#126) (#143)
  backend/app/schemas/book.py
  backend/tests/test_services/test_question_generation_service.py
  backend/tests/test_services/test_question_generation_service.py.disabled
Due: backend-lint, backend-unit-tests, backend-coverage

chore(deps): move test/load-test tooling to optional dev extras (#91)
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CLAUDE.md
  backend/README.md
  backend/pyproject.toml
  backend/uv.lock
Due: backend-lint, backend-unit-tests, backend-coverage

chore(deps): move test/load-test tooling to optional dev extras (#91) (#145)
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CLAUDE.md
  backend/README.md
  backend/pyproject.toml
  backend/uv.lock
Due: backend-lint, backend-unit-tests, backend-coverage

feat(export): professional PDF/DOCX templates with preview + customization (#59)
  AUTO_AUTHOR_USER_MANUAL.md
  backend/app/api/endpoints/export.py
  backend/app/services/export_service.py
  backend/app/services/export_templates.py
  backend/tests/test_api/test_export_endpoints.py
  backend/tests/test_services/test_export_service.py
  backend/tests/test_services/test_export_templates.py
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/components/export/ExportOptionsModal.test.tsx
  frontend/src/components/export/ExportOptionsModal.tsx
  frontend/src/components/export/TemplateSelector.test.tsx
  frontend/src/components/export/TemplateSelector.tsx
  frontend/src/e2e/export-templates.spec.ts
  frontend/src/lib/api/bookClient.ts
  frontend/src/types/export.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

fix(export): address CodeRabbit review on template export (#59)
  backend/app/services/export_service.py
  backend/app/services/export_templates.py
  backend/tests/test_api/test_export_endpoints.py
  backend/tests/test_services/test_export_templates.py
  frontend/src/components/export/ExportOptionsModal.tsx
  frontend/src/components/export/TemplateSelector.test.tsx
  frontend/src/components/export/TemplateSelector.tsx
  frontend/src/e2e/export-templates.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

feat(export): professional PDF/DOCX templates with preview + customization (#59) (#146)
  AUTO_AUTHOR_USER_MANUAL.md
  backend/app/api/endpoints/export.py
  backend/app/services/export_service.py
  backend/app/services/export_templates.py
  backend/tests/test_api/test_export_endpoints.py
  backend/tests/test_services/test_export_service.py
  backend/tests/test_services/test_export_templates.py
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/components/export/ExportOptionsModal.test.tsx
  frontend/src/components/export/ExportOptionsModal.tsx
  frontend/src/components/export/TemplateSelector.test.tsx
  frontend/src/components/export/TemplateSelector.tsx
  frontend/src/e2e/export-templates.spec.ts
  frontend/src/lib/api/bookClient.ts
  frontend/src/types/export.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

feat(export): add EPUB export format (#60)
  backend/app/api/endpoints/export.py
  backend/app/services/export_service.py
  backend/pyproject.toml
  backend/requirements.in
  backend/requirements.txt
  backend/tests/test_api/test_export_endpoints.py
  backend/tests/test_services/test_export_service.py
  backend/uv.lock
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/components/export/ExportOptionsModal.test.tsx
  frontend/src/components/export/ExportOptionsModal.tsx
  frontend/src/components/export/TemplateSelector.tsx
  frontend/src/lib/api/__tests__/bookClient.test.ts
  frontend/src/lib/api/bookClient.ts
  frontend/src/types/export.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

feat(export): add EPUB export format (#60) (#147)
  backend/app/api/endpoints/export.py
  backend/app/services/export_service.py
  backend/pyproject.toml
  backend/requirements.in
  backend/requirements.txt
  backend/tests/test_api/test_export_endpoints.py
  backend/tests/test_services/test_export_service.py
  backend/uv.lock
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/components/export/ExportOptionsModal.test.tsx
  frontend/src/components/export/ExportOptionsModal.tsx
  frontend/src/components/export/TemplateSelector.tsx
  frontend/src/lib/api/__tests__/bookClient.test.ts
  frontend/src/lib/api/bookClient.ts
  frontend/src/types/export.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs: record EPUB export (#60) in Recent Changes
  CLAUDE.md
Due: none

docs: record EPUB export (#60) in Recent Changes (#148)
  CLAUDE.md
Due: none

feat(chapters): AI content enhancement for existing chapter text (#57)
  backend/app/api/endpoints/books.py
  backend/app/services/ai_service.py
  backend/app/services/content_enhancement.py
  backend/tests/test_api/test_enhancement_endpoint.py
  backend/tests/test_services/test_ai_service_enhancement.py
  backend/tests/test_services/test_content_enhancement.py
  frontend/src/__tests__/ContentEnhancer.test.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/ContentEnhancer.tsx
  frontend/src/e2e/content-enhancement.spec.ts
  frontend/src/lib/api/bookClient.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

docs: record content enhancement (#57) in Recent Changes (#149)
  CLAUDE.md
Due: none

feat(chapters): AI content enhancement for existing chapter text (#57)
  CLAUDE.md
  backend/app/api/endpoints/books.py
  backend/app/services/ai_service.py
  backend/app/services/content_enhancement.py
  backend/tests/test_api/test_enhancement_endpoint.py
  backend/tests/test_services/test_ai_service_enhancement.py
  backend/tests/test_services/test_content_enhancement.py
  frontend/src/__tests__/ContentEnhancer.test.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/ContentEnhancer.tsx
  frontend/src/e2e/content-enhancement.spec.ts
  frontend/src/lib/api/bookClient.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

feat(voice): AI cleanup for voice-dictated chapter text (#56)
  CLAUDE.md
  backend/app/api/endpoints/books.py
  backend/app/services/ai_service.py
  backend/app/services/transcription_enhancement.py
  backend/tests/test_api/test_transcription_enhancement_endpoint.py
  backend/tests/test_services/test_ai_service_transcription.py
  backend/tests/test_services/test_transcription_enhancement.py
  frontend/src/__tests__/VoiceEnhancer.test.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/VoiceEnhancer.tsx
  frontend/src/e2e/voice-enhancement.spec.ts
  frontend/src/lib/api/bookClient.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

feat(voice): AI cleanup for voice-dictated chapter text (#56) (#150)
  CLAUDE.md
  backend/app/api/endpoints/books.py
  backend/app/services/ai_service.py
  backend/app/services/transcription_enhancement.py
  backend/tests/test_api/test_transcription_enhancement_endpoint.py
  backend/tests/test_services/test_ai_service_transcription.py
  backend/tests/test_services/test_transcription_enhancement.py
  frontend/src/__tests__/VoiceEnhancer.test.tsx
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/VoiceEnhancer.tsx
  frontend/src/e2e/voice-enhancement.spec.ts
  frontend/src/lib/api/bookClient.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests, backend-lint, backend-unit-tests, backend-coverage

feat(questions): complete progress tracking for chapter questions (#53)
  frontend/src/__tests__/ChapterQuestionsIntegration.test.tsx
  frontend/src/__tests__/ChapterQuestionsMobileAccessibility.test.tsx
  frontend/src/components/chapters/questions/QuestionContainer.tsx
  frontend/src/components/chapters/questions/QuestionNavigation.tsx
  frontend/src/components/chapters/questions/QuestionProgress.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionContainer.test.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionNavigation.test.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionProgress.test.tsx
  frontend/src/e2e/chapter-questions-progress.spec.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(questions): complete progress tracking for chapter questions (#53) (#151)
  frontend/src/__tests__/ChapterQuestionsIntegration.test.tsx
  frontend/src/__tests__/ChapterQuestionsMobileAccessibility.test.tsx
  frontend/src/components/chapters/questions/QuestionContainer.tsx
  frontend/src/components/chapters/questions/QuestionNavigation.tsx
  frontend/src/components/chapters/questions/QuestionProgress.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionContainer.test.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionNavigation.test.tsx
  frontend/src/components/chapters/questions/__tests__/QuestionProgress.test.tsx
  frontend/src/e2e/chapter-questions-progress.spec.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: record chapter-question progress tracking (#53) in Recent Changes
  CLAUDE.md
Due: none

feat(ux): comprehensive loading indicators & skeleton screens (#52)
  docs/E2E_TEST_FIXES_2025-12-29.md
  frontend/run-issue-54-test.sh
  frontend/scripts/package-lock.json
  frontend/src/__tests__/ChapterQuestionsTabs.test.tsx
  frontend/src/__tests__/pages/LoadingSkeletons.test.tsx
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/app/dashboard/loading.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/BookMetadataForm.tsx
  frontend/src/components/__tests__/BookMetadataForm.test.tsx
  frontend/src/components/chapters/ChapterTabs.tsx
  frontend/src/components/chapters/DraftGenerator.tsx
  frontend/src/components/chapters/__tests__/ChapterTabs.test.tsx
  frontend/src/components/chapters/questions/ChapterQuestions.tsx
  frontend/src/components/toc/ClarifyingQuestions.tsx
  frontend/src/components/toc/TocReview.tsx
  frontend/src/components/toc/__tests__/ClarifyingQuestions.test.tsx
  frontend/src/components/toc/__tests__/TocReview.test.tsx
  frontend/src/e2e/staging-issue-54-verification.spec.ts
  plans/001-verification-baseline.md
  plans/002-scrub-secrets-and-debug-logging.md
  plans/003-stop-leaking-exception-detail.md
  plans/004-path-traversal-hardening.md
  plans/005-correct-readme-auth-docs.md
  plans/006-repo-hygiene.md
  plans/007-split-runtime-dev-dependencies.md
  plans/008-atomic-cascade-delete.md
  plans/009-tests-transcription-cover-upload.md
  plans/010-books-py-decomposition-spike.md
  plans/PRIORITIZATION.md
  plans/README.md
  tasks/lessons.md
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

chore: drop unrelated files accidentally added via git add -A (#52)
  docs/E2E_TEST_FIXES_2025-12-29.md
  frontend/run-issue-54-test.sh
  frontend/scripts/package-lock.json
  frontend/src/e2e/staging-issue-54-verification.spec.ts
  plans/001-verification-baseline.md
  plans/002-scrub-secrets-and-debug-logging.md
  plans/003-stop-leaking-exception-detail.md
  plans/004-path-traversal-hardening.md
  plans/005-correct-readme-auth-docs.md
  plans/006-repo-hygiene.md
  plans/007-split-runtime-dev-dependencies.md
  plans/008-atomic-cascade-delete.md
  plans/009-tests-transcription-cover-upload.md
  plans/010-books-py-decomposition-spike.md
  plans/PRIORITIZATION.md
  plans/README.md
  tasks/lessons.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

refactor(ux): address CodeRabbit feedback on #52 loading states
  frontend/src/components/chapters/ChapterTabs.tsx
  frontend/src/components/chapters/__tests__/ChapterTabs.test.tsx
  frontend/src/components/toc/__tests__/TocReview.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: record loading indicators & skeletons (#52) in Recent Changes
  CLAUDE.md
Due: none

feat(ux): comprehensive loading indicators & skeleton screens (#52) (#152)
  CLAUDE.md
  frontend/src/__tests__/ChapterQuestionsTabs.test.tsx
  frontend/src/__tests__/pages/LoadingSkeletons.test.tsx
  frontend/src/app/dashboard/books/[bookId]/page.tsx
  frontend/src/app/dashboard/loading.tsx
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/BookMetadataForm.tsx
  frontend/src/components/__tests__/BookMetadataForm.test.tsx
  frontend/src/components/chapters/ChapterTabs.tsx
  frontend/src/components/chapters/DraftGenerator.tsx
  frontend/src/components/chapters/__tests__/ChapterTabs.test.tsx
  frontend/src/components/chapters/questions/ChapterQuestions.tsx
  frontend/src/components/toc/ClarifyingQuestions.tsx
  frontend/src/components/toc/TocReview.tsx
  frontend/src/components/toc/__tests__/ClarifyingQuestions.test.tsx
  frontend/src/components/toc/__tests__/TocReview.test.tsx
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(mobile): touch targets, swipe nav & viewport for mobile (#51)
  frontend/src/app/auth/sign-in/page.tsx
  frontend/src/app/auth/sign-up/page.tsx
  frontend/src/app/dashboard/layout.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/chapters/ChapterTabs.tsx
  frontend/src/components/chapters/__tests__/ChapterTabs.test.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/radio-group.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/e2e/responsive.spec.ts
  frontend/src/hooks/__tests__/useSwipeGesture.test.tsx
  frontend/src/hooks/useSwipeGesture.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: record mobile responsiveness (#51) in Recent Changes
  CLAUDE.md
Due: none

feat(mobile): touch targets, swipe nav & viewport (#51, P2.9) (#153)
  CLAUDE.md
  frontend/src/app/auth/sign-in/page.tsx
  frontend/src/app/auth/sign-up/page.tsx
  frontend/src/app/dashboard/layout.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/chapters/ChapterTabs.tsx
  frontend/src/components/chapters/__tests__/ChapterTabs.test.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/radio-group.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/e2e/responsive.spec.ts
  frontend/src/hooks/__tests__/useSwipeGesture.test.tsx
  frontend/src/hooks/useSwipeGesture.ts
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

feat(a11y): WCAG 2.1 AA — labels, landmarks, skip link, focus (#50)
  frontend/src/__tests__/ChapterQuestionsMobileAccessibility.test.tsx
  frontend/src/app/auth/layout.tsx
  frontend/src/app/dashboard/layout.tsx
  frontend/src/app/error.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/SummaryInput.tsx
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/src/components/books/DeleteBookModal.tsx
  frontend/src/components/books/__tests__/DeleteBookModal.test.tsx
  frontend/src/components/chapters/EditorToolbar.tsx
  frontend/src/components/chapters/TabBar.tsx
  frontend/src/components/chapters/TabOverflowMenu.tsx
  frontend/src/components/chapters/__tests__/EditorToolbar.test.tsx
  frontend/src/components/chapters/questions/QuestionContainer.tsx
  frontend/src/components/ui/user-button.tsx
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

refactor(a11y): address CodeRabbit review on #50
  frontend/src/app/auth/layout.tsx
  frontend/src/app/globals.css
  frontend/src/components/books/DeleteBookModal.tsx
  frontend/src/components/chapters/__tests__/EditorToolbar.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs: record accessibility WCAG 2.1 AA (#50) in Recent Changes
  CLAUDE.md
Due: none

feat(a11y): WCAG 2.1 AA labels, landmarks, skip link, focus (#50) (#154)
  CLAUDE.md
  frontend/src/__tests__/ChapterQuestionsMobileAccessibility.test.tsx
  frontend/src/app/auth/layout.tsx
  frontend/src/app/dashboard/layout.tsx
  frontend/src/app/error.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/SummaryInput.tsx
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/src/components/books/DeleteBookModal.tsx
  frontend/src/components/books/__tests__/DeleteBookModal.test.tsx
  frontend/src/components/chapters/EditorToolbar.tsx
  frontend/src/components/chapters/TabBar.tsx
  frontend/src/components/chapters/TabOverflowMenu.tsx
  frontend/src/components/chapters/__tests__/EditorToolbar.test.tsx
  frontend/src/components/chapters/questions/QuestionContainer.tsx
  frontend/src/components/ui/user-button.tsx
  tasks/todo.md
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

test(e2e): remove redundant issue-#54 staging harness (#103)
  docs/ISSUE_54_TEST_OPTIONS.md
Due: none

test(e2e): remove redundant issue-#54 staging harness (#103) (#155)
  docs/ISSUE_54_TEST_OPTIONS.md
Due: none

feat(editor): Radix tabs for Interview Questions / Chapter Editor (#110)
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.questionsToggle.test.tsx
  frontend/src/e2e/chapter-questions-tabs.spec.ts
  frontend/src/e2e/complete-authoring-journey.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

fix(editor): restore tab view per chapter, not just on first mount (#110)
  frontend/src/components/chapters/ChapterEditor.tsx
  frontend/src/components/chapters/__tests__/ChapterEditor.questionsToggle.test.tsx
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests

docs(e2e): correct tabs spec header — arrow roving, not Ctrl shortcuts (#110)
  frontend/src/e2e/chapter-questions-tabs.spec.ts
Due: frontend-lint, frontend-typecheck, frontend-unit-tests, frontend-coverage, frontend-e2e-tests
